<div class="w-full">
  <div class="px-6 lg:px-10 max-w-7xl m-auto">
    <div class="py-6 px-6 lg:px-10 rounded-xl bg-[#f1fbff] pb-10 mt-6">
      <div>
        <div class="text-2xl lg:text-3xl font-semibold mb-6">
          Next-gen developer experience
        </div>

        <div class="lg:grid grid-cols-10">
          <img
            class="col-span-5 rounded-xl shadow-md"
            src="../../assets/svg/build-experince.svg"
            alt="Better Build Experience"
          />

          <ul class="text-gray-500 text-lg pt-8 lg:pt-0 pl-4 col-span-5 lg:pl-12 list-disc">
            <li class="pb-2">Flexibility to run builds on your laptop, remotely, or in any CI</li>  
            <li class="pb-2">Reproduce CI failures locally, so you can debug and resolve issues more efficiently</li>  
            <li class="pb-2">Simple, recognizable syntax – like Dockerfile and Makefile had a baby</li>  
            <li class="pb-2">Run x86 builds from Apple Silicon natively</li>  
            <li>Builds are faster because of Satellites' instantly available build cache</li>                 
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
