<img width="103" height="24" src="assets/img/customers/input-output.png" alt="Input/Output" style="width: 103px; height: 24px" />
<img width="83" height="16" src="assets/img/customers/express-vpn.png" alt="ExpressVPN" style="width: 83px; height: 16px" />
<img width="38" height="20" src="assets/img/customers/roche.png" alt="Roche" style="width: 38px; height: 20px" />
<img width="70" height="20" src="assets/img/customers/qualtrics.svg" alt="Qualtrics" style="width: 70px; height: 20px" />
<img width="94" height="16" src="assets/img/customers/overstock.svg" alt="Overstock" style="width: 94px; height: 16px" />
<img width="95" height="20" src="assets/img/customers/nabis.svg" alt="Nabis" style="width: 95px; height: 20px" />
<img width="96" height="16" src="assets/img/customers/bluecore.svg" alt="Bluecore" style="width: 96px; height: 16px" />
<img width="109" height="20" src="assets/img/customers/market-axess.svg" alt="MarketAxess" style="width: 109px; height: 20px" />
<img width="59" height="16" src="assets/img/customers/zapier.svg" alt="Zapier" style="width: 59px; height: 16px" />
<img width="86" height="16" src="assets/img/customers/roblox.svg" alt="Roblox" style="width: 86px; height: 16px" />
<img width="61" height="16" src="assets/img/customers/adobe.svg" alt="Adobe" style="width: 61px; height: 16px" />
<img width="47" height="24" src="assets/img/customers/rios.svg" alt="Rios" style="width: 47px; height: 24px" />
<img width="81" height="24" src="assets/img/customers/vmware.svg" alt="VMware" style="width: 81px; height: 24px" />
<img width="73" height="20" src="assets/img/customers/posit.svg" alt="Posit" style="width: 73px; height: 20px" />
<img width="114" height="16" src="assets/img/customers/netscout.svg" alt="Netscout" style="width: 114px; height: 16px" />
<img width="86" height="24" src="assets/img/customers/deep-genomics.svg" alt="Deep Genomics" style="width: 86px; height: 24px" />
<img width="73" height="20" src="assets/img/customers/namely.svg" alt="Namely" style="width: 73px; height: 20px" />
<img width="75" height="20" src="assets/img/customers/hopper.svg" alt="Hopper" style="width: 75px; height: 20px" />
<img width="32" height="16" src="assets/img/customers/flyr.svg" alt="FLYR" style="width: 32px; height: 16px" />
<img width="69" height="20" src="assets/img/customers/clipboard-health.svg" alt="ClipboardHealth" style="width: 69px; height: 20px" />
<img width="41" height="16" src="assets/img/customers/intel.svg" alt="Intel" style="width: 41px; height: 16px" />
<img width="158" height="20" src="assets/img/customers/the-ai-institute.png" alt="The AI Institute" style="width: 158px; height: 20px" />
