<div class="flex flex-col lg:flex-row gap-10 lg:gap-20 items-center max-w-7xl mt-16 mx-auto px-6 lg:px-10">
  <div class="flex-1">
    <h2 class="text-center lg:text-left">Deployed in Minutes via CI/CD Agent</h2>

    <p class="lg:leading-8 lg:mr-2 mt-5 lg:mt-10 text-center lg:text-left text-slate-600 text-lg lg:text-xl">Unlike traditional tools, Earthly Lunar doesn’t require a full platform overhaul. Just add our agent to your existing CI/CD runners, and instantly unlock rich insights and policy enforcement at scale.</p>
    <p class="lg:leading-8 lg:mr-2 mt-5 lg:mt-10 text-center lg:text-left text-slate-600 text-lg lg:text-xl">Powered by a lightweight CI/CD agent, Earthly Lunar is easily inserted to your existing developer infrastructure, without requiring any changes to your workflows.</p>
  </div>

  {% svg assets/svg/deployed-in-minutes.svg class="h-auto max-w-full lg:max-w-xl xl:max-w-full" %}
</div>
