<div class="flex flex-col lg:flex-row gap-10 lg:gap-20 items-center max-w-7xl mt-16 mx-auto px-6 lg:px-10">
  <div class="flex-1">
    <h2 class="text-center lg:text-left">Deployed In Minutes</h2>

    <p class="lg:leading-8 lg:mr-2 mt-5 lg:mt-10 text-center lg:text-left text-slate-600 text-lg lg:text-xl">Installing Lunar is as easy as running our agent in your CI/CD runners</p>
  </div>

  <img width="692" height="476" class="lg:max-w-xl xl:max-w-full" src="assets/img/deployed-in-minutes.png" alt="Deployed in Minutes" />
</div>
