<div class="flex flex-col lg:flex-row gap-10 lg:gap-20 items-center max-w-7xl mt-16 mx-auto px-6 lg:px-10">
  <div class="flex-1">
    <h2 class="text-center lg:text-left">Installed via CI/CD Agent</h2>

    <p class="lg:leading-8 lg:mr-2 mt-5 lg:mt-10 text-center lg:text-left text-slate-600 text-lg lg:text-xl">Lunar can be installed in minutes. Just add our lightweight agent to your CI/CD runner to instantly gain full visibility and control over every step in your pipelines.
  </div>

  {% svg assets/svg/deployed-in-minutes.svg class="h-auto max-w-full lg:max-w-xl xl:max-w-full" %}
</div>
