<div class="flex flex-col-reverse lg:flex-row gap-10 lg:gap-20 items-center max-w-7xl mt-16 mx-auto px-6 lg:px-10">
  {% svg assets/svg/diverse-tech-stacks.svg class="h-auto max-w-full lg:max-w-xl xl:max-w-full" %}

  <div class="flex-1">
    <h2 class="text-center lg:text-left">Works With Your Diverse Tech Stack</h2>

    <p class="lg:leading-8 mt-5 lg:mt-10 text-center lg:text-left text-slate-600 text-lg lg:text-xl">
      Works seamlessley with your diverse enterprise tech stack. With a rich ecosystem of plugins and the ability to write your own, Earthly Lunar empowers dev teams to work with the tools they need, while maintaing the standards and policies in your organization.
    </p>
  </div>
</div>
