<div class="mt-16 px-9 max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-16">
  <div class="bg-[#F9FAFC] border border-[#EDEDED] rounded-3xl p-6 drop-shadow-md">
    <div class="pt-10 pb-5">{% svg assets/svg/bar-icon.svg %}</div>
    <div class="text-[#475569] text-2xl">Scorecards on Steroids</div>
    <p class="text-lg text-[#6B7280] mt-4 mb-10">Lunar integrates deeply throughout your company-specific development practices, surfacing rich findings directly from your existing code and CI/CD processes.</p>
  </div>
  <div class="bg-[#F9FAFC] border border-[#EDEDED] rounded-3xl p-6 drop-shadow-md">
    <div class="pt-10 pb-5">{% svg assets/svg/plug.svg %}</div>
    <div class="text-[#475569] text-2xl">Integrates With Any Software Catalog</div>
    <p class="text-lg text-[#6B7280] mt-4 mb-10">Already have an IDP or other software catalog? Our flexible catalogers continually import your existing inventory.</p>
    <a class="flex bg-white flex-col items-center sm:flex-row border-[#2D7E5D4D] border px-6 pt-2 pb-2 rounded-2xl w-full sm:w-[385px] justify-around cursor-pointer">
      <span class="flex pt-[10px] sm:pt-0">
        <span>{% svg assets/svg/backstage-software-icon.svg %}</span>
        <span class="text-[#2D7E5D] ml-2 text-sm sm:text-base">Official Backstage plugin</span>
      </span>
      <span class="bg-[#CCCCCC] my-3 sm:my-0 rounded-xl text-[10px] font-bold px-2 flex items-center h-[18px]">Coming soon</span>
    </a>
  </div>
  <div class="bg-[#F9FAFC] border border-[#EDEDED] rounded-3xl p-6 drop-shadow-md">
    <div class="pt-10 pb-5">{% svg assets/svg/eye.svg %}</div>
    <div class="text-[#475569] text-2xl">Visibility for Engineering Leaders</div>
    <p class="text-lg text-[#6B7280] mt-4 mb-10">Aggregate SDLC health scores across every domain, business unit, group, or team. Drill down into problematic areas and know where exactly to allocate resources.</p>
  </div>
  <div class="bg-[#F9FAFC] border border-[#EDEDED] rounded-3xl p-6 drop-shadow-md">
    <div class="pt-10 pb-5">{% svg assets/svg/cloud-service.svg %}</div>
    <div class="text-[#475569] text-2xl">Deployed in your environment</div>
    <p class="text-lg text-[#6B7280] mt-4 mb-10">Everything is fully secured in your own environment or cloud, giving you complete control over the installation and management of your SDLC data.</p>
  </div>
</div>