<div class="mt-16 px-0 xl:px-10 pt-4 max-w-7xl m-auto">
  <div class="bg-[#E8F7FE] flex flex-col items-center px-9">
    <div class="text-[32px] lg:text-4xl pt-8 capitalize text-center">Ready to take your engineering to the next level?</div>
    <div class="flex flex-col md:flex-row gap-4 mt-7 mx-6 mb-8">
      <a
        href="https://github.com/earthly/earthly"
        class="w-80 py-4 text-xl sm:text-2xl text-center cursor-pointer shadow-sm text-white bg-[#2d7e5d] hover:bg-[#2d7e5d] rounded-lg inline-block whitespace-nowrap"
      >
        Get a Demo
      </a>
      <a
        href="https://docs.earthly.dev"
        class="w-80 md:w-64 py-4 text-xl sm:text-2xl text-center cursor-pointer shadow-sm border-2 border-[#2d7e5d] text-[#2d7e5d] rounded-lg inline-block whitespace-nowrap bg-white"
      >
        Read the Docs
      </a>
    </div>
  </div>
</div>