<div class="bg-[#E8F7FE] mt-16 pt-16 px-6">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet" />
  <div class="flex flex-col items-center max-w-7xl mx-auto px-6 lg:px-10">
    <div class="text-[32px] leading-[48px] font-normal text-center">Do It All With Code</div>
    <div class="w-full lg:w-[996px]">
      <p class="text-[#475569] text-xl leading-8 text-center mt-5">Write collectors and policies with just a couple lines of Bash or Python. With the flexibility of real code, you can collect SLDC metadata from any vendor or in-house tooling.</p>
    </div>
  </div>
  {% svg assets/svg/governance-as-code.svg class="h-auto hidden lg:block max-w-full mx-auto mt-8" %}
  {% svg assets/svg/governance-as-code-tablet.svg class="h-auto max-w-full mx-auto mt-8 hidden md:block lg:hidden pb-10" %}
  {% svg assets/svg/governance-as-code-mobile.svg class="h-auto max-w-full mx-auto mt-8 block md:hidden pb-10" %}
</div>

<script>
  /**
   * Copying text from SVGs removes the indentation.
   * This workaround gets the selected text and adds the necessary line breaks and indentation.
   */

  const getIndicesFromOriginalText = (text, copiedText) => {
    const textArr = text.split('')
    const copiedArr = copiedText.split('')

    let startIndex = 0
    let endIndex = -1

    const checkSubsequentChars = startIndex => {
      let lineBreaks = 0

      for (let i = 0; i < copiedArr.length; i++) {
        const currentChar = textArr[startIndex + i + lineBreaks]

        if (
          !currentChar ||
          currentChar === copiedArr[i] ||
          (currentChar === ' ' && new DOMParser().parseFromString(copiedArr[i], 'text/html').body.innerHTML === '&nbsp;')
        ) {
          // If the characters match, continue
          continue
        } else if (currentChar === '\n') {
          // If current character is a line break, increase lineBreaks count
          lineBreaks++
        } else {
          // If characters don't match, return new start index
          return textArr.indexOf(copiedArr[0], startIndex + 1)
        }
      }

      // If subsequent characters match, set endIndex
      endIndex = startIndex + copiedArr.length + lineBreaks
      return startIndex
    }

    if (checkSubsequentChars(startIndex)) {
      while (endIndex === -1) {
        startIndex = checkSubsequentChars(startIndex)
      }
    }

    return { startIndex, endIndex }
  }

  document.querySelectorAll('#code-collectors').forEach(x => {
    x.addEventListener('copy', e => {
      // This text should have the exact text and spacing as in the SVG file.
      const text =
        'collectors:\n  - runBash: lunar collect "hasTests" true\n    hook:\n      type: before-command\n      patterns:\n        - ^go test.*\n        - ^npm test.*\n        - ^python -m .unittest.*'

      const { startIndex, endIndex } = getIndicesFromOriginalText(text, document.getSelection().toString())
      event.clipboardData.setData('text/plain', text.substring(startIndex, endIndex))
      event.preventDefault()
    })
  })

  document.querySelectorAll('#code-policies').forEach(x => {
    x.addEventListener('copy', e => {
      // This text should have the exact text and spacing as in the SVG file.
      const text =
        'policies:\n  - name: "Should have unit tests"\n    runPython: |-\n      import lunar\n      hasTests = lunar.get("hasTests")\n      lunar.assertTrue(hasTests)'

      const { startIndex, endIndex } = getIndicesFromOriginalText(text, document.getSelection().toString())
      event.clipboardData.setData('text/plain', text.substring(startIndex, endIndex))
      event.preventDefault()
    })
  })

  const handleHover = (elem, index) => {
    const { left, top, width } = elem.querySelector('path').getBoundingClientRect()
    const tooltip = document.getElementsByClassName('info-tooltip')[index].style

    tooltip.display = 'block'
    tooltip.top = top - 24 + window.scrollY + 'px'
    tooltip.left = left + width / 2 + window.scrollX + (window.innerWidth > 1023 && window.innerWidth < 1480 && index === 4 ? -40 : 0) + 'px'

    if (window.innerWidth > 1023 && index === 4) {
      const arrow = document.getElementsByClassName('info-tooltip')[index].querySelector('svg').style
      if (window.innerWidth < 1180) arrow.transform = 'translate(133px, 22px)'
      else if (window.innerWidth < 1480) arrow.transform = 'translate(152px, 22px)'
    }
  }

  const handleLeave = (elem, index) => {
    document.getElementsByClassName('info-tooltip')[index].style.display = 'none'
  }
</script>
