<div class="hero mt-[70px] overflow-hidden pt-12 lg:pt-3.5 relative">
  <img class="w-full hidden lg:block absolute" src="assets/svg/clouds.svg" />

  <div class="flex flex-col lg:flex-row gap-10 lg:gap-20 items-center max-w-7xl mx-auto px-6 lg:px-10 relative">
    <div class="flex-1">
      <h1 class="font-medium leading-none text-center lg:text-left text-slate-900">
        Introducing
        <span class="block pt-4 text-[#2d7e5d] text-5xl sm:text-7xl">Earthly Lunar</span>
      </h1>

      <p class="lg:leading-8 mt-9 lg:mt-4 text-center lg:text-left text-base lg:text-xl">
        <span class="font-semibold">Your internal governance platform</span><br />
        Achieve engineering excellence that is out of this world.
      </p>

      <a
        class="bg-[#2d7e5d] inline-block mt-9 py-4 rounded-lg text-2xl text-center text-white"
        href="https://earthly.dev/contact-us"
        onclick="lunarGetADemoClick()"
      >
        Get a demo
      </a>
    </div>

    <img width="488" height="488" src="assets/svg/lunar.svg" alt="Hero" />
  </div>
</div>

<script>
  function lunarGetADemoClick() {
    analytics.track('lunar-get-a-demo-click', {
      category: 'Get a demo Click',
      label: 'lunar-get-a-demo-click'
    })
  }
</script>
