<div class="hero mt-[70px] overflow-hidden relative">
  <div class="max-w-7xl mx-auto pt-12 lg:pt-16 xl:pt-28 px-6 lg:px-10 relative">
    <div class="relative z-10">
      <h1 class="font-medium leading-none text-center lg:text-left text-white">
        Introducing
        <span class="block pt-4 text-white text-5xl sm:text-7xl">Earthly Lunar</span>
      </h1>

      <p class="lg:leading-8 mt-9 lg:mt-4 text-center lg:text-left text-base lg:text-xl text-white">
        <span class="font-semibold">Monitoring for your entire SDLC</span><br />
        Achieve engineering excellence that is out of this world
      </p>

      <a
        class="bg-white border-[#2d7e5d] border-2 inline-block mt-9 py-4 rounded-lg text-2xl text-center text-[#2d7e5d]"
        href="/earthly-lunar/demo"
        onclick="lunarGetADemoClick()"
      >
        Get a demo
      </a>
    </div>

    {% svg assets/svg/lunar.svg class="lg:h-auto absolute lg:top-0" %}
  </div>
</div>

<script>
  function lunarGetADemoClick() {
    analytics.track('lunar-get-a-demo-click', {
      category: 'Get a demo Click',
      label: 'lunar-get-a-demo-click'
    })
  }
</script>
