<div class="mt-16 px-6 pt-4 max-w-[375px] lg:max-w-5xl m-auto mb-16">
  <div class="flex flex-col items-center">
    <div class="text-[40px] mb-2 px-10 lg:px-0 text-center">Here’s How Lunar Works</div>
    <div class="flex relative">
      {% svg assets/svg/men-working.svg class="w-full z-10 hidden lg:block" %}
      {% svg assets/svg/men-working-mobile.svg class="w-full z-10 block lg:hidden" %}
      <span class="absolute top-[54%] lg:top-[54%] right-1 xl:right-[-16px]">
        {% svg assets/svg/green-circle.svg class="hidden lg:block" %}
        {% svg assets/svg/green-circle-mobile.svg class="block lg:hidden" %}
      </span>
      <span class="absolute top-[54%] hidden lg:block">{% svg assets/svg/red-line.svg %}</span>
    </div>
    
    <div class="flex flex-col lg:flex-row mt-16 justify-around">
      <div class="flex flex-col justify-center w-full lg:w-[31%] xl:w-2/5">
        <div class="text-2xl">Step 1: Installation</div>
        <p class="text-lg pt-10 text-[#475569]">Lunar instruments your code repositories and CI/CD pipelines via a lightweight agent. No changes are needed to anyone’s app code or CI/CD Yaml—It's designed to work with the diverse technologies and proceses you already have.</p>
      </div>
      {% svg assets/svg/installation.svg class="w-[99%] lg:w-auto z-10" %}
    </div>
    {% include lunar/green-line.html %}

    <div class="flex flex-col lg:flex-row justify-around">
      <div class="flex flex-col justify-center w-full lg:w-[31%] xl:w-2/5">
        <div class="text-2xl">Step 2: Data Collection</div>
        <div class="text-lg pt-10 text-[#475569]">With easy-to-write custom collectors or existing plugins, you can collect SDLC metadata from pretty much anything.</div>
      </div>
      {% svg assets/svg/data-collection.svg class="w-[99%] lg:w-auto" %}
    </div>
    {% include lunar/green-line.html %}

    <div class="flex flex-col lg:flex-row justify-around">
      <div class="flex flex-col justify-center w-full lg:w-[31%] xl:w-2/5">
        <div class="text-2xl">Step 3: Centralize SDLC Metadata</div>
        <div class="text-lg pt-10 text-[#475569]">Results from collectors are centralized in a database. Each of your components now has a corresponding rich JSON document describing their current level of maturity and standards adherence.</div>
      </div>
      {% svg assets/svg/sdlc-metadata.svg class="w-[99%] lg:w-auto" %}
    </div>
    {% include lunar/green-line.html %}

    <div class="flex flex-col lg:flex-row justify-around mb-24 z-10">
      <div class="flex flex-col justify-center w-full lg:w-[31%] xl:w-2/5">
        <div class="text-2xl">Step 4 : Policy Feedback</div>
        <div class="text-lg pt-10 text-[#475569]">Write policy-as-code and customize their level of enforcement based on business domain or compliance scope. Real-time policy results are calculated on every code change and shown to developers directly in their PRs.</div>
      </div>
      {% svg assets/svg/policy-feedback.svg class="w-[99%] lg:w-auto" %}
    </div>
  </div>
</div>
