<div class="pt-16 px-9 max-w-7xl mx-auto">
  <div class="flex flex-col items-center lg:grid grid-cols-1 lg:grid-cols-3 gap-9">
    <div class="w-[305px] problem-statement-content">
      <h3 class="text-2xl font-bold text-center">Every service is a unique snowflake</h3>
      {% svg assets/svg/lunar-problems.svg class="problems-image h-auto w-full max-w-full mt-6" %}
      <p class="text-lg mt-6">Supporting infinitely diverse CI/CD setups is overwhelming.</p>
      <p class="text-lg mt-6 text-[#475569]">Hundreds of different microservices, tech stacks, teams, CI pipelines, legacy code… Standardizing your engineering culture has become nearly impossible.</p>
    </div>
    <div class="w-[305px] problem-statement-content">
      <h3 class="text-2xl font-bold text-center">Scorecards miss 90% of  SDLC concerns</h3>
      {% svg assets/svg/iceberg.svg class="iceberg-image h-auto w-full max-w-full mt-6" %}
      <p class="text-lg mt-6">You can't govern what you can't see.</p>
      <p class="text-lg mt-12 text-[#475569]">Traditional scorecarding systems in IDPs only see the tip of the iceberg. They don’t measure the most crucial aspects of your engineering practices.</p>
    </div>
    <div class="w-[305px] problem-statement-content">
      <h3 class="text-2xl font-bold text-center">Standardization dreams die in Brownfield reality</h3>
      {% svg assets/svg/ci-cd.svg class="ci-cd-image h-auto w-full lg:w-auto max-w-full mt-6" %}
      <p class="text-lg mt-6">The most critical services are buried in complex dev infrastructure that is hard to replace.</p>
      <p class="text-lg mt-6 text-[#475569]">Templates and scaffolding might help for new services, but trying to rip and replace your existing infrastructure is an (expensive) losing battle.</p>
    </div>
  </div>
</div>
