<div class="bg-[#E8F7FE] mt-16 px-6">
  <div class="max-w-[1440px] mx-auto text-center flex flex-col items-center">
    <div class="text-[32px] leading-[48px] font-normal pt-[76px] mb-5">It’s like production monitoring, but for everything that happens before production.</div>
    <div class="w-11/12 lg:w-4/6">
      <p class="text-[#475569] text-xl leading-8">Production monitoring can tell you if your apps are running correctly.</p>
      <p class="text-[#475569] text-xl leading-8">But in SDLC, you want to know if your apps are <span class="italic">being developed</span> correctly, according to your company standards.</p>
    </div>
    <div class="w-[95%] lg:w-[996px] h-[210px] sm:h-[300px] md:h-[360px] lg:h-[500px] mt-16 mb-16">
       <iframe width="100%" height="100%" src="https://embed.figma.com/proto/kGu2cSULrG4a5lpg3rnQnT/Earthly?node-id=6769-11632&scaling=scale-down-width&content-scaling=fixed&page-id=3902%3A650&starting-point-node-id=6769%3A11632&embed-host=share" allowfullscreen></iframe>
    </div>
  </div>
</div>
