<div class="max-w-7xl mt-4 mx-auto px-4 lg:px-10">
  <h2 class="font-semibold text-2xl lg:text-4xl">Featured Customer Stories</h2>

  <a href="/blog/chroot" class="inline-block mt-4">
    <div class="flex">
      <div class="border border-[#D1D6D9] cursor-pointer flex flex-col lg:flex-row gap-6 group p-6 rounded-lg">
        <div class="w-full lg:w-7/12 h-full overflow-hidden rounded-2xl">
          <img
            class="h-full duration-700 object-cover group-hover:scale-110 transition-transform"
            src="assets/img/opensource-unsplash.jpeg"
            alt="Lorem ipsum dolor sit amet"
          />
        </div>
    
        <div class="flex-1 lg:pb-5 lg:px-8 lg:pt-6">
          <p class="text-sm uppercase">Whitepaper</p>
    
          <p class="font-bold mt-8 text-[#475569] text-xl">
            Lorem ipsum dolor sit amet
          </p>
    
          <p class="mt-4 text-lg tracking-tight">
            Lorem ipsum dolor sit amet consectetur. Habitant turpis viverra
            vestibulum pellentesque tincidunt. Gravida aliquam amet nisl sit augue
            augue massa a. Arcu in lectus integer semper nunc porttitor. Vel est
            mattis a vitae. Arcu in lectus integer semper nunc porttitor. Vel est
            mattis a vitae.
          </p>
    
          <div class="w-fit decoration-[#2d7e5d] flex items-center mt-14 group-hover:underline">
            <p class="font-bold text-[#2d7e5d] text-lg">Read now</p>
            <img class="ml-1" src="assets/svg/chevron-green.svg" alt="Chevron" />
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
