<footer class="siteFooter2">
  <div class="siteFooter-links">
    <ul class="siteFooter-links-navList">
      <li class="siteFooter-links-navItem ">
          <a class="siteFooter-links-navLink " href="https://blog.earthly.dev/">
            Blog
          </a>
      </li>
      <li class="siteFooter-links-navItem ">
          <a class="siteFooter-links-navLink " href="https://docs.earthly.dev/">
            Docs
          </a>
      </li>
  </ul>
    <ul class="siteFooter-links-socialList">
      <li class="siteFooter-links-socialItem siteFooter-links-socialItem--github">
        <a class="siteFooter-links-navLink siteFooter-links-navLink--github" href="{{site.data.github.href}}">
            GitHub
            <span class="siteHeader-navLink-icon">{% svg assets/svg/github-star.svg %}</span>
            <span>{{site.data.github.stars}}</span>
        </a>
      </li>
      <li class="siteFooter-links-socialItem">
        <a class="siteFooter-links-socialLink siteFooter-links-socialLink--twitter" href="https://twitter.com/{{site.twitter_username}}">
          {% svg assets/svg/social-twitter.svg %}
        </a>
      </li>
      <li class="siteFooter-links-socialItem">
        <a class="siteFooter-links-socialLink siteFooter-links-socialLink--slack" href="https://slack.com/">
          {% svg assets/svg/social-slack.svg %}
        </a>
      </li>
    </ul>
  </div>
  <p class="siteFooter-about">Made with 🖤 on Planet Earth</p>
</footer>
