<footer class="siteFooter2">
  <div class="siteFooter-links">
    <ul class="siteFooter-links-navList">
      <li class="siteFooter-links-navItem ">
          <a class="siteFooter-links-navLink " href="https://blog.earthly.dev/">
            Blog
          </a>
      </li>
      <li class="siteFooter-links-navItem ">
          <a class="siteFooter-links-navLink " href="https://docs.earthly.dev/">
            Docs
          </a>
      </li>
  </ul>
    <ul class="siteFooter-links-socialList">
      <li class="siteHeader-navItem">
        <div style="padding: 5px 25px 0px 0px;">
          <a class="github-button" href="https://github.com/earthly/earthly" data-size="large" data-show-count="true" aria-label="Star earthly/earthly on GitHub">Star</a>
        </div>
      </li>
      <li class="siteFooter-links-socialItem">
        <a class="siteFooter-links-socialLink siteFooter-links-socialLink--twitter" href="https://twitter.com/{{site.twitter_username}}">
          {% svg assets/svg/social-twitter.svg %}
        </a>
      </li>
      <li class="siteFooter-links-socialItem">
        <a class="siteFooter-links-socialLink siteFooter-links-socialLink--slack" href="https://join.slack.com/t/earthlycommunity/shared_invite/zt-ix9rtuv8-DUFl8uxe5bFULxyCGGbqJQ">
          {% svg assets/svg/social-slack.svg %}
        </a>
      </li>
    </ul>
  </div>
  <p class="siteFooter-about">Made with 🖤 on Planet Earth</p>
</footer>
