<head>
  {%- include google-analytics.html -%}
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="/assets/img/favicon.png">
  <title>{{ page.title }} - {{ site.description }}</title>
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Earthly - Better Builds" />
  <meta name="twitter:description" content="Build automation for the container era" />
  <meta name="twitter:url" content="https://earthly.dev/" />
  <meta name="twitter:image" content="https://adamgordonbell.ghost.io/content/images/2020/09/twitter-header.jpeg" />
  <meta name="twitter:site" content="@EarthlyTech" />
  
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="/assets/js/button.js"></script> 
</head>
