<header class="siteHeader2">
  <div class="siteHeader-logoAndMenuButton">
    <a class="siteHeader-logoLink" href="{{site.landingurl}}/">
      {% svg assets/svg/white-logo.svg class="siteHeader-logoLink-svg" height=100 %}
    </a>
  </div>
  <nav class="siteHeader-nav">
    <ul class="siteHeader-navList">
          <li class="siteHeader-navItem">
            <div class="star-cta">
              <a class="github-button" href="https://github.com/earthly/earthly" data-size="large" data-show-count="true" aria-label="Star earthly/earthly on GitHub">Star</a>
            </div>
          </li>
          <li class="siteHeader-navItem">
            <a class="siteHeader-navLink " href="https://blog.earthly.dev/">
              Blog
            </a>
          </li>
          <li class="siteHeader-navItem">
            <a class="siteHeader-navLink " href="https://docs.earthly.dev/">
              Docs
            </a>
          </li>
    </ul>
  </nav>
</header>
