<header class="siteHeader2">
  <div class="siteHeader-logoAndMenuButton">
    <a class="siteHeader-logoLink" href="{{site.landingurl}}/">
      {% svg assets/svg/white-logo.svg class="siteHeader-logoLink-svg" height=100 %}
    </a>
  </div>
  <nav class="siteHeader-nav">
    <ul class="siteHeader-navList">
          <li class="siteHeader-navItem">
            <iframe src="https://ghbtns.com/github-btn.html?user=earthly&repo=earthly&type=star&count=true&size=large" frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>
          </li>
          <li class="siteHeader-navItem">
            <a class="siteHeader-navLink " href="https://blog.earthly.dev/">
              Blog
            </a>
          </li>
          <li class="siteHeader-navItem">
            <a class="siteHeader-navLink " href="https://docs.earthly.dev/">
              Docs
            </a>
          </li>
    </ul>
  </nav>
</header>
