<section>
    <div>
        <div>
            <h3 class="Home-heroText-title2">Where Does Earthly Fit? </h3>
        </div>
        <img src="/assets/img/integration2.png" alt="Where does earthly fit">
        <div class="row">
            <div style="display:flex;width:50%">
                <div class="pad">
                    <h3>Before:</h3>
                    <div class="badcheck">
                        <ul >
                            <li>Clunky</li>
                            <li>Flaky</li>
                            <li>Build guru required</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="display:flex;width:50%">
                <div class="pad">
                    <h3>After:</h3>
                    <div class="check">
                        <ul >
                            <li>Reproducibile</li>
                            <li>Understandable</li>
                            <li>No build expert required</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>