<section>
    <div>
        <div>
            <h3 class="Home-heroText-title2">Where Does Earthly Fit? </h3>
        </div>
        <img src="/assets/img/integration-diagram.png" alt="Caching">
        <div class="row">
            <div style="display:flex;width:60%">
                <div class="pad">
                    <div class="badcheck">
                        <ul >
                            <li>Clunky</li>
                            <li>Flaky</li>
                            <li>Build guru required</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="display:flex;width:40%">
                <div class="pad">
                    <div class="check">
                        <ul >
                            <li>Reproducibile</li>
                            <li>Understandable</li>
                            <li>No build expert required</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>