<h3 class="Home-sectionHeading">More Earthly</h3>
<section class="Home-resources">
  <ul class="Home-resources-list">
    <li class="Home-resources-listItem">
      <div class="Home-resources-listItem-text">
        <h4 class="Home-subsectionHeading Home-subsectionHeading--resources">
          {% svg assets/svg/resources-docs.svg class="Home-resources-svg" %}
          Getting Started
        </h4>
        <p>If you are ready to start using earthly.  Head over to our documentation for examples and guides.</p>
       <!-- <div markdown="1">Hello</div> -->
      </div>
      <a href="{{site.docsurl}}/" class="Home-resources-link">Check out Docs</a>
    </li>
    <li class="Home-resources-listItem">
      <div class="Home-resources-listItem-text">
        <h4 class="Home-subsectionHeading Home-subsectionHeading--resources">
        {% svg assets/svg/social-slack.svg class="Home-resources-svg" %}
          Questions?
        </h4>
        <p>Join our slack channel. We are on there Monday through Friday and happy to answer questions.</p>
      </div>
      <a href="https://slack.k8s.io/" class="Home-resources-link">Get Your Invite</a>
    </li>
    <li class="Home-resources-listItem">
      <div class="Home-resources-listItem-text">
        <h4 class="Home-subsectionHeading Home-subsectionHeading--resources">
          {% svg assets/svg/resources-github.svg class="Home-resources-svg" %}
          GitHub
        </h4>
        <p>Want to see the source?  Have you found and issue?  Do you have an idea for a Feature or what to contribute?  Head over to our github repo.</p>
      </div>
      <a href="https://github.com/{{site.github_username}}/tilt" rel="noopener noreferrer" target="_blank" class="Home-resources-link">Earth on GitHub</a>
    </li>
  </ul>
</section>