<section>
    <div>
        <div>
            <h3 class="Home-heroText-title2">Understandble and Reproducible Build Scripts with Earthly</h3>
        </div>
        <div style="display:flex">
            <div style="display:flex;width:50%;">
                <div>
                    <h3>Write declarative configuration files</h3>
                    <div>
                        <ul >
                            <li>Collaborate and share configurations</li>
                            <li>Evolve and version your infrastructure</li>
                            <li>Automate provisioning</li>
                        </ul>
                    </div>
                    <p>Define infrastructure as code to manage the full lifecycle — create new resources, manage existing ones, and destroy those no longer needed.</p>
                </div>
            </div>
            <div style="display:flex;width:50%;">
                <div>
                    <div>
                        <div>
                                <img src="http://placekitten.com/g/600/400" alt="Write Declarative Configuration Files">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="display:flex">
            <div style="display:flex;width:50%;">
                <div>
                    <div>
                        <div>
                                <img src="http://placekitten.com/g/600/400" alt="Write Declarative Configuration Files">
                        </div>
                    </div>
                </div>
            </div>
            <div style="display:flex;width:50%;">
                <div>
                    <div>
                        <h3 class="g-type-display-3">Plan and predict changes</h3>

                        <div class="check">
                            <ul class="g-type-body">
                                <li>Clearly mapped resource dependencies</li>
                                <li>Separation of plan and apply</li>
                                <li>Consistent, repeatable workflow</li>
                            </ul>
                        </div>
                        <p class="g-type-body">Terraform provides an elegant user experience for operators to safely and predictably make
                            changes to
                            infrastructure.</p>
                    </div>
                </div>
            </div>
        </div>
        <div style="display:flex">
            <div style="display:flex;width:50%;">
                <div>
                    <h3>Create reproducible infrastructure</h3>
                    <div>
                        <ul >
                            <li>Reproducible production, staging, and development environments</li>
                            <li>Shared modules for common infrastructure patterns</li>
                            <li>Combine multiple providers consistently</li>

                        </ul>
                    </div>
                    <p>Terraform makes it easy to re-use configurations for similar infrastructure, helping you
                        avoid mistakes and save time.</p>
                    <a href="https://registry.terraform.io/browse/providers">View All Providers</a>
                </div>
            </div>
            <div style="display:flex;width:50%;">
                <div>
                <div>
                <div>
                        <img src="http://placekitten.com/g/600/400" alt="Terraform Overview Infrastucture Providers">
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>