<section>
    <div>
        <div>
            <h3 class="Home-heroText-title2">Understandble and Reproducible Build Scripts with Earthly</h3>
        </div>
        <div style="display:flex">
            <div style="display:flex;width:50%;">
                <div style="padding:20px;">
                    <h3>❤️ Makefile + Dockerfile = Earthfile</h3>
                    <p> It's like Makefile and Dockerfile had a baby.  Earthly takes some of the best ideas from Makefiles and Dockerfiles and combines them into one specification.</p>
                    <div>
                        <h4>Benefits</h4>
                        <ul >
                            <li>Reproducible builds</li>
                            <li>A familiar syntax</li>
                            <li>Caching for more speed</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="display:flex;width:50%;">
                <div style="padding:20px;">
                    <div class="Home-product-Earthfile">
                    <header class="Home-product-Earthfile-header">
                        <div class="Home-product-Earthfile-header-chromeDecoration">
                          {% svg assets/svg/chrome-button.svg class="chrome-button1" %}
                          {% svg assets/svg/chrome-button.svg class="chrome-button2" %}
                          {% svg assets/svg/chrome-button.svg class="chrome-button3" %}
                        </div>
                        Earthfile
                    </header>
                    <code class="Home-product-Earthfile-code">
                        <p><span class="earthfile-term">FROM</span> golang:1.13-alpine3.11</p>
                        <p><span class="earthfile-term">RUN</span> apk --update --no-cache add git</p>
                        <p><span class="earthfile-term">WORKDIR</span> /go-example</p>                                    
                        <p></p>
                        <p><span class="earthfile-target">all:</span></p>
                        <p class="indent"><span class="earthfile-term">BUILD</span> +lint</p>
                        <p class="indent"><span class="earthfile-term">BUILD</span> +docker</p>
                        <p></p>
                        <p><span class="earthfile-target">build:</span></p>
                        <p class="indent"><span class="earthfile-term">COPY</span> main.go .</p>
                        <p class="indent"><span class="earthfile-term">RUN</span> go build -o build/go-example main.go</p>
                        <p class="indent"><span class="earthfile-term">SAVE</span> ARTIFACT build/go-example AS LOCAL build/go-example</p>
                        <p></p>
                        <p><span class="earthfile-target">lint:</span></p>
                        <p class="indent"><span class="earthfile-term">RUN</span> go get golang.org/x/lint/golint</p>
                        <p class="indent"><span class="earthfile-term">COPY</span> main.go .</p>
                        <p class="indent"><span class="earthfile-term">RUN</span> golint -set_exit_status ./...</p>
                    </code> 
                    </div>
                    <p style="text-align:center">A simple GO <a href="https://docs.earthly.dev/examples">example</a></p>
                </div>
            </div>
        </div>
        <div style="display:flex">
            <div style="display:flex;width:50%;">
                <div style="padding:20px;">
                    <div>
                        <div>
                                <img src="https://raw.githubusercontent.com/earthly/earthly/main/img/demo-351683.gif" alt="Building things">
                        </div>
                        <p style="text-align:center">Invoke a build using <code>earth +all.</code></p>
                    </div>
                </div>
            </div>
            <div style="display:flex;width:50%;">
                <div style="padding:20px;">
                    <div>
                        <h3 class="g-type-display-3">Reproduce CI failures</h3>

                        <!-- <div class="check">
                            <ul class="g-type-body">
                                <li>Clearly mapped resource dependencies</li>
                                <li>Separation of plan and apply</li>
                                <li>Consistent, repeatable workflow</li>
                            </ul>
                        </div> -->
                        <p>Earthly builds are self-contained, isolated and reproducible.</p>
                        <p>Regardless of whether Earthly runs in your CI or on your laptop, a the build will run the same way.</p>
                        <p>This allows for faster iteration on the build scripts and easier debugging.</p>
                    </div>
                    <p>No more <code>git commit -m "try again" </code> .  </p>
                </div>
            </div>
        </div>
        <div style="display:flex">
            <div style="display:flex;width:50%;">
                <div style="padding:20px;">
                    <h3>Strong Community</h3>
                    <div>
                        <ul >
                            <li>1300+ Commits</li>
                            <li>500+ Commits</li>
                            <li>50+ forks</li>
                            <li>25+ contributors</li>

                        </ul>
                    </div>
                    <p>Open Source projects benefit from an open and collobarative community.  Earthly encourages contributions.</p>
                </div>
            </div>
            <div style="display:flex;width:50%;">
                <div style="padding:20px;">
                        <!-- <img src="https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3900&q=80" alt="Terraform Overview Infrastucture Providers"> -->
                        <img src="https://images.unsplash.com/photo-1532619675605-1ede6c2ed2b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3900&q=80" />
                </div>
            </div>
        </div>
    </div>
</section>