<section class="bg-light">
    <div>
        <div>
            <h3 class="Home-heroText-title2">Understandable and Reproducible Build Scripts with Earthly</h3>
        </div>
        <div class="row">
            <div class="half">
                <div class="pad">
                    <h3>❤️ Makefile + Dockerfile = Earthfile</h3>
                    <p> It's like Makefile and Dockerfile had a baby.  Earthly takes some of the best ideas from Makefiles and Dockerfiles and combines them into one specification.</p>
                    <div class="check">
                        <h4>Benefits</h4>
                        <ul >
                            <li>Reproducible builds</li>
                            <li>A familiar syntax</li>
                            <li>Caching for more speed</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="half">
                <div class="pad">
                    <div class="Home-product-Earthfile">
                    <header class="Home-product-Earthfile-header">
                        <div class="Home-product-Earthfile-header-chromeDecoration">
                          {% svg assets/svg/chrome-button.svg class="chrome-button1" %}
                          {% svg assets/svg/chrome-button.svg class="chrome-button2" %}
                          {% svg assets/svg/chrome-button.svg class="chrome-button3" %}
                        </div>
                        Earthfile
                    </header>
                    <code class="Home-product-Earthfile-code">
                        <p><span class="earthfile-term">FROM</span> golang:1.13-alpine3.11</p>
                        <p><span class="earthfile-term">RUN</span> apk --update --no-cache add git</p>
                        <p><span class="earthfile-term">WORKDIR</span> /go-example</p>                                    
                        <p></p>
                        <p><span class="earthfile-target">all:</span></p>
                        <p class="indent"><span class="earthfile-term">BUILD</span> +lint</p>
                        <p class="indent"><span class="earthfile-term">BUILD</span> +docker</p>
                        <p></p>
                        <p><span class="earthfile-target">build:</span></p>
                        <p class="indent"><span class="earthfile-term">COPY</span> main.go .</p>
                        <p class="indent"><span class="earthfile-term">RUN</span> go build -o build/go-example main.go</p>
                        <p class="indent"><span class="earthfile-term">SAVE</span> ARTIFACT build/go-example AS LOCAL build/go-example</p>
                        <p></p>
                        <p><span class="earthfile-target">lint:</span></p>
                        <p class="indent"><span class="earthfile-term">RUN</span> go get golang.org/x/lint/golint</p>
                        <p class="indent"><span class="earthfile-term">COPY</span> main.go .</p>
                        <p class="indent"><span class="earthfile-term">RUN</span> golint -set_exit_status ./...</p>
                    </code> 
                    </div>
                    <p style="text-align:center">A simple GO <a href="https://docs.earthly.dev/examples">example</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="half">
                <div class="pad">
                    <div>
                        <div>
                                <img src="https://raw.githubusercontent.com/earthly/earthly/main/img/demo-351683.gif" alt="Building things">
                        </div>
                        <p style="text-align:center">Invoke a build using <code>earth +all.</code></p>
                    </div>
                </div>
            </div>
            <div class="half">
                <div class="pad">
                    <div>
                        <h3 class="g-type-display-3">Reproduce CI failures</h3>
                        <p>Earthly builds are self-contained, isolated and reproducible.</p>
                        <p>Regardless of whether Earthly runs in your CI or on your laptop, a the build will run the same way.</p>
                        <p>This allows for faster iteration on the build scripts and easier debugging.</p>
                    </div>
                    <p>No more <code>git commit -m "try again" </code> .  </p>
                </div>
            </div>
        </div>
    </div>
</section>