<section class="bg-light">
    <div>
        <div>
            <h3 class="Home-heroText-title2">Why do people use Earthly</h3>
        </div>
        <div class="row">
            <div class="half">
                <div class="pad">
                    <div>
                        <div>
                                <img src="https://raw.githubusercontent.com/earthly/earthly/main/img/demo-351683.gif" alt="Building things">
                        </div>
                        <p style="text-align:center">Invoke a build using <code>earth +all.</code></p>
                    </div>
                </div>
            </div>
            <div class="half">
                <div class="pad">
                    <div>
                        <h3 class="g-type-display-3">Some Reason</h3>
                        <p>Earthly builds are self-contained, isolated and reproducible.</p>
                        <p>Regardless of whether Earthly runs in your CI or on your laptop, a the build will run the same way.</p>
                        <p>This allows for faster iteration on the build scripts and easier debugging.</p>
                    </div>
                    <p>No more <code>git commit -m "try again" </code> .  </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="half">
                <div class="pad">
                    <h3>Strong Community</h3>
                    <div>
                        <ul >
                            <li>1300+ Commits</li>
                            <li>500+ Commits</li>
                            <li>50+ forks</li>
                            <li>25+ contributors</li>

                        </ul>
                    </div>
                    <p>Open Source projects benefit from an open and collobarative community.  Earthly encourages contributions.</p>
                </div>
            </div>
            <div class="half">
                <div class="pad">
                        <!-- <img src="https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3900&q=80" alt=""> -->
                        <img src="https://images.unsplash.com/photo-1532619675605-1ede6c2ed2b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3900&q=80" />
                </div>
            </div>
        </div>
    </div>
</section>