html {
  scroll-behavior: smooth;
}

.arrow {
  height: 16px;
  width: 16px;
  background-color: #fff;
  transform: rotate(45deg);
  position: absolute;
  left: 8px;
  top: -9px;
}

.image-author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.prose .image-author img {
  width: 100px;
  height: 100px;
}

.author__avatar_bio .image-author img {
  width: 300px;
  height: 300px;
}

.prose .author__content p {
  margin-top: 0.25em;
}

.page__hero--overlay,
.page__hero {
  min-height: 80px;
}

.home-archive .archive__item-teaser {
  min-height: 80px;
}

.blog-article-wrap {
  max-width: 65ch;
}

@media (min-width: 880px) {
  .site-logo{
    min-height: 75px;
    display: block;
  }
}

@media (min-width: 1024px) {
  .blog-article-wrap {
    max-width: calc(100% - 460px);
  }
}

@media (min-width: 1200px) {
  .wide {
    width: 864px !important;
    position: relative;
    left: -105px;
  }

  .wide img {
    width: 864px !important;
  }

  div.sourceCode {
  }

  .image-needs-border {
    border: 1px solid #999;
  }

  .notice--big--primary div.sourceCode,
  .notice--warning div.sourceCode,
  .notice--info div.sourceCode {
    width: auto !important;
  }

  .page__hero--overlay,
  .page__hero {
    height: 316px;
  }

  .home-archive .archive__item-teaser {
    min-height: 127px;
  }

  .home-archive .hero-story .archive__item-teaser {
    min-height: 258px;
  }

  .blog-article-wrap {
    max-width: 65ch;
    margin: 0 auto;
  }
}

.toc__menu {
  max-height: unset;

  li a {
    margin-bottom: 4px;
  }
}

@media (min-width: 1024px) {
  #series-content {
    width: 250px;
    margin-left: -250px;
  }

  .toc__menu {
    max-height: calc(100vh - 216px);
    overflow-y: auto;

    li a {
      margin-bottom: 0;
    }
  }
}

.min-w-\[100px\] {
  min-width: 100px;
}

.max-w-\[100px\] {
  max-width: 100px;
}

.min-w-\[300px\] {
  min-width: 300px;
}

.max-w-\[1260px\] {
  max-width: 1260px;
}

.page__footer-copyright {
  height: 50px;
}

.notice--big--primary {
  margin: 2em 0 !important;
  padding: 1em;
  background-color: rgb(241, 245, 249);
  background-color: rgb(226, 232, 240);
  border-radius: 9px;
  font-size: 1em !important;
}

.notice--big--primary h3,
.notice--info h3,
.notice--warning h3 {
  margin-top: 0 !important;
}

.notice--big--primary h2,
.notice--info h2,
.notice--warning h2 {
  margin-top: 0 !important;
}

.notice--warning {
  margin: 2em 0 !important;
  padding: 1em;
  font-size: 0.875em;
  background-color: rgb(255, 237, 213);
  border-radius: 9px;
}

.notice--info {
  margin: 2em 0 !important;
  padding: 1em;
  font-size: 0.875em;
  background-color: rgb(220, 252, 231);
  border-radius: 9px;
}

.prose code {
  background-color: rgb(219, 234, 254);
  border-radius: 4px;
  padding: 4px;
}

.prose code::before,
.prose code::after {
  display: none;
}

.align-right {
  float: right;
  margin-left: 1em;
}

.align-left {
  float: left;
  margin-right: 1em;
}

.series-item {
  position: relative;
}

.series-indicator {
  position: absolute;
  left: -16px;
  top: 3px;
}

.page__hero--overlay {
  position: relative;
  margin-bottom: 2em;
  padding: 3em 0;
  clear: both;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation: intro 0.3s both;
  animation: intro 0.3s both;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
  max-width: 1600px;
  margin: 0 auto;
}

.page__hero-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  padding: 2px 5px;
  color: #fff;
  font-family: Georgia, Times, serif;
  font-size: 0.6875em;
  background: #000;
  text-align: right;
  z-index: 5;
  opacity: 0.5;
  border-radius: 4px 0 0 0;
}

@media (max-width: 580px) {
  .blog-article-wrap {
    max-width: 100vw;
    padding: 0 20px;
  }

  .syntax-label,
  .sourceCode{
    font-size: .625em;
  }

}

// Typography Overrides

figcaption {
  text-align: center;
}

.prose ul>li::before {
  background-color: #374151 !important;
}

blockquote p:first-of-type::before {
  content:unset !important;
}

blockquote p:first-of-type::after {
  content:unset !important;
}

// Bazel article
.blockquote p:first-of-type {
  margin-top: 0px !important;
}

.blockquote p:last-of-type {
  margin-bottom: 0px !important;
}

.announcement-banner {
  width: 100%;
  background-color: #f6f8f7;
  padding: 5px 10px;
  text-align: center;
}

.announcement-banner a {
  text-decoration: underline;
}
