<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="body body--{{ page.layout }}">
    <div class="modal-background"></div>

    <main class="page-content" aria-label="Content">
      <div class="p-0 space-y-20 overflow-hidden lg:p-0 md:p-10 lg:space-y-32">
        <div class="relative z-10 max-w-screen-lg px-0 mx-auto lg:p-0 lg:max-w-screen-xl">
     
          {{ content }}
     
        </div>
     </div>

    </main>

   
  </body>
</html>
