---
layout: default
---

<div
  class="p-0 space-y-20 overflow-hidden background-pricing lg:p-0 md:p-10 lg:space-y-32 bg-{{ include.backgroundColor }}">
  <div class="relative z-10 max-w-screen-lg px-0 mx-auto lg:p-0 lg:max-w-screen-xl">

    <div class="pb-10 px-6 lg:px-10 pt-24">
      <article class="wrapper post">
        <header class="post-header">
          <h1 class="
          mb-8
          text-4xl
          font-semibold
          leading-none
          tracking-tight
          text-gray-900
          sm:text-5xl sm:mt-6 sm:mb-10
        ">
            {{ page.title | escape }}
          </h1>
        </header>

        <div class="post-content">{{ content }}</div>
      </article>
    </div>
  </div>
</div>