.check ul {
    text-align: left;
    list-style: none;
    padding-left: 18px;

    & > li {
      position: relative;
      margin: 8px 0;

      &:before {
        position: absolute;
        background: url("/assets/svg/done-check.svg")
          no-repeat;
        content: "";
        left: 10px;
        float: left;
        height: 19px;
        left: 0;
        margin: 1px 0 0 -32px;
        width: 22px;
      }
      & > span.shrink {
        font-size: 14px;
      }
    }
  }

  .badcheck ul {
    text-align: left;
    list-style: none;
    padding-left: 18px;

    & > li {
      position: relative;
      margin: 8px 0;

      &:before {
        position: absolute;
        background: url("/assets/svg/close-icon.svg")
          no-repeat;
        content: "";
        left: 10px;
        float: left;
        height: 19px;
        left: 0;
        margin: 1px 0 0 -32px;
        width: 20px;
      }
      & > span.shrink {
        font-size: 14px;
      }
    }
  }