.siteHeader2 {
  width: 80%;
  display: flex;
  margin-right: auto;
  margin-left: auto;

  @include mobileAndAbove {
    max-width: $earth-header-width;
    padding-top: $spacing-unit * 2;
    padding: $spacing-unit
  }
}

.siteHeader-logoLink {
  opacity: 1;

  &:hover {
    background-color: transparent;
  }
  &:active {
    opacity: 0.8;
  }
}
.siteHeader-logoLink-svg {

  .siteHeader-logoLink:hover & {
    transform: scale(1.05);
  }
}

.siteHeader-nav {
  @include mobileAndAbove {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 20px;
  }
}

.siteHeader-navList {
  list-style-type: none;
  margin-bottom: 0; 

  @include mobileAndAbove {
    display: flex;
    justify-content: flex-end;

    li + li {
      margin-left: $spacing-unit / 4;
    }
  }
}

.siteHeader-navLink {
  font-family: $earth-font-sans;
  font-size: $earth-button-font-size; 
  height: $earth-button-height;
  line-height: $earth-button-height;
  padding-left: $spacing-unit / 4;
  padding-right: $spacing-unit / 4;
  border-radius: $earth-border-radius;
  color: $earth-color-gray;
  display: flex;
  justify-content: center;
  border: 1px solid $earth-color-gray;
  
  &:hover {
    color: $color-white;
    background-color: $earth-color-gray;
  }
}

.siteHeader-navLink--primary {
  color: $color-green;
  border-color: $color-green;

  &:hover {
    color: $color-white;
    background-color: $color-green;
  }
}

.siteHeader-navLink--github {
  color: $earth-color-gray;
  border-color: $earth-color-gray-lighter;
  margin-left: $spacing-unit / 2;
  margin-right: $spacing-unit / 2;

  &:hover {
    color: $color-white;
    background-color: $earth-color-gray;
  }
}


.siteHeader-navLink-icon {
  border-right: 1px solid $earth-color-gray-lighter;
  margin-right:  $spacing-unit / 4;
}

.siteHeader-navLink {
  padding-left: $spacing-unit / 4;
  padding-right: $spacing-unit / 4;
  
  .fillStd {
    fill: $color-yellow;
  }
}

// --------------------------------------------------
// MOBILE LAYOUT

.siteHeader2 {
  @include mobileAndBelow {
    flex-flow: row wrap;

    max-width: $earth-header-width;
    padding-top: $spacing-unit * 2;
    padding: $spacing-unit
  }
}

.siteHeader-navList {
  @include mobileAndBelow {
    margin-left: 0;
  }
}

.siteHeader-logoAndMenuButton {
  @include mobileAndBelow {
    flex: 1;
    box-sizing: border-box;
    // position: fixed;
    left: 0;
    right: 0;
    // background-color: $color-white;
    padding-left: $spacing-unit * 2 ;
    padding-right: $spacing-unit;
    padding-top: $spacing-unit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 100%;
  }
}
.siteHeader-logoLink-svg {
  @include mobileAndBelow {
    width: 185px; // Eyeballed
  }
}

.siteHeader-nav {
  @include mobileAndBelow {
    flex: 1;
    box-sizing: border-box;
    flex-basis: 100%;
    margin-top: 20px;
  }
}

.siteHeader-navItem {
  text-align: center;
}

.siteHeader-menuButton {
  @include reset-button-style;
  cursor: pointer;
  
  @include mobileAndAbove {
    display: none;
  }

  .fillStd {
    fill: $earth-color-gray;
  }

  &:hover {
    .fillStd {
      fill: $earth-color-gray;
    }
  }
}
