<div class="w-full">
  <div class="px-6 lg:px-10 max-w-7xl m-auto">
    <div class="py-6 px-6 lg:px-10 rounded-xl bg-[#f1fbff] pb-10 mt-6">
      <div>
        <div class="text-2xl lg:text-3xl font-semibold mb-2">
          Compatible with every language, framework, and build tool
        </div>

        <div class="lg:grid grid-cols-10 gap-2">
          <ul class="text-gray-500 text-lg pt-2 col-span-5 pr-12 ml-4 list-disc">
            <li class="pb-2">Works with the compilers and build tools you use.</li>
            <li class="pb-2">If it runs on Linux, it runs on Earthly.</li>
            <li class="pb-2">Don’t rewrite your existing builds. Don’t replace your `package.json`, `go.mod`, ...</li>
            <li class="pb-2">You don’t have to rewrite your existing builds or replace your `package.json`, `go.mod`, `build.gradle`, or `Cargo.toml` files.</li>
            <li>Use Earthly as a wrapper around your existing builds and get Earthly’s repeatablability parallelization, and caching.</li>
          </ul>

          <img
            class="col-span-5 rounded-xl shadow-2xl mt-6 lg:mt-3"
            src="../../assets/svg/build-experince.svg"
            alt="Better Build Experience"
          />
        </div>
      </div>
    </div>
  </div>
</div>
