<div class="w-full">
  <div class="px-6 lg:px-10 max-w-7xl m-auto">
    <div class="py-6 px-6 lg:px-10 rounded-xl bg-[#f1fbff] pb-10 mt-6">
      <div>
        <div class="text-2xl lg:text-3xl font-semibold mb-6">
          Automatic caching and parallel execution
        </div>

        <div class="flex flex-col-reverse lg:grid grid-cols-10">
          <div class="text-gray-500 text-lg pt-8 lg:pt-0 col-span-5 lg:pr-6">
            <ul class="ml-4 list-disc pb-4">
              <li class="pb-2">Automatically caches build results at each step of the build. Repeated steps are skipped each build.</li>
              <li>Automatically executes build targets in parallel whenever possible.</li>
            </ul>

            <p class="pb-2">If your build has multiple steps, Earthly:</p>
            <ul class="ml-8 list-decimal">
              <li class="pb-2">Builds a directed acyclic graph (DAG).</li>
              <li class="pb-2">Isolates execution of each step.</li>
              <li class="pb-2">Runs independent steps in parallel.</li>
              <li class="pb-2">Caches results for future use.</li>
            </ul>
          </div>

          <img
            class="col-span-5 rounded-xl shadow-md"
            src="../../assets/svg/automatic-caching.svg"
            alt="Automatic caching and parallel execution"
          />
        </div>
      </div>
    </div>
  </div>
</div>
