<div class="flex flex-col items-center max-w-lg mx-auto mb-6 lg:mb-12 -mt-32 px-6 lg:px-10">
  <div class="text-center text-slate-400 text-xl">
    It’s like Docker for builds!
  </div>
  <a
    href="/get-earthly"
    class="my-0.5 lg:my-2 py-6 text-2xl text-center cursor-pointer shadow-sm text-white bg-[#2d7e5d] hover:bg-[#2d7e5d] rounded-lg w-full inline-block"
    onclick="earthlyCoreTryEarthlyClick()"
  >
    Try Earthly
  </a>
  <div class="text-center text-slate-400 text-l">
    Earthly is Open Source
  </div>
</div>

<script>
  function earthlyCoreTryEarthlyClick() {
    analytics.track('earthly-core-try-earthly-click', {
      category: 'Earthly Core Sign Up Click',
      label: 'earthly-core-try-earthly-click'
    });
  }
</script>
