<div class="w-full">
  <div class="px-6 lg:px-10 pt-14 max-w-7xl m-auto">
    <div class="font-semibold text-3xl lg:text-4xl text-center">
      Open Source and a Strong Community
    </div>
    <div class="pt-2 text-[#6b7280] text-xl lg:text-2xl text-center">
      Open source projects benefit from a collaborative community. Earthly
      encourages contributions.
    </div>

    <div class="bg-white flex flex-col md:flex-row md:flex-wrap gap-5 md:gap-2.5 items-center mt-10 px-6 py-10 rounded-xl shadow-lg community-counts">
      <div class="text-center">
        <p class="text-[#475569] text-4xl tracking-tighter font-bold">9800+</p>
        <p class="mt-2 text-[#6b7280] text-lg">Stars</p>
      </div>

      <div class="divider"></div>

      <div class="text-center">
        <p class="text-[#475569] text-4xl tracking-tighter font-bold">2300+</p>
        <p class="mt-2 text-[#6b7280] text-lg">Commits</p>
      </div>

      <div class="divider"></div>

      <div class="text-center">
        <p class="text-[#475569] text-4xl tracking-tighter font-bold">90+</p>
        <p class="mt-2 text-[#6b7280] text-lg">Contributors</p>
      </div>

      <div class="divider"></div>

      <div class="text-center">
        <p class="text-[#475569] text-4xl tracking-tighter font-bold">1100+</p>
        <p class="mt-2 text-[#6b7280] text-lg">Community Members</p>
      </div>
    </div>

    <div class="pt-10 text-center">
      <div class="pt-4">
        Want to see the source? Found an issue? Have an idea for a feature or
        contribution? Head over to
        <a class="blue-link underline" href="https://github.com/earthly/earthly">our GitHub repo</a>.
      </div>
      <div class="pt-2">
        Have Questions?
        <a class="blue-link underline" href="https://earthly.dev/slack">Join our Slack</a>. We are there Monday through Friday and happy to answer questions.
      </div>
    </div>
  </div>
</div>
