<div class="w-full">
  <div class="px-6 lg:px-10 pt-14 max-w-7xl m-auto">
    <div class="text-3xl lg:text-4xl font-semibold">Strong Community</div>
    <div class="text-xl lg:text-2xl text-slate-500 pt-1 pb-3">
      Open source projects benefit from a collaborative community. Earthly
      encourages contributions.
    </div>

    <div class="grid grid-cols-1 gap-2 lg:gap-4 lg:grid-cols-4 mt-5">
      <div class="p-4 text-center rounded-md lg:p-10 bg-alt-green-100">
        <div class="text-2xl font-bold text-gray-700">9000+</div>
        <div class="text-gray-600">Stars</div>
      </div>
      <div class="p-4 text-center rounded-md lg:p-10 bg-alt-green-100">
        <div class="text-2xl font-bold text-gray-700">2000+</div>
        <div class="text-gray-600">Commits</div>
      </div>
      <div class="p-4 text-center rounded-md lg:p-10 bg-alt-green-100">
        <div class="text-2xl font-bold text-gray-700">85+</div>
        <div class="text-gray-600">Contributors</div>
      </div>
      <div class="p-4 text-center rounded-md lg:p-10 bg-alt-green-100">
        <div class="text-2xl font-bold text-gray-700">975+</div>
        <div class="text-gray-600">Community Members</div>
      </div>
    </div>

    <div class="pt-5">
      <div class="pt-4">
        Want to see the source? Found an issue? Have an idea for a feature or
        contribution? Head over to
        <a class="blue-link underline font-semibold" href="https://github.com/earthly/earthly">our GitHub repo</a>.
      </div>
      <div class="pt-4">
        Have Questions?
        <a class="blue-link underline font-semibold" href="https://earthly.dev/slack">Join our Slack</a>. We are there Monday through Friday and happy to answer questions.
      </div>
    </div>
  </div>
</div>
