<div class="w-full mb-12">
  <div class="flex flex-col md:flex-row gap-5 max-w-7xl mt-20 md:mt-12 mx-auto px-6 lg:px-10">
    <div class="bg-[#f1fbfe] flex flex-col-reverse flex-1 pb-8 pt-6 px-6 rounded-xl">
      <div class="flex-1 mt-6">
        <p class="color-[#475569] font-semibold text-sm tracking-tight">December 2023</p>

        <p class="color-[#475569] font-semibold mt-2 text-2xl tracking-tight">Incremental Rust builds in CI</p>

        <p class="mt-4 text-[#6b7280] text-lg tracking-tight">
          In this post, we present lib/rust, an open-source Earthly library
          created in collaboration with the ExpressVPN core team, that will help
          you get maximum performance on Rust builds in CI when used in....
        </p>

        <a class="inline-block mt-4" href="/blog/incremental-rust-builds/">
          <div class="w-fit decoration-[#2d7e5d] flex items-center hover:underline">
            <p class="font-bold text-[#2d7e5d]">Read more</p>
            <img class="ml-1" src="assets/svg/chevron-green.svg" alt="Chevron" />
          </div>
        </a>
      </div>

      <div>
        <img
          class="w-full md:h-[200px] object-cover object-top rounded-lg"
          src="https://earthly.dev/blog/generated/assets/images/incremental-rust-builds/header-2560-fb5d7e64f.webp"
          alt="Incremental Rust builds in CI"
        />
      </div>
    </div>

    <div class="bg-[#f1fbfe] flex flex-col-reverse flex-1 pb-8 pt-6 px-6 rounded-xl">
      <div class="flex-1 mt-6">
        <p class="color-[#475569] font-semibold text-sm tracking-tight">Documentation</p>

        <p class="color-[#475569] font-semibold mt-2 text-2xl tracking-tight">Earthly guide for Rust</p>

        <p class="mt-4 text-[#6b7280] text-lg tracking-tight">
          This page will help you use Earthly if you are using Rust. Step 1:
          Import the Rust library To get started, import the rust library as
          shown below. Note that the --global-cache flag is currently required
          to allow for...
        </p>

        <a class="inline-block mt-4" href="https://docs.earthly.dev/featured-guides/rust">
          <div class="w-fit decoration-[#2d7e5d] flex items-center hover:underline">
            <p class="font-bold text-[#2d7e5d]">Read more</p>
            <img class="ml-1" src="assets/svg/chevron-green.svg" alt="Chevron" />
          </div>
        </a>
      </div>

      <div>
        <img
          class="w-full md:h-[200px] object-cover object-top rounded-lg"
          src="assets/img/guide-rust.jpg"
          alt="Earthly guide for Rust"
        />
      </div>
    </div>
  </div>
</div>