.hero {
  background: radial-gradient(153.88% 558.28% at 149.46% 50%, #34f8bb 0%, #83ff50 31.5%, #00acd7 73.56%, #52dcff 100%);
  background-blend-mode: multiply;
}

.hero > div {
  height: 800px;
}

.hero h1 {
  font-size: 36px;
}

.hero a {
  width: 100%;
}

.hero > div > svg {
  width: calc(100% + 240px);
  left: -120px;
  top: -414px;
}

.customers {
  background-color: #f9fafb;
}

.customers .gradient {
  width: 40px;
  background: linear-gradient(90deg, #f4f4f4 0%, rgba(244, 244, 244, 0) 100%);
  z-index: 1;
}

.customers .logos {
  height: 72px;
  animation: customers-animation 100s linear infinite;
}

.customers .logos img {
  transform: scale(0.9);
}

h2 {
  font-size: 30px;
  letter-spacing: -0.03em;
  line-height: 40px;
}

.problem-statement-image {
  margin: 48px -60px 0;
  max-width: calc(100% + 120px);
}

.feature h3 {
  font-size: 24px;
  letter-spacing: -0.045em;
  line-height: 34px;
}

.feature p {
  letter-spacing: -0.045em;
}

.info-pulse {
  cursor: pointer;
}

.info-pulse circle {
  animation: info-pulse 2s linear infinite;
  cursor: pointer;
}

.info-pulse:hover circle,
.info-pulse:hover ~ .info-pulse circle,
.info-pulse:has(~ .info-pulse:hover) circle {
  animation-play-state: paused;
}

.info-tooltip {
  width: 288px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.25);
  display: none;
  padding: 24px 24px 11px 24px;
  position: absolute;
  transform: translate(-50%, -100%);
}

.info-tooltip b {
  color: #475569;
}

.info-tooltip p {
  color: #6B7280;
  font-size: 13px;
  letter-spacing: -0.045em;
  line-height: 18px;
  margin-top: 12px;
}

.info-tooltip svg {
  transform: translate(112px, 22px);
}

.animated-text {
  font-family: "Source Code Pro", monospace;
}

@media only screen and (min-width: 420px) {
  .hero > div > svg {
    top: -436px;
  }

  .hero a {
    width: 342px;
  }
}

@media only screen and (min-width: 640px) {
  .hero > div {
    height: 900px;
  }

  .hero > div > svg {
    width: calc(100% + 180px);
    left: -90px;
    top: -380px;
  }

  .problem-statement-image {
    margin: 32px 0 0;
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .hero > div > svg {
    width: 100%;
    left: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .hero > div {
    height: 608px;
  }

  .hero > div > div {
    max-width: unset;
  }

  .hero h1 {
    font-size: 56px;
  }

  .hero > div > svg {
    width: fit-content;
    left: unset;
    right: -172px;
    top: -684px;
  }

  .customers .gradient {
    width: 102px;
  }

  .customers .logos {
    animation-name: customers-animation-desktop;
  }

  .customers .logos img {
    transform: scale(1);
  }

  h2 {
    font-size: 40px;
    line-height: 64px;
  }

  .info-tooltip {
    width: 250px;
  }

  .info-tooltip svg {
    transform: translate(93px, 22px);
  }
}

@media only screen and (min-width: 1180px) {
  .info-tooltip {
    width: 288px;
  }

  .info-tooltip svg {
    transform: translate(112px, 22px);
  }
}

@media only screen and (max-width: 374px) {
  .red-line-mobile,
  .green-line,
  .how-lunar-works-svg {
    display: none;
  }
  .how-lunar-works-mobile-svg {
    display: block;
  }
  .embded-iframe {
    height: 165px;
  }
  .problem-statement-content {
    width: 100%;
  }
}

@keyframes customers-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2271px);
  }
}

@keyframes customers-animation-desktop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2799px);
  }
}

@keyframes info-pulse {
  0% {
    stroke-width: 0;
    transform: scale(1);
  }
  50% {
    stroke-width: 1;
    transform: scale(1.25);
  }
  100% {
    stroke-width: 0;
    transform: scale(1);
  }
}
