<div class="flex flex-col items-center max-w-lg mx-auto mb-6 lg:mb-12 -mt-20 md:-mt-32 px-6 lg:px-10 relative">
  <div class="text-center text-slate-400 text-xl">
    Simpler, Faster Monorepo Builds
  </div>
  <div class="w-full flex flex-col md:flex-row gap-4 max-w-md mx-auto xl:mx-0 my-4 md:my-1 lg:my-0">
    <a
      class="bg-[#2d7e5d] hover:bg-[#2d7e5d] cursor-pointer flex-1 inline-block my-0.5 lg:my-2 py-4 rounded-lg shadow-sm text-2xl text-center text-white"
      href="https://cloud.earthly.dev/login"
      onclick="monoreposTryEarthlyClick()"
    >
      Get Started Free
    </a>
    <a
      class="border border-2 border-[#2d7e5d] hover:bg-[#f1fbff] cursor-pointer inline-block my-0.5 lg:my-2 px-5 py-4 rounded-lg text-2xl text-center text-[#2d7e5d]"
      href="/contact-us"
      onclick="monoreposGetDemoClick()"
    >
      Get a Demo
    </a>
  </div>
</div>

<script>
  function monoreposTryEarthlyClick() {
    analytics.track('monorepo-builds-get-started-free-click', {
      category: 'Get Started Free Click',
      label: 'monorepo-builds-get-started-free-click'
    });
  }

  function monoreposGetDemoClick() {
    analytics.track('monorepo-builds-get-a-demo-click', {
      category: 'Get a Demo Click',
      label: 'monorepo-builds-get-a-demo-click'
    });
  }
</script>
