<div class="w-full">
  <div class="px-6 lg:px-10 pt-10 lg:pt-4 max-w-7xl m-auto mb-10">
    <div class="text-3xl lg:text-4xl font-semibold">Why Earthly Excels in Monorepos?</div>
    <div class="text-xl lg:text-2xl text-slate-500 pt-1 tracking-tight">
      Earthly simplifies and speeds up monorepo builds by only building what's needed, 
      parallelization, caching, and a modern import system for better code reuse.
    </div>

    <div class="flex flex-col lg:flex-row lg:flex-wrap justify-center gap-5 mt-8">
      {% for item in site.data.monorepos-features %}
        <div class="bg-[#f9fafc] border border-[#ededed] p-6 rounded-md shadow-md faster-build-item">
          <img width="45" height="45" src="assets/svg/{{ item.image }}" alt="{{ item.title }}" />
          <h3 class="font-semibold mt-2.5 text-[#475569] text-2xl tracking-tighter">{{ item.title }}</h3>
          <ul class="list-disc mt-4 pl-6 text-[#6b7280] text-lg tracking-tight">
            {% for point in item.points %}
              <li>{{ point }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
