<div class="w-full">
  <div class="px-6 lg:px-10 max-w-7xl m-auto">
    <div class="py-6 px-6 lg:px-10 rounded-xl bg-[#f1fbff] pb-10 mt-6">
      <div>
        <div class="text-2xl lg:text-3xl font-semibold mb-6">
          Advanced caching for complex builds
        </div>

        <div class="lg:grid grid-cols-10">
          <img
            class="w-full bg-white col-span-5 lg:px-10 rounded-xl shadow-md"
            src="../../assets/svg/advanced-caching.svg"
            alt="Compatible with every language, framework, and build tool"
          />

          <div class="text-gray-500 text-lg pt-8 lg:pt-0 col-span-5 lg:pl-8">
            <p class="pb-2">Earthly offers several different caching options to satisfy the requirements of complex builds:</p>
            <ul class="ml-8 list-disc">
              <li class="pb-2"><b>Earthly Satellites</b> – Fully hosted and managed remote runners for the fastest builds with the least effort</li>
              <li class="pb-2"><b>Self-hosted remote runners</b> – remote build execution with a locally stored cache for the fastest builds</li>
              <li class="pb-2"><b>Remote explicit caching</b> – pushing/pulling the cache from an image registry</li>
              <li class="pb-2"><b>Remote inline caching</b> – adding caching metadata to uploaded images</li>
              <li class="pb-2"><b>Mount-based caching</b> – attaching a volume to a target for caching</li>
              <li class="pb-2"><b>Layer-based caching</b> – like Docker layer caching but for more than just images</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
