<div class="w-full mb-12">
  <div class="flex flex-col md:flex-row gap-5 max-w-7xl mt-20 md:mt-12 mx-auto px-6 lg:px-10">
    <div class="bg-[#f1fbfe] flex flex-col-reverse flex-1 pb-8 pt-6 px-6 rounded-xl">
      <div class="flex-1 mt-6">
        <p class="color-[#475569] font-semibold text-sm tracking-tight">October 2020</p>

        <p class="color-[#475569] font-semibold mt-2 text-2xl tracking-tight">The world deserves better builds</p>

        <p class="mt-4 text-[#6b7280] text-lg tracking-tight">
          Hello, developers of planet Earth! Earlier this year, we at Earthly
          embarked on a journey to bring better builds to the world. We started
          with a deep belief that builds should be self-contained...
        </p>

        <a class="inline-block mt-4" href="/blog/the-world-deserves-better-builds">
          <div class="w-fit decoration-[#2d7e5d] flex items-center hover:underline">
            <p class="font-bold text-[#2d7e5d]">Read more</p>
            <img class="ml-1" src="assets/svg/chevron-green.svg" alt="Chevron" />
          </div>
        </a>
      </div>

      <div>
        <img
          class="w-full md:h-[200px] object-cover object-top rounded-lg"
          src="https://earthly.dev/blog/generated/assets/images/the-world-deserves-better-builds/header-2560-cd1fb22a7.webp"
          alt="The world deserves better builds"
        />
      </div>
    </div>

    <div class="bg-[#f1fbfe] flex flex-col-reverse flex-1 pb-8 pt-6 px-6 rounded-xl">
      <div class="flex-1 mt-6">
        <p class="color-[#475569] font-semibold text-sm tracking-tight">August 2023</p>

        <p class="color-[#475569] font-semibold mt-2 text-2xl tracking-tight">Introducing Earthly Cloud</p>

        <p class="mt-4 text-[#6b7280] text-lg tracking-tight">
          We believe CI/CD is overdue for revolutionary improvements, in build
          consistency, speed, and ease of use, and that everyone should have
          access to it. Today we launch Earthly Cloud with a 6,000 build...
        </p>

        <a class="inline-block mt-4" href="/blog/earthly-cloud-free-tier-launch">
          <div class="w-fit decoration-[#2d7e5d] flex items-center hover:underline">
            <p class="font-bold text-[#2d7e5d]">Read more</p>
            <img class="ml-1" src="assets/svg/chevron-green.svg" alt="Chevron" />
          </div>
        </a>
      </div>

      <div>
        <img
          class="w-full md:h-[200px] object-cover object-top rounded-lg"
          src="https://earthly.dev/blog/generated/assets/images/earthly-cloud-free-tier-launch/header-2560-bca252107.webp"
          alt="Introducing Earthly Cloud"
        />
      </div>
    </div>
  </div>
</div>