<div class="w-full">
  <div class="px-6 lg:px-10 max-w-7xl m-auto">
    <div class="py-6 px-6 lg:px-10 rounded-xl bg-[#f1fbff] pb-10 mt-6">
      <div>
        <div class="text-2xl lg:text-3xl font-semibold mb-6">
          Ridiculously Fast Builds!
        </div>

        <div class="lg:grid grid-cols-10">
          <div class="bg-white col-span-5 rounded-xl overflow-hidden shadow-md px-6 lg:px-10 pt-4 pb-28 lg:pb-20 relative">
            <div class="text-xl lg:text-2xl text-gray-600 mb-2">
              CI w/o Satellites <span class="text-gray-600/50">vs</span> CI w/ Satellites
            </div>

            <div class="grid grid-cols-10 border-b pb-2 border-gray-300">
              <div class="col-span-8 lg:col-span-7">
                <div class="h-2 w-[7%] bg-orange-500/90 rounded-xl mt-8"></div>
                <div class="mt-1.5 text-black/70 pr-8">CI w/ Satellites - Up To</div>
              </div>
              <div class="mt-1.5 text-orange-500/90 text-5xl col-span-2 lg:col-span-3 flex items-center justify-end lg:pr-12">
                20x
              </div>
            </div>

            <div class="grid grid-cols-10 border-b pb-2 border-gray-300">
              <div class="col-span-8 lg:col-span-7">
                <div class="h-2 w-[50%] bg-blue-500 rounded-xl mt-8"></div>
                <div class="mt-1.5 text-black/70">CI w/ Satellites - Minimum</div>
              </div>
              <div class="mt-1.5 text-blue-500 text-5xl col-span-2 lg:col-span-3 flex items-center justify-end lg:pr-12">
                2x
              </div>
            </div>

            <div class="grid grid-cols-10 border-b pb-2 border-gray-300">
              <div class="col-span-8 lg:col-span-7">
                <div class="h-2 w-[100%] bg-gray-300 rounded-xl mt-8"></div>
                <div class="mt-1.5 text-black/70">CI w/o Satellites</div>
              </div>
              <div class="mt-1.5 text-gray-300 text-5xl col-span-2 lg:col-span-3 flex items-center justify-end lg:pr-12">
                1x
              </div>
            </div>

            <div class="absolute bottom-3 left-4 lg:left-10">
              <div class="text-sm text-slate-400/80 relative top-2 mb-2">
                Lines represent build time in seconds.
              </div>
              <div class="text-sm text-slate-400/50">
                Based on build speeds reported by our users
              </div>
            </div>
          </div>
          <div class="col-span-5 pt-8 lg:pt-0 pl-4 lg:pl-12">
            <ul class="text-gray-500 text-lg list-disc">
              <li class="pb-2">2-20x faster builds in CI</li>
              <li class="pb-2">Rebuild only what has changed</li>
              <li class="pb-2">Automatic parallel execution</li>
              <li class="pb-2">Automatic caching with no configuration required</li>
              <li class="pb-2">Like layer caching, but for the entire pipeline, not just for images</li>
              <li>No upload/download of cache – instantly available</li>                 
            </ul>

            <a class="inline-block mt-4" href="/faster-builds">
              <div class="w-fit decoration-[#2d7e5d] flex items-center hover:underline">
                <p class="font-bold text-[#2d7e5d]">Read more about what makes Earthly fast</p>
                <img class="ml-1" src="assets/svg/chevron-green.svg" alt="Chevron" />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
