<div class="w-full">
  <div class="px-6 lg:px-10 max-w-7xl m-auto">
    <div class="py-6 px-6 lg:px-10 rounded-xl bg-[#f1fbff] pb-10 mt-6">
      <div>
        <div class="text-2xl lg:text-3xl font-semibold mb-2">
          Better Build Experience
        </div>

        <div class="lg:grid grid-cols-10 gap-2">
          <div class="text-gray-500 text-lg col-span-5 pr-6 pt-2">
            Earthly Satellites make the build experience better. You define
            builds in Earthfiles, which have a super simple, instantly
            recognizable syntax – like Dockerfile and Makefile had a baby.
            <div class="pt-4">
              You can run remote builds directly from your terminal with
              Satellites. So you don’t have to tie up your laptop running long
              builds.
            </div>
            <div class="pt-4">
              And your builds run faster, because of Satellites' instantly
              available build cache.
            </div>
          </div>

          <img
            class="col-span-5 rounded-xl shadow-2xl mt-6 lg:mt-3"
            src="../../assets/svg/build-experince.svg"
            alt="Better Build Experience"
          />
        </div>
      </div>
    </div>
  </div>
</div>
