<div class="flex flex-col items-center max-w-lg mx-auto mb-6 lg:mb-12 -mt-32 px-6 lg:px-10">
  <div class="text-center text-slate-400 text-xl">
    Fast, Simple Remote Build Runners
  </div>
  <a
    href="https://cloud.earthly.dev/login"
    class="my-0.5 lg:my-2 py-6 text-2xl text-center cursor-pointer shadow-sm text-white bg-[#2d7e5d] hover:bg-[#2d7e5d] rounded-lg w-full inline-block"
    onclick="earthlySatellitesTryEarthlySatellitesClick()"
  >
    Get Started Free
  </a>
</div>

<script>
  function earthlySatellitesTryEarthlySatellitesClick() {
    analytics.track('earthly-satellites-get-started-free-click', {
      category: 'Get Started Free Click',
      label: 'earthly-satellites-get-started-free-click'
    });
  }
</script>
