<div class="flex flex-col items-center mx-auto mb-6 lg:mb-12 -mt-32 px-6 lg:px-10">
  <div class="text-center text-slate-400 text-xl">
    Fast, Simple Remote Build Runners
  </div>
  <div class="w-full flex flex-col sm:flex-row gap-4 max-w-xl mb-4 sm:mb-0 mt-4 px-2">
    <a
      href="https://cloud.earthly.dev/login"
      class="flex-1 py-4 text-xl sm:text-2xl text-center cursor-pointer shadow-sm text-white bg-[#2d7e5d] hover:bg-[#2d7e5d] rounded-lg w-full inline-block"
      onclick="earthlySatellitesTryEarthlySatellitesClick()"
    >
      Get Started Free
    </a>
    <a
      href="/earthfile/satellites/pricing"
      class="border-2 border-[#2d7e5d] flex-1 py-4 text-xl sm:text-2xl text-center cursor-pointer shadow-sm text-[#2d7e5d] rounded-lg w-full inline-block"
      onclick="earthlySatellitesTryEarthlySatellitesClick()"
    >
      Pricing
    </a>
  </div>
</div>

<script>
  function earthlySatellitesTryEarthlySatellitesClick() {
    analytics.track('earthly-satellites-get-started-free-click', {
      category: 'Get Started Free Click',
      label: 'earthly-satellites-get-started-free-click'
    });
  }
</script>
