<div class="flex flex-col items-center max-w-lg mx-auto mb-6 lg:mb-12 -mt-20 px-6 lg:px-10">
  <a
    href="https://docs.earthly.dev/earthly-cloud/satellites"
    class="my-0.5 lg:my-2 py-6 text-2xl text-center cursor-pointer shadow-sm text-white bg-[#2d7e5d] hover:bg-[#2d7e5d] rounded-lg w-full inline-block"
    onclick="homepageGetEarthlyClick()"
  >
    Try Earthly Satellites
  </a>
</div>

<script>
  function homepageGetEarthlyClick() {
    analytics.track('homepage-get-earthly-click', {
      category: 'Get Earthly Click',
      label: 'homepage-get-earthly-click'
    });
  }
</script>
