<div class="w-full">
  <div class="relative z-10 max-w-7xl m-auto">
    <div class="w-full pb-4 px-6 lg:px-10 mb-10">
      <div class="text-gray-400 text-lg lg:text-xl lg:ml-4 pb-2">
        <span class="font-semibold mr-1 text-gray-500">100,000</span>
        builds run on Earthly Satellites every month
      </div>

      <div class="relative w-full px-10 bg-gray-50 rounded-2xl py-8 shadow-md">
        <div class="flex flex-col items-center lg:items-center lg:flex-row">
          <div class="lg:mb-0 lg:px-6 lg:w-1/4 flex justify-center">
            <img
              src="../assets/svg/deep-genomics.svg"
              alt="Deep Genomics logo"
              class="h-20 opacity-40 object-contain"
            />
          </div>

          <div class="mt-14 lg:mt-0 lg:mb-0 lg:px-6 lg:w-1/4 flex justify-center">
            <img
              src="../assets/svg/replay.svg"
              alt="Replay.io logo"
              class="h-14 opacity-60 object-contain grayscale"
            />
          </div>

          <div class="mt-14 lg:mt-0 lg:mb-0 lg:px-6 lg:w-1/4 flex justify-center">
            <img
              src="../assets/svg/reco-labs.svg"
              alt="Reco Labs logo"
              class="h-14 opacity-40 object-contain"
            />
          </div>

          <div class="mt-14 lg:mt-0 lg:mb-0 lg:px-6 lg:w-1/4 flex justify-center">
            <img
              src="../assets/svg/ongres.svg"
              alt="OnGres logo"
              class="h-20 object-contain grayscale"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
