<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="body body--{{ page.layout }}">
    <div class="modal-background"></div>
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
        {{ content }}
    </main>

    {%- include footer.html -%}
    {%- include hello-bar.html -%}
   
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="assets/js/analytics.js" crossorigin="anonymous"></script>

</html>
