<div class="text-3xl font-semibold mt-10 mb-4">Compute Pricing<span class="text-xl font-light"> <a id="compute-pricing" href="#compute-pricing">¶</a></span></div>
<div class="leading-9 mb-5 text-gray-600 text-lg">We include a generous number of minutes with every 
  plan that we offer.<br>However, if you exceed the included minutes, overages will be charged 
  according to <b>our low-cost, zero-margin</b> pricing below.</div>
<div class="flex font-semibold items-center text-lg py-4">
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 800 190.803" class="h-6"
         xmlns:v="https://vecta.io/nano">
        <path
                d="M187.888 178.122H143.52l-13.573-32.738H56.003l-12.366 32.738H0L66.667 12.776h47.761zM91.155 52.286L66.912 116.53h50.913zm257.901-39.51h35.88v165.346h-41.219V74.842l-44.608 51.877h-6.301l-44.605-51.877V178.12h-41.219V12.776h35.88l53.092 61.336zm140.319 0c60.364 0 91.391 37.573 91.391 82.909 0 47.517-30.058 82.437-96 82.437h-68.369V12.776zm-31.762 135.041h26.906c41.457 0 53.823-28.129 53.823-52.377 0-28.368-15.276-52.363-54.308-52.363h-26.422v104.74zm205.156-95.836L610.797 0H800v189.21l-51.972-51.975V51.981zm-.061 10.416L609.2 115.903v74.899h74.889l53.505-53.506h-74.886z" />
    </svg>
    <div class="font-normal inline-flex ml-4 text-gray-600">or</div>
    <span style="width: 15px"></span>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 237 73" class="h-6">
        <path fill="#000"
              d="m53.6 2.35h15.9v68.1h-15.9v-7.1c-7 8.1-15.5 9.2-20.4 9.2-21 0-33-17.5-33-36.2 0-22.2 15.2-35.8 33.2-35.8 5 0 13.8 1.3 20.2 9.7zm-37.1 34.4c0 11.7 7.4 21.7 18.9 21.7 10 0 19.3-7.3 19.3-21.5 0-14.9-9.2-22-19.3-22-11.5-0.1-18.9 9.7-18.9 21.8zm71.9-34.4h15.9v6.1c1.8-2.1 4.4-4.4 6.6-5.7 3.1-1.8 6.1-2.3 9.7-2.3 3.9 0 8.1 0.6 12.5 3.2l-6.5 14.4c-3.6-2.3-6.5-2.4-8.1-2.4-3.4 0-6.8 0.5-9.9 3.7-4.4 4.7-4.4 11.2-4.4 15.7v35.4h-15.9zm54.9 0h15.9v6.3c5.3-6.5 11.6-8.1 16.8-8.1 7.1 0 13.8 3.4 17.6 10 5.7-8.1 14.2-10 20.2-10 8.3 0 15.5 3.9 19.4 10.7 1.3 2.3 3.6 7.3 3.6 17.2v42.1h-15.9v-37.4c0-7.6-0.8-10.7-1.5-12.1-1-2.6-3.4-6-9.1-6-3.9 0-7.3 2.1-9.4 5-2.8 3.9-3.1 9.7-3.1 15.5v35.1h-15.9v-37.5c0-7.6-0.8-10.7-1.5-12.1-1-2.6-3.4-6-9.1-6-3.9 0-7.3 2.1-9.4 5-2.8 3.9-3.1 9.7-3.1 15.5v35.1h-15.5z" />
    </svg>

    <div class="font-normal inline-flex ml-4 text-gray-600">instances</div>
</div>
<div class="border-2 border-gray-300 rounded-lg shadow-md pb-2 pt-0 lg:py-6 px-6 bg-white">
    <div class="hidden lg:grid grid-cols-4">
        <div class="font-semibold text-xl pl-2 flex text-gray-600">Instance type</div>
        <div class="font-semibold text-xl pl-2 flex text-gray-600 ">Specs </div>
        <div class="font-semibold text-xl pl-0 flex text-gray-600">Price per minute</div>
        <div class="font-semibold text-xl pl-0 flex text-gray-600">Included minutes ratio</div>
    </div>
    <div class="rounded-lg mt-4 px-4  pt-2 pb-4 border">
        <div class="grid grid-cols-4 border-b hover:bg-[#ebf9ff]">
            <div class="py-4 pl-2 flex flex-col">
                <div class="font-semibold text-lg">xsmall</div>
                <div class="text-xs text-gray-600">AWS t3.small / t4g.small</div>
            </div>
            <div class="pb-4 lg:pb-0 pl-8 lg:pl-0 lg:grid grid-cols-3 w-full col-span-3">
                <div class="py-1 pt-4 lg:py-4 text-sm lg:text-base">2 vCPUs | 2 GB RAM<br />16 GB cache disk
                </div>
                <div class="py-2 lg:py-4">$0.0011 <span class="lg:hidden text-sm text-gray-500">per min.</span></div>
                <div class="w-fit h-fit border-b border-black border-dashed cursor-pointer lg:mr-4 xl:mr-14 pb-1 lg:pt-4 included-minutes-tooltip justify-self-center relative">
                  1X
                  <span class="cursor-default tracking-tight">6,000 min included = 6,000 min on xsmall</span>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-4 border-b hover:bg-[#ebf9ff]">
            <div class="py-4 pl-2 flex flex-col">
                <div class="font-semibold text-lg">small</div>
                <div class="text-xs text-gray-600">AWS t3.medium / t4g.medium</div>
            </div>
            <div class="pb-4 lg:pb-0 pl-8 lg:pl-0 lg:grid grid-cols-3 w-full col-span-3">
                <div class="py-1 pt-4 lg:py-4 text-sm lg:text-base">2 vCPUs | 4 GB RAM<br />32 GB cache disk
                </div>
                <div class="py-2 lg:py-4">$0.0021 <span class="lg:hidden text-sm text-gray-500">per min.</span></div>
                <div class="w-fit h-fit border-b border-black border-dashed cursor-pointer lg:mr-4 xl:mr-14 pb-1 lg:pt-4 included-minutes-tooltip justify-self-center relative">
                  2X
                  <span class="cursor-default tracking-tight">6,000 min included = 3,000 min on small</span>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-4 border-b hover:bg-[#ebf9ff]">
            <div class="py-4 pl-2 flex flex-col">
                <div class="font-semibold text-lg">medium</div>
                <div class="text-xs text-gray-600">AWS t3.large / t4g.large</div>
            </div>
            <div class="pb-4 lg:pb-0 pl-8 lg:pl-0 lg:grid grid-cols-3 w-full col-span-3">
                <div class="py-1 pt-4 lg:py-4 text-sm lg:text-base">2 vCPUs | 8 GB RAM<br />65 GB cache disk
                </div>
                <div class="py-2 lg:py-4">$0.0042 <span class="lg:hidden text-sm text-gray-500">per min.</span></div>
                <div class="w-fit h-fit border-b border-black border-dashed cursor-pointer lg:mr-4 xl:mr-14 pb-1 lg:pt-4 included-minutes-tooltip justify-self-center relative">
                  4X
                  <span class="cursor-default tracking-tight">6,000 min included = 1,500 min on medium</span>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-4 border-b hover:bg-[#ebf9ff]">
            <div class="py-4 pl-2 flex flex-col">
                <div class="font-semibold text-lg">large</div>
                <div class="text-xs text-gray-600">AWS t3.xlarge / t4g.xlarge</div>
            </div>
            <div class="pb-4 lg:pb-0 pl-8 lg:pl-0 lg:grid grid-cols-3 w-full col-span-3">
                <div class="py-1 pt-4 lg:py-4 text-sm lg:text-base">4 vCPUs | 16 GB RAM<br />130 GB cache disk
                </div>
                <div class="py-2 lg:py-4">$0.0084 <span class="lg:hidden text-sm text-gray-500">per min.</span></div>
                <div class="w-fit h-fit border-b border-black border-dashed cursor-pointer lg:mr-4 xl:mr-14 pb-1 lg:pt-4 included-minutes-tooltip justify-self-center relative">
                  8X
                  <span class="cursor-default tracking-tight">6,000 min included = 750 min on large</span>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-4 hover:bg-[#ebf9ff]">
            <div class="py-4 pl-2 flex flex-col">
                <div class="font-semibold text-lg">xlarge</div>
                <div class="text-xs text-gray-600">AWS t3.2xlarge / t4g.2xlarge</div>
            </div>
            <div class="pb-4 lg:pb-0 pl-8 lg:pl-0 lg:grid grid-cols-3 w-full col-span-3">
                <div class="py-1 pt-4 lg:py-4 text-sm lg:text-base">8 vCPUs | 32 GB RAM<br />260 GB cache disk
                </div>
                <div class="py-2 lg:py-4">$0.0168 <span class="lg:hidden text-sm text-gray-500">per min.</span></div>
                <div class="w-fit h-fit border-b border-black border-dashed cursor-pointer lg:mr-4 xl:mr-14 pb-1 lg:pt-4 included-minutes-tooltip justify-self-center relative">
                  16X
                  <span class="cursor-default tracking-tight" style="left: 13px">6,000 min included = 375 min on xlarge</span>
                </div>
            </div>
        </div>
    </div>
</div>
