<div id="pricing-calculator" class="border-2 border-gray-300 bg-white flex flex-col lg:grid gap-2 grid-cols-3 mt-6 rounded-lg shadow">
  <div class="border-b lg:border-0 lg:border-r border-gray-300 col-span-2 mx-3 lg:mx-0 lg:my-3 pb-14 lg:pb-11 lg:pb-8 pt-4 lg:pt-1 px-4 lg:px-8 text-gray-900">
    <div class="font-semibold text-xl tracking-tight">Team size</div>

    <div class="flex items-center justify-between mt-3 relative">
      <div class="text-[#9CA3AF] text-lg tracking-tight">1</div>
      <div class="text-[#9CA3AF] text-lg tracking-tight">50+</div>
      <div id="num-users" class="absolute -bottom-14 -left-2.5 font-semibold text-lg tracking-tight">1 user</div>
    </div>

    <input type="range" min="1" max="51" value="1" class="pricing-slider" id="pricing-slider">
  </div>

  <div>
    <div id="cloud-estimate" class="p-4 pb-6 text-gray-900">
      <div class="flex items-center justify-between">
        <div class="font-bold text-[#2d7e5d] text-xl lg:text-2xl tracking-tight plan-name">Free Plan</div>
        <div class="text-[#9CA3AF] lg:text-lg tracking-tight plan-description">For hobby projects</div>
      </div>

      <div class="flex justify-between cost-estimate">
        <div>
          <div class="flex font-semibold mt-5 text-xl lg:text-2xl">
            <span class="font-normal text-gray-600 text-sm">$</span>
            <span class="tracking-tight plan-price">0</span>
          </div>
          <div class="text-gray-500">per month</div>
        </div>

        <div>
          <div id="plan-minutes" class="font-semibold mt-5 text-xl lg:text-2xl tracking-tight">6,000</div>
          <div class="text-gray-500">minutes/month</div>
        </div>
      </div>

      <a href="/contact-us" class="hidden mt-5 contact-us-button">
        <div class="w-60 bg-green-700 hover:bg-green-800 inline-block py-3 rounded-lg text-center text-white lg:text-xl">
          Contact Us
        </div>
      </a>
    </div>

    <div id="self-hosted-estimate" class="h-full flex hidden items-center justify-between p-4 pb-6 text-gray-900">
      <div>
        <div class="font-bold text-[#2d7e5d] text-xl lg:text-2xl tracking-tight plan-name">Free Plan</div>
        <div class="mt-0.5 text-[#9CA3AF] lg:text-lg tracking-tight plan-description">For hobby projects</div>
      </div>

      <div class="cost-estimate">
        <div class="flex font-semibold text-xl lg:text-2xl">
          <span class="font-normal text-gray-600 text-sm">$</span>
          <span class="tracking-tight plan-price">0</span>
        </div>
        <div class="text-gray-500">per month</div>
      </div>

      <a href="/contact-us" class="hidden contact-us-button">
        <div class="bg-green-700 hover:bg-green-800 inline-block px-6 py-2.5 rounded-lg text-center text-white lg:text-xl">
          Contact Us
        </div>
      </a>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var checkbox = document.getElementById("pricing-toggle-switch")
    var sliderInput = document.getElementById("pricing-slider")
    var numUsers = document.getElementById("num-users")

    sliderInput.addEventListener("input", e => {
      const { min, max, value } = e.target
      e.target.style.backgroundSize = (value - min) * 100 / (max - min) + '% 100%'
      numUsers.innerText = (value > 50 ? '50+' : value) + " user" + (value > 1 ? "s" : "")

      const width = numUsers.getBoundingClientRect().width / 2
      if (value > 45) {
        numUsers.style.left = 'unset'
        numUsers.style.right = `calc((13px * (50 - ${value}) - 12px)`
      } else {
        numUsers.style.left = `calc(${value * 2}% - ${width}px - ${value * .5}px)`
        numUsers.style.right = 'unset'
      }

      var planName = document.querySelectorAll(".plan-name")
      var planDescription = document.querySelectorAll(".plan-description")
      var costEstimate = document.querySelectorAll(".cost-estimate")
      var planPrice = document.querySelectorAll(".plan-price")
      var planMinutes = document.getElementById("plan-minutes")
      var contactUsButton = document.querySelectorAll(".contact-us-button")

      if (value == 1) {
        planName.forEach(x => x.innerText = "Free Plan")
        planDescription.forEach(x => x.innerText = "For hobby projects")
        planPrice.forEach(x => x.innerText = 0)
        planMinutes.innerText = (6000).toLocaleString()
      } else if (value <= 5) {
        planName.forEach(x => x.innerText = "Starter Plan")
        planDescription.forEach(x => x.innerText = "For small projects")
        planPrice.forEach(x => x.innerText = ((checkbox.checked ? 9.17 : 11) * value).toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 }))
        planMinutes.innerText = (10000 + 2000 * value).toLocaleString()
      } else if (value <= 15) {
        planName.forEach(x => x.innerText = "Pro Plan")
        planDescription.forEach(x => x.innerText = "For small teams")
        planPrice.forEach(x => x.innerText = ((checkbox.checked ? 29.17 : 35) * value).toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 }))
        planMinutes.innerText = (20000 + 3000 * value).toLocaleString()
      } else if (value <= 50) {
        planName.forEach(x => x.innerText = "Team Plan")
        planDescription.forEach(x => x.innerText = "For large teams")
        planPrice.forEach(x => x.innerText = ((checkbox.checked ? 49.17 : 59) * value).toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 }))
        planMinutes.innerText = (50000 + 4000 * value).toLocaleString()
      } else {
        planName.forEach(x => x.innerText = "Enterprise Plan")
        planDescription.forEach(x => x.innerText = "For enterprises")
      }

      if (value > 50) {
        costEstimate.forEach(x => x.style.display = 'none')
        contactUsButton.forEach(x => x.style.display = 'flex')
      } else {
        costEstimate[0].style.display = 'flex'
        costEstimate[1].style.display = 'block'
        contactUsButton.forEach(x => x.style.display = 'none')
      }

      var tier1 = document.getElementById("tier-1")
      var tier2 = document.getElementById("tier-2")
      var tier3 = document.getElementById("tier-3")
      var tier4 = document.getElementById("tier-4")

      tier1.style.opacity = value <= 5 ? 1 : 0.5
      tier1.style.pointerEvents = value <= 5 ? "unset" : "none"

      tier2.style.opacity = value <= 5 ? 1 : 0.5
      tier2.style.pointerEvents = value <= 5 ? "unset" : "none"

      tier3.style.opacity = value <= 15 ? 1 : 0.5
      tier3.style.pointerEvents = value <= 15 ? "unset" : "none"

      tier4.style.opacity = value <= 50 ? 1 : 0.5
      tier4.style.pointerEvents = value <= 50 ? "unset" : "none"
    })
  })
</script>
