<div class="bg-[#f4f5f7] mt-12 px-5 lg:px-10 py-8 rounded-xl">
  <div class="font-medium mb-12 text-3xl lg:text-4xl tracking-tighter">
    Frequently Asked Questions
  </div>

  {% for item in site.data.pricing-faqs %}
    <div class="border-b border-gray-300 mt-5 pb-2.5 pricing-faq">
      <div class="cursor-pointer flex items-center" onclick="toggleFAQ(this)">
        <div class="relative">
          <img src="../../../assets/svg/minus.svg" alt="Minus Icon" />
          <img
            src="../../../assets/svg/minus.svg"
            alt="Minus Icon"
          />
        </div>
        <div class="flex-1 font-medium text-2xl ml-2">{{ item.question }}</div>
      </div>

      <div class="answer leading-8 text-gray-500 text-lg ml-7 mt-3">
        {{ item.answer }}
      </div>
    </div>
  {% endfor %}
</div>

<script>
  function toggleFAQ(elem) {
    if (elem.parentElement.classList.contains('open')) {
      elem.parentElement.classList.remove('open')
    } else {
      elem.parentElement.classList.add('open')
    }
  }
</script>