<div class="border-b lg:border-0 lg:border-r border-gray-300 col-span-2 mx-3 lg:mx-0 lg:my-3 pb-14 lg:pb-11 lg:pb-8 pt-4 lg:pt-1 px-4 lg:px-8 text-gray-900">
  <div class="font-semibold text-xl tracking-tight">Team size</div>

  <div class="flex items-center justify-between mt-3 relative">
    <div class="text-[#9CA3AF] text-lg tracking-tight">1</div>
    <div class="text-[#9CA3AF] text-lg tracking-tight">50+</div>
    <div id="num-users" class="absolute -bottom-14 -left-2.5 font-semibold text-lg tracking-tight">
      1 user
    </div>
  </div>

  <input id="pricing-slider" class="pricing-slider" type="range" min="1" max="51" value="1" />
</div>
