<div id="tier-1" class="border-2 border-gray-300 bg-white flex flex-col p-6 pt-4 rounded-lg shadow text-gray-900">
  <div class="font-semibold mb-1 text-3xl">Free</div>
  <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
    For hobby projects
  </div>

  <div class="h-48 xl:h-44 bg-gray-50 border flex flex-col items-center justify-center mt-1 p-3 lg:p-1 xl:p-3 pt-4 lg:pt-4 rounded-lg text-2xl text-gray-600 dark:text-gray-400">
    <div class="flex flex-1 flex-col text-3xl">
        <div class="flex font-semibold justify-center mt-2 text-5xl text-black">
        Free
      </div>
    </div>

    <div class="w-full h-16 bg-white border border-gray-300 flex items-center justify-center mt-2 rounded-lg text-sm">
      <span class="text-base text-black font-semibold">6,000</span>&nbsp;minutes/month
    </div>
  </div>

  <a href="https://cloud.earthly.dev/login" class="flex mt-1 mb-6">
    <div class="w-full bg-green-700 hover:bg-green-800 inline-block mt-2 py-3 rounded-lg text-center text-white text-xl">
      Get Started Free
    </div>
  </a>

  <div class="flex flex-1 flex-col px-2">
    {% for item in site.data.tier-1-pricing %}
      <div class="flex pb-2">
        <img
          style="height: 24px"
          src="./../../assets/svg/done-check.svg"
          alt="Checked bullet"
        />
        <div class="px-2 tracking-tight">{{ item }}</div>
      </div>
    {% endfor %}
  </div>
</div>
