<div class="flex flex-col p-6 pt-4  text-gray-900 bg-white rounded-lg border-2 border-gray-300 shadow ">
    <div class="mb-3 text-3xl font-semibold">Hobby</div>
    <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
        For small projects
    </div>

    <div
        class="flex flex-col border items-center bg-gray-50 mt-2 rounded-lg justify-center  py-4 h-40 text-gray-600 text-2xl dark:text-gray-400">
        <div class="text-3xl flex flex-col pt-4">
            <div class="justify-center flex text-5xl font-semibold text-black mb-2"><span
                    class="text-lg font-normal text-gray-600 ">$</span>9
            </div>
            <div class="font-mono">
                <div class="text-sm">
                    per <a class="underline" href="#what-is-an-active-user"> active user</a>/month
                </div>

                <div class="text-sm">
                    <span class="text-lg">&plus;</span> <a class="underline text-sm"
                        href="#zero-margin-compute">zero-margin compute</a>
                </div>
                <div>&nbsp;</div>
            </div>
        </div>
    </div>
    <a href="/signup/earthly-ci" class="flex mt-1 mb-6">
        <div
            class="mt-2 py-3 text-xl text-center text-white bg-green-700 hover:bg-green-800 rounded-lg w-full  inline-block">
            Sign Up
        </div>
    </a>
    <div class="px-2 flex flex-col flex-1">
        <div class="flex pb-2">
            <img src="./../../assets/svg/done-check.svg" alt="Checked bullet" style="height:24px;" />
            <div class="px-2">14-day free trial</div>
        </div>
        <div class="flex pb-2">
            <img src="./../../assets/svg/done-check.svg" alt="Checked bullet" style="height:24px;" />
            <div class="px-2">Includes 1,000 minutes <span class="text-sm text-gray-400"> +500 mins per active
                    user</span>
            </div>
        </div>
        <div class="flex pb-2">
            <img src="./../../assets/svg/done-check.svg" alt="Checked bullet" style="height:24px;" />
            <div class="px-2">Up to 5 active users</div>
        </div>
        <div class="flex pb-2">
            <img src="./../../assets/svg/done-check.svg" alt="Checked bullet" style="height:24px;" />
            <div class="px-2">XS, S, and M satellites
            </div>
        </div>
        <div class="flex pb-2">
            <img src="./../../assets/svg/done-check.svg" alt="Checked bullet" style="height:24px;" />
            <div class="pl-2">7 days cache retention</div>
        </div>
        <div class="flex pb-2">
            <img src="./../../assets/svg/done-check.svg" alt="Checked bullet" style="height:24px;" />
            <div class="px-2">Community support</div>
        </div>
        <div class="border rounded-lg bg-gray-50 px-4 py-1 text-sm mt-2">Option: Satellites-only package for $7 per
            active user/month</div>
    </div>

</div>