<div class="flex flex-col p-6 pt-4  text-gray-900 bg-white rounded-lg border-2 border-gray-300 shadow ">
    <div class="mb-3 text-3xl font-semibold">Starter</div>
    <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
        For small teams
    </div>

    <div
        class="flex flex-col border items-center bg-gray-50 mt-2 rounded-lg justify-center  py-4 h-40 text-gray-600 text-2xl dark:text-gray-400">
        <div class="text-3xl flex flex-col">
            <div class="justify-center flex text-5xl font-semibold text-black mb-2"><span
                    class="text-lg font-normal text-gray-600 ">$</span>35
            </div>
            <div class="font-mono">
                <div class="text-sm">
                    per <a class="underline" href="#what-is-an-active-user"> active user</a>/month
                </div>
                <div class="text-sm">
                    (w/ <a class="underline" href="#what-is-easein-pricing">ease-in pricing</a>)
                </div>
                <div class="text-sm">
                    <span class="text-lg">&plus;</span> <a class="underline text-sm"
                        href="#zero-margin-compute">zero-margin compute</a>
                </div>
            </div>
        </div>
    </div>
    <a href="/signup/earthly-ci" class="flex mt-1 mb-6">
        <div
            class="mt-2 py-3 text-xl text-center text-white bg-green-700 hover:bg-green-800 rounded-lg w-full  inline-block">
            Sign Up
        </div>
    </a>
    <div class="px-2 flex flex-col flex-1">
        <div class="flex pb-2">
            <img src="./../../assets/svg/done-check.svg" alt="Checked bullet" style="height:24px;" />
            <div class="px-2">14-day free trial</div>
        </div>
        <div class="flex pb-2">
            <img src="./../../assets/svg/done-check.svg" alt="Checked bullet" style="height:24px;" />
            <div class="px-2">Includes 2,000 minutes <span class="text-sm text-gray-400"> +750 mins per active
                    user</span>
            </div>
        </div>
        <div class="flex pb-2">
            <img src="./../../assets/svg/done-check.svg" alt="Checked bullet" style="height:24px;" />
            <div class="px-2">Up to 15 active users</div>
        </div>
        <div class="flex pb-2">
            <img src="./../../assets/svg/done-check.svg" alt="Checked bullet" style="height:24px;" />
            <div class="px-2">XS, S, M, L, and XL satellites
            </div>
        </div>
        <div class="flex pb-2">
            <img src="./../../assets/svg/done-check.svg" alt="Checked bullet" style="height:24px;" />
            <div class="pl-2">14 days cache retention</div>
        </div>
        <div class="flex pb-2">
            <img src="./../../assets/svg/done-check.svg" alt="Checked bullet" style="height:24px;" />
            <div class="px-2">Community support</div>
        </div>
        <div class="flex pb-2">
            <img src="./../../assets/svg/done-check.svg" alt="Checked bullet" style="height:24px;" />
            <div class="px-2">Static originating IP address</div>
        </div>
        <div class="flex pb-2">
            <img src="./../../assets/svg/done-check.svg" alt="Checked bullet" style="height:24px;" />
            <div class="px-2">ARM satellites</div>
        </div>
        <div class="flex flex-col h-full justify-end">
            <div class="border rounded-lg bg-gray-50 px-4 py-1 text-sm mt-2"><a href="#satellite-only-package" class="underline">Satellites-only</a>
                    package for $28 per
                active user/month<br/><a
                    href="https://docs.earthly.dev/earthly-cloud/satellites" class="underline">Get started now</a></div>
        </div>


    </div>

</div>