@tailwind base;
@tailwind components;
@tailwind utilities;

.earthfile-term {
  color: #5edbe3;
}

.earthfile-target {
  color: #ef5aa0;
}

main.wave-main {
  background: #e8f8fe;
  height: 500px;
  flex: 1;
  width: 100%;
  position: relative;
}

.wave {
  animation: wave 50s infinite linear;
  background-image: url("/assets/svg/wave.svg");
  background-size: 50% 100%;
  bottom: -5%;
  left: 0;
  opacity: var(--opacity);
  position: absolute;
  right: 0;
  width: 100vw;
  will-change: transform;
}

@keyframes wave {
  to {
    transform: translate(-50%, 0);
  }
}

.wave:nth-of-type(1) {
  height: 400px;
  bottom: -100px;
  left: -10px;
  opacity: 0.8;
  width: 12000px;
}
.wave:nth-of-type(2) {
  height: 370px;
  opacity: 0.7;
  left: -1520px;
  bottom: -100px;
  width: 14000px;
}
.wave:nth-of-type(3) {
  height: 360px;
  opacity: 0.5;
  left: -600px;
  bottom: -100px;
  width: 12000px;
}

.wave:nth-of-type(2) {
  z-index: 2;
}

.wave:nth-of-type(3) {
  z-index: 3;
}

main.wave-main.homepage {
  height: fit-content;
}

.homepage .wave:nth-of-type(1) {
  top: 148px;
}

.homepage .wave:nth-of-type(2) {
  top: 178px;
}

.homepage .wave:nth-of-type(3) {
  top: 188px;
}

@media screen and (min-width: 1280px) {
  .homepage .wave {
    animation: none;
  }

  .earthly-animation {
    margin-bottom: -24px;
    top: 108px;
    right: -24px;
  }
}

@media screen and (min-width: 1366px) {
  .earthly-animation {
    right: 0;
  }
}

@media screen and (min-width: 1536px) {
  .earthly-animation {
    margin-bottom: -64px;
    top: 88px;
    right: 0;
  }
}

.earthfile-term {
  color: #5edbe3;
}
.earthfile-target {
  color: #ef5aa0;
}
.chrome-button1 {
  fill: #f6685c;
}
.chrome-button2 {
  fill: #fcb41e;
}
.chrome-button3 {
  fill: #20ba31;
}
.widget {
  display: inline-block;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
}

.siteHeader-logoLink-svg {
  position: relative;
  top: 5px;
  height: 60px;
}

.selected-point {
  @apply lg:bg-white lg:border lg:border-white lg:shadow-md lg:font-semibold lg:text-black !important;
}

.hover-title-info.active img {
  transform: rotate(180deg);
}

.hover-title-info img {
  transform: rotate(0);
  transition: all 0.25s ease-in-out;
}

.mobile-pain-point {
  height: auto;
  margin-bottom: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 24px;
  transition: all 0.25s ease-in-out;
}

.mobile-pain-point.active {
  margin-bottom: 8px;
  max-height: 600px;
  opacity: 1;
  padding: 24px;
}

.display-icon {
  stroke: #2d7e5d;
}

/* Back Pulse */
@-webkit-keyframes hvr-back-pulse {
  50% {
    box-shadow: 0 0 10px rgba(32, 152, 209, 0.75);
  }
}
@keyframes hvr-back-pulse {
  50% {
    box-shadow: 0 0 10px rgba(32, 152, 209, 0.75);
  }
}
.hvr-back-pulse {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  transition-duration: 1s;
  transition-property: color, background-color;
}
.hvr-back-pulse:hover,
.hvr-back-pulse:focus,
.hvr-back-pulse:active {
  animation-name: hvr-back-pulse;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: white;
}

.background-pricing {
  background: linear-gradient(180deg, #e8f8ff 0%, #ffffff 30%, #ffffff 100%);
}

.announcement-banner {
  width: 100%;
  background-color: #f6f8f7;
  padding: 5px 10px;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.announcement-banner a {
  text-decoration: underline;
}

.progress-bar {
  --progress: calc(360deg - var(--progress-value) * 3.6deg);
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  align-items: center;
  background: radial-gradient(closest-side, white 83%, transparent 84% 100%),
    conic-gradient(
      #d1d6d9 0deg,
      #d1d6d9 var(--progress),
      #4175dd var(--progress),
      #4175dd 1turn
    );
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
