{% comment %}
    Default teaser image to teaser.jpg
{% endcomment %}
{% assign post = include.post %}
{% assign teaser1 = "assets/images/" | append: post.slug | append: "/teaser.jpg" %}
{% capture teaser_default %}{% file_exists {{ teaser1 }} %}{% endcapture %}

{% assign header1 = "assets/images/" | append: post.slug | append: "/header.jpg" %}
{% capture header_default %}{% file_exists {{ header1 }} %}{% endcapture %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% elsif teaser_default == "true" %}
  {% assign teaser = teaser1 %}
{% elsif header_default == "true" %}
  {% assign teaser = header1 %}
{% elsif post.header.overlay_image %}
  {% assign teaser = post.header.overlay_image %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'grid' }}__item mb-6 rounded-lg border border-slate-300 pb-5">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser rounded-t-lg overflow-hidden">
        {% if post.link %}
        <a class="hover:underline" href="{{ post.link }}">{% picture 2up-lazy {{teaser}} %}</a>
      {% else %}
        <a class="hover:underline" href="{{ post.url | relative_url }}" rel="permalink">{% picture 2up-lazy {{teaser}} %}</a>
      {% endif %}
      </div>
    {% endif %}
    <div class="p-5 pt-0">
    {% if include.heading == "heading" %} 
    <h2 class="archive__item-title no_toc heading mt-4 pl-2 pr-2 text-xl font-semibold" itemprop="headline">
    {% else %}
    <div class="archive__item-title no_toc heading mt-4 pl-2 pr-2 text-xl font-semibold" itemprop="headline">
    {% endif %}
      {% if post.link %}
        <a class="hover:underline" href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a class="hover:underline" href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    {% if include.heading == "heading" %} 
    </h2>
      {% else %}
    </div>
    {% endif %}

    {% include archive__meta.html type=include.type %}
    {% if post.excerpt %}<p class="archive__item-excerpt pl-2 pt-1 pr-2" itemprop="description">{{ post.excerpt | truncate: 160 }}</p>{% endif %}
  </div>
  </article>
</div>
