{%- comment -%}Check for first author and display their profile if present{%- endcomment -%}
{% if include.author1 %}
  {% assign author = site.data.authors[include.author1] %}
  <div
    itemscope
    itemtype="https://schema.org/Person"
    class="flex border rounded-md items-center my-2"
  >
    {% if author.avatar %}
    <div class="author__avatar ml-2 min-w-[100px] max-w-[100px] flex">
      {% picture author {{author.avatar }} --picture class="image-author" --alt {{ author.name }} % %}
    </div>
    {% endif %}
    <div class="author__content">
      <div class="author__name heading pl-4 text-xl font-bold mt-4" itemprop="name">
        {% if author.home %}
        <a href="{{ author.home | relative_url }}">
          {{ author.name }}
        </a>
        {% else %}
        {{ author.name }}
        {% endif %}
      </div>
      {% if author.bio %}
      <div class="author__bio text-sm px-4" itemprop="description">
        {{ author.bio | markdownify }}
      </div>
      {% endif %}
    </div>
  </div>
{% endif %}

{%- comment -%}Repeat blocks for author2 and author3 with similar structure{%- endcomment -%}
{% if include.author2 %}
  {% assign author = site.data.authors[include.author2] %}
  <div
  itemscope
  itemtype="https://schema.org/Person"
  class="flex border rounded-md items-center my-2"
>
  {% if author.avatar %}
  <div class="author__avatar ml-2 min-w-[100px] max-w-[100px] flex">
    {% picture author {{author.avatar }} --picture class="image-author" --alt {{ author.name }} % %}
  </div>
  {% endif %}
  <div class="author__content">
    <div class="author__name heading pl-4 text-xl font-bold mt-4" itemprop="name">
      {% if author.home %}
      <a href="{{ author.home | relative_url }}">
        {{ author.name }}
      </a>
      {% else %}
      {{ author.name }}
      {% endif %}
    </div>
    {% if author.bio %}
    <div class="author__bio text-sm px-4" itemprop="description">
      {{ author.bio | markdownify }}
    </div>
    {% endif %}
  </div>
</div>
{% endif %}

{% if include.author3 %}
  {% assign author = site.data.authors[include.author3] %}
  <div
  itemscope
  itemtype="https://schema.org/Person"
  class="flex border rounded-md items-center my-2"
>
  {% if author.avatar %}
  <div class="author__avatar ml-2 min-w-[100px] max-w-[100px] flex">
    {% picture author {{author.avatar }} --picture class="image-author" --alt {{ author.name }} % %}
  </div>
  {% endif %}
  <div class="author__content">
    <div class="author__name heading pl-4 text-xl font-bold mt-4" itemprop="name">
      {% if author.home %}
      <a href="{{ author.home | relative_url }}">
        {{ author.name }}
      </a>
      {% else %}
      {{ author.name }}
      {% endif %}
    </div>
    {% if author.bio %}
    <div class="author__bio text-sm px-4" itemprop="description">
      {{ author.bio | markdownify }}
    </div>
    {% endif %}
  </div>
</div>
{% endif %}

{%- comment -%}Check for editor and display their profile if present{%- endcomment -%}
{% if include.editor %}
  {% assign editor = site.data.authors[include.editor] %}
  <div
    itemscope
    itemtype="https://schema.org/Person"
    class="border rounded-md mt-2"
  >
    <div class="flex flex-col">
      <div class="text-sm px-4 pt-3">
        <em>Writers at [Your Site Name] work closely with our talented editors to help them create high quality content. This article was edited by:</em>
      </div>
      <div class="flex items-center">
        {% if editor.avatar %}
        <div class="author__avatar ml-2 min-w-[100px] max-w-[100px] flex">
          {% picture author {{editor.avatar }} --picture class="image-author" --alt {{ editor.name }} % %}
        </div>
        {% endif %}
        <div class="author__content">
          <div class="author__name heading pl-4 text-xl font-bold mt-4" itemprop="name">
            {% if editor.home %}
            <a href="{{ editor.home | relative_url }}">
              {{ editor.name }}
            </a>
            {% else %}
            {{ editor.name }}
            {% endif %}
          </div>
          {% if editor.bio %}
          <div class="author__bio text-sm px-4" itemprop="description">
            {{ editor.bio | markdownify }}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
