<script src="https://cdn.jsdelivr.net/npm/@growthbook/growthbook/dist/bundles/index.js"></script>
<script>
  // Uncomment for testing
  //var earthlyID = uuidv4();
  var earthlyID = getAnalyticCookie();

  // Create a GrowthBook instance
  const gb = new growthbook.GrowthBook({
    apiHost: "https://cdn.growthbook.io",
    clientKey: "sdk-7wtJG1WYaaYBiQ",
    enableDevMode: true,
    attributes: {
      id: earthlyID
    },
    trackingCallback: (experiment, result) => {
      analytics.track("Experiment Viewed", {
        experimentId: experiment.key,
        variationId: result.key,
      });
    }
  });

  // Wait for features to be available
  gb.loadFeatures({ autoRefresh: true, timeout: 2000 }).then(() => {
    // Uncomment for testing
    // console.log("Features loaded");
    if(document.getElementById("homepage-hero-headline-div-control")){
      //console.log("on homepage");
      if(gb.isOn("homepage-hero-copy-20220427")) {
          document.getElementById("homepage-hero-headline-div-control").style.display = "none";
          document.getElementById("homepage-hero-headline-div-test").style.display = "inline";
          document.getElementById("homepage-hero-headline-p-control").style.display = "none";
          document.getElementById("homepage-hero-headline-p-test").style.display = "inline";
          document.getElementById("homepage-cta-kicker-div-control").style.display = "none";
          document.getElementById("homepage-cta-kicker-div-test").style.display = "inline";
        } else {
          document.getElementById("homepage-hero-headline-div-control").style.display = "inline";
          document.getElementById("homepage-hero-headline-div-test").style.display = "none";
          document.getElementById("homepage-hero-headline-p-control").style.display = "inline";
          document.getElementById("homepage-hero-headline-p-test").style.display = "none";
          document.getElementById("homepage-cta-kicker-div-control").style.display = "inline";
          document.getElementById("homepage-cta-kicker-div-test").style.display = "none";
        }
    }
  });
</script>