docsurl: "https://docs.earthly.dev"
landingurl: "https://earthly.dev"
blogurl: "https://earthly.dev/blog"
githuburl: "https://github.com/earthly/earthly"
twitter_username: earthlytech
github_username:  earthly
google_analytics: "UA-161831101-4"
google_analytics_rollup: "UA-161831101-5"
slack_url: "/slack"

# Theme Settings
# https://mmistakes.github.io/minimal-mistakes/docs/quick-start-guide/#installing-the-theme

# theme                  : "minimal-mistakes-jekyll"
# remote_theme           : "mmistakes/minimal-mistakes"
minimal_mistakes_skin    : "default" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"

# Site Settings
locale                   : "en-US"
title                    : "Earthly"
title_separator          : "-"
subtitle                 : "Better Builds." 
name                     : &name "Earthly"
description              : &description "Build automation for the container era."
url                      : "https://earthly.dev" 
baseurl                  : "/blog" 
repository               : # GitHub username/repo-name e.g. "mmistakes/minimal-mistakes"
teaser                   : /assets/images/default-teaser.jpg
logo                     : /assets/images/logo.png
masthead_title           : # overrides the website title displayed in the masthead, use " " for no title
breadcrumbs              : false 
words_per_minute         : 200
atom_feed:
  path                   : # blank (default) uses feed.xml
  hide                   : # true, false (default)
search                   : # true, false (default)
search_full_content      : # true, false (default)
search_provider          : # lunr (default), algolia, google
algolia:
  application_id         : # YOUR_APPLICATION_ID
  index_name             : # YOUR_INDEX_NAME
  search_only_api_key    : # YOUR_SEARCH_ONLY_API_KEY
  powered_by             : # true (default), false
google:
  search_engine_id       : # YOUR_SEARCH_ENGINE_ID
  instant_search         : # false (default), true
# SEO Related
google_site_verification :
bing_site_verification   :
yandex_site_verification :
naver_site_verification  :

# Social Sharing
twitter:
  username               :  &twitter "EarthlyTech"
facebook:
  username               :
  app_id                 :
  publisher              :
og_image                 : # Open Graph/Twitter default site image
# For specifying social profiles
# - https://developers.google.com/structured-data/customize/social-profiles
social:
  type                   : # Person or Organization (defaults to Person)
  name                   : # If the user or organization name differs from the site's name
  links: # An array of links to social media profiles
    - "https://twitter.com/mmistakes"
    - "https://www.facebook.com/michaelrose"


# custom
images: "/blog/assets/images/"


# Site Footer
footer:
  links:
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: https://twitter.com/earthlytech
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: https://github.com/earthly/earthly
    - label: "GitLab"
      icon: "fab fa-fw fa-gitlab"


# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - package-lock.json
  - Rakefile
  - README
  - tmp
keep_files:
  - .git
encoding: "utf-8"
markdown_ext: "md"


# Conversion
markdown: Pandoc
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

pandoc:
  extensions:
    # - smart
    # - mathjax
    # - csl: _styles/apa.csl
    # - bibliography: bibliography/references.bib

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # https://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


# Outputting
permalink: /:title/
paginate: 14 # amount of posts to show
paginate_path: /page:num/
timezone: "America/New_York"


# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-archives
  - jekyll_picture_tag

category_archive:
  type: jekyll-archives
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
jekyll-archives:
  enabled:
    - categories
  layouts:
    category: archive-taxonomy
  permalinks:
    category: /categories/:name/


# HTML Compression
# - https://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development


# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      toc: false
      read_time: true
      comments: false
      share: false
      related: true
      # last_modified_at: '2021-03-29'
  - scope:
      type: "category"
    values:
      header:
        overlay_image: /assets/images/default-header.jpg