docsurl: "https://docs.earthly.dev"
landingurl: "https://earthly.dev"
blogurl: "/blog/"
githuburl: "https://github.com/earthly/earthly"
twitter_username: earthlytech
github_username:  earthly
google_analytics: "UA-161831101-5"
slack_url: "/slack"

# Theme Settings
# https://mmistakes.github.io/minimal-mistakes/docs/quick-start-guide/#installing-the-theme

# theme                  : "minimal-mistakes-jekyll"
# remote_theme           : "mmistakes/minimal-mistakes"
minimal_mistakes_skin    : "default" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"

# Site Settings
locale                   : "en-US"
title                    : "Earthly Blog"
title_separator          : "-"
subtitle                 : "" 
name                     : &name "Earthly"
description              : &description "Articles, tutorials, and guides that help developers understand technologies better and solve problems faster and the latest news about Earthly."
url                      : "https://earthly.dev"
baseurl                  : "/blog" 
repository               : # GitHub username/repo-name e.g. "mmistakes/minimal-mistakes"
teaser                   : /assets/images/default-teaser.jpg
logo                     : /assets/images/white-logo.png
masthead_title           : "Earthly Blog" # overrides the website title displayed in the masthead, use " " for no title
breadcrumbs              : false
words_per_minute         : 200
atom_feed:
  path                   : # blank (default) uses feed.xml
  hide                   : # true, false (default)
search                   : # true, false (default)
search_full_content      : # true, false (default)
search_provider          : # lunr (default), algolia, google
algolia:
  application_id         : # YOUR_APPLICATION_ID
  index_name             : # YOUR_INDEX_NAME
  search_only_api_key    : # YOUR_SEARCH_ONLY_API_KEY
  powered_by             : # true (default), false
google:
  search_engine_id       : # YOUR_SEARCH_ENGINE_ID
  instant_search         : # false (default), true
# SEO Related
google_site_verification :
bing_site_verification   :
yandex_site_verification :
naver_site_verification  :

# Social Sharing
twitter:
  username               :  &twitter "EarthlyTech"
facebook:
  username               :
  app_id                 :
  publisher              :
og_image                 : /assets/images/logo-header.png  # default twitter preview for articles with no twitter image
social:
  type                   : Organization # Person or Organization (defaults to Person)
  name                   : # If the user or organization name differs from the site's name
  links: 
    - "https://twitter.com/earthlytech"
    - "https://github.com/earthly/earthly"


# used for markdown {{site.images}}{{page.slug}} 
images: "/blog/assets/images/"

# used for picture tag: {% picture {{site.pimages}}{{page.slug}}
# todo: find way to simplify picture tag
pimages: "/assets/images/"


# Site Footer
footer:
  links:
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: https://twitter.com/earthlytech
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: https://github.com/earthly/earthly
    - label: "GitLab"
      icon: "fab fa-fw fa-gitlab"


# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - package-lock.json
  - Rakefile
  - README
  - tmp
keep_files:
  - .git
encoding: "utf-8"
markdown_ext: "md"


# Conversion
markdown: Pandoc
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

pandoc:
  extensions:
    # - smart
    # - mathjax
    # - csl: _styles/apa.csl
    # - bibliography: bibliography/references.bib

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # https://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


# Outputting
permalink: /:title/
timezone: "America/New_York"


# Plugins (previously gems:)
plugins:
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-inline-svg
  - jekyll-include-cache
  - jekyll_picture_tag

# HTML Compression
# - https://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development

collections:
  authors:
    output: true

# Defaults
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      toc: false
      fbio: true
      read_time: true
      comments: false
      share: false
      related: true
      as_related: false
      topic: doesnotexist
      newsletter_side: true
      funnel: 0
  - scope:
      type: "category"
    values:
      header:
        overlay_image: /assets/images/default-header.jpg
  - scope:
      path: "/_posts/*example*.md"
    values: 
      published: False
  - scope:
      path: ""
      type: "authors"
    values:
      layout: "author"
      header:
        overlay_image: /assets/images/default-header.jpg

picture:
  fast_build: true
  ignore_missing_images: true

# Site banner
banner: <b>Introducing Earthly Cloud.</b> Consistent, repeatable builds. Advanced caching for speed. Works with any CI. Get 6,000 build min/mth free! <a href="https://earthly.dev/blog/earthly-cloud-free-tier-launch/" onclick="bannerLinkClick()">Learn more</a>.
mobileBanner: <b>Introducing Earthly Cloud.</b> Consistent, Fast Builds, Any CI. Get 6,000 build min/mth free! <a href="https://earthly.dev/blog/earthly-cloud-free-tier-launch/" onclick="bannerLinkClick()">Learn more</a>.
