@charset "utf-8";

html {
  max-width: 100%;
}

body {
  max-width: 100%;

  @include mobile {
    padding: 0 $spacing-unit / 2;
    overflow-x: hidden;
  }
}

li {
  margin-bottom: $spacing-unit / 4;
}

.page-content {
  padding: $spacing-unit * 2 0 $spacing-unit 0;
  flex: 1 0 auto;

  @include mobile {
    padding-top: $spacing-unit;
  }
}

.page-heading {
  @include relative-font-size(2);
}

h2 a {
  color: $color-grey;
  background-color: transparent;
}
h2 a:hover {
  color: $color-grey-dark;
  background-color: transparent;
}


h2, h1 {
  font-family: $header-font-family;
  font-variant-ligatures: none;
  font-size: 32px;
  line-height: 40px;
  font-weight: 300;
  letter-spacing: 0;
  margin-bottom: $spacing-unit;
  color: $earth-color-gray;

  @include mobile {
    font-size: 28px;
    line-height: 35px;
  }
}
h3 {
  font-family: $header-font-family;
  font-variant-ligatures: none;
  font-size: 24px;
  letter-spacing: 0;
  color: $earth-color-gray;
  font-weight: 700;
  margin-bottom: $spacing-unit / 2;
  letter-spacing: 0;

  @include mobile {
    font-size: 22px;
    line-height: 28px;
  }
}

h4 {
  font-family: $header-font-family;
  font-variant-ligatures: none;
  font-size: 18px;
  line-height: normal;
  color: $earth-color-gray;
  font-weight: 700;
  letter-spacing: 0;
}
@media (min-width: 768px){
  .row {
    display: flex;
  }

  .half {
    display: flex;
    width: 50%;
  }
}
@media (max-width: 768px) {
  .no-mobile{
    display:none;
  }
}
.pad {
  padding: $spacing-unit / 1.5 ;
}

// prevent horizontal scroll
body {
  overflow-x: hidden !important;
}