---
layout: series
title: Series
permalink: /series/
---

{% assign navigation = site.data.navigation %}
<div class="mb-6 text-4xl font-bold">Series</div>
<div class="bg-blue-50 rounded-lg px-2">
    <div class="entries-grid grid grid-cols-1 md:grid-cols-3 gap-2 md:gap-4">
        {% for series in navigation %}
            {% assign seriesName = series[0] %}
            {% assign seriesItems = series[1][0].title %}
            {% if seriesName == 'main' %}
                {% continue %}
            {% endif %}
            {% include series_list.html name=seriesItems type=seriesName %}
        {% endfor %}
    </div>
</div>
