<div class="w-full px-10 pb-10 mb-20 bg-green-20">
  <div
    class="pt-10 mt-10 mb-8 text-3xl font-extrabold leading-none tracking-tight text-gray-900 lg:text-3xl xl:text-4xl lg:mt-14 lg:mb-5">
    Write once, run anywhere: Your laptop, remote, or any CI
  </div>

  <div class="grid grid-cols-1 gap-4 py-10 lg:grid-cols-2">
    <div class="lg:pr-10">
      <div class="text-2xl font-extrabold tracking-tight">
        Super-simple, Super-powerful<br />
        It's like Dockerfile and Makefile had a baby ❤️
      </div>
      <div class="py-5 text-gray-600 lg:pr-20">
        Earthly was engineered for readability. Most engineers are able to read
        an Earthfile without any prior knowledge. We took some of the best ideas
        from Dockerfiles and Makefiles and combined them into one specification.
      </div>
      <div class="pb-2 font-bold">Benefits</div>
      <div>
        <div class="flex pb-2">
          <img src="./assets/svg/done-check.svg" alt="Checked bullet" class="" />
          <div class="px-2">Instantly familiar syntax</div>
        </div>
        <div class="flex pb-2">
          <img src="./assets/svg/done-check.svg" alt="Checked bullet" class="" />
          <div class="px-2">Democratized builds that don't rely on a build guru</div>
        </div>
        <div class="flex pb-2">
          <img src="./assets/svg/done-check.svg" alt="Checked bullet" class="" />
          <div class="px-2">Repeatable builds that run the same anywhere</div>
        </div>
        <div class="flex pb-2">
          <img src="./assets/svg/done-check.svg" alt="Checked bullet" class="" />
          <div class="px-2">Built-in caching for more speed</div>
        </div>
      </div>
    </div>
    <div class="pr-0">
      {% include common/terminal.html
      template='home/examples/explanation-1.html' title="Earthfile" %}
    </div>
  </div>

  <div class="grid grid-cols-1 gap-4 py-10 lg:grid-cols-2">
    <div class="order-2 lg:pr-10 lg:order-1">
      <div>
        {% include common/terminal.html
        template='home/examples/explanation-2.html' title="Earthfile" %}
      </div>
    </div>
    <div class="order-1 lg:pr-10">
      <div class="text-2xl font-extrabold tracking-tight">
        Easily reproduce CI failures
      </div>
      <div class="py-5 text-gray-600 lg:pr-20">
        Earthly builds are self-contained, isolated and repeatable. Regardless
        of whether Earthly runs in your CI or on your laptop, the build will run
        the same way. This allows for faster iteration and easier debugging.
        Unlock your team's full productivity by eliminating
        "works on my machine but not in CI" blockers. No more
        <code>git commit -m "try again"</code>.
      </div>
    </div>
  </div>
</div>