<div class="w-full px-10 pb-10 mb-20 bg-green-20">
  <div
    class="pt-10 mt-10 mb-8 text-3xl font-extrabold leading-none tracking-tight text-gray-900 lg:text-3xl xl:text-4xl lg:mt-14 lg:mb-5"
  >
    Write once, run anywhere: your laptop, or any CI
  </div>

  <div class="grid grid-cols-1 gap-4 py-10 lg:grid-cols-2">
    <div class="lg:pr-10">
      <div class="text-2xl font-extrabold tracking-tight">
        <!-- Makefile + Dockerfile = Earthfile engineered for readability: -->
        Super-simple syntax,<br />
        it’s like Dockerfile and Makefile had a baby ❤️
      </div>
      <div class="py-5 text-gray-600 lg:pr-20">
        It's like Makefile and Dockerfile had a baby. Earthly takes some of the
        best ideas from Makefiles and Dockerfiles and combines them into one
        specification.
      </div>
      <div class="pb-2 font-bold">Benefits</div>
      <div>
        <div class="flex pb-2">
          <img
            src="./assets/svg/done-check.svg"
            alt="Checked bullet"
            class=""
          />
          <div class="px-2">Repeatable builds</div>
        </div>
        <div class="flex pb-2">
          <img
            src="./assets/svg/done-check.svg"
            alt="Checked bullet"
            class=""
          />
          <div class="px-2">A familiar syntax</div>
        </div>
        <div class="flex pb-2">
          <img
            src="./assets/svg/done-check.svg"
            alt="Checked bullet"
            class=""
          />
          <div class="px-2">Caching for more speed</div>
        </div>
      </div>
    </div>
    <div class="pr-0">
      {% include common/terminal.html
      template='home/examples/explanation-1.html' title="Earthfile" %}
    </div>
  </div>

  <div class="grid grid-cols-1 gap-4 py-10 lg:grid-cols-2">
    <div class="order-2 lg:pr-10 lg:order-1">
      <div>
        {% include common/terminal.html
        template='home/examples/explanation-2.html' title="Earthfile" %}
      </div>
    </div>
    <div class="order-1 lg:pr-10">
      <div class="text-2xl font-extrabold tracking-tight">
        Easily reproduce CI failures
      </div>
      <div class="py-5 text-gray-600 lg:pr-20">
        Earthly builds are self-contained, isolated and repeatable. Regardless
        of whether Earthly runs in your CI or on your laptop, the build will run
        the same way. This allows for faster iteration on the build scripts and
        easier debugging. No more git commit -m "try again" .
      </div>
    </div>
  </div>
</div>
