<footer class="px-10 pb-20 mt-5 lg:mt-14 bg-green-20 w-full">
  <div>
    <div class="pt-10 text-center text-blue-600">
      <a
        class="github-button"
        href="https://github.com/earthly/earthly"
        data-size="large"
        data-show-count="true"
        aria-label="Star earthly/earthly on GitHub"
        >Star</a
      >
    </div>
    <div class="pt-8 pb-4 flex justify-center">
      <div class="flex inline-block">
        <div class="w-24 flex justify-center">
          <a href="https://twitter.com/{{site.twitter_username}}" title="Earthly on Twitter">
            {% svg assets/svg/social-twitter-v2.svg height="36px" %}
          </a>
        </div>

        <div class="w-24 flex justify-center">
          <a
            href="/slack"
            title="Earthly on Slack"
          >
            {% svg assets/svg/social-slack-v2.svg height="38px" %}
          </a>
        </div>

        <div class="w-24 flex justify-center">
          <a href="https://www.youtube.com/channel/UClROK3yIuIyJWmt-gnkAjlQ"  title="Earthly on Youtube">
            {% svg assets/svg/social-youtube-v2.svg height="36px" %}
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-14 text-center text-blue-600">
    <a href="/tos">Terms of Service</a>
    <span class="ml-2 mr-2 text-gray-400">|</span>
    <a href="./privacy-policy">Privacy Policy</a>
  </div>
  <div class="pt-10 pb-10 text-center">
    Made with <span class="ml-2 mr-2 text-blue-200">🖤 </span> on Planet Earth
    <span class="ml-2 mr-2 text-gray-400">|</span>
    We're <a class="text-blue-600" href="https://angel.co/company/earthly-technologies/jobs">hiring!</a>
  </div>
</footer>
