<div class="w-full px-10">
  <div
    class="mt-10 mb-8 text-3xl font-extrabold leading-none tracking-tight text-gray-900 lg:text-3xl xl:text-4xl lg:mt-14 lg:mb-5"
  >
    Resources
  </div>
  <div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
    <div
      class="relative pt-5 pb-10 pl-10 pr-10 border-2 rounded-md shadow-md lg:pb-20"
    >
      <div class="flex py-5 text-2xl font-bold">
        <div class="text-gray-500">
          <DocumentIcon />
        </div>

        <div>Documentation</div>
      </div>
      <div class="text-gray-600">
        If you are using Earthly and have questions then head over to our
        documentation for examples and guides and command documentation.
      </div>
      <a href="https://docs.earthly.dev/">
        <div
          class="pt-3 pb-3 mt-6 text-center text-black bg-green-100 rounded-lg w-100 text-size-10 ring-green-400 ring-2 cursor-pointer hover:bg-green-200"
        >
          Check out Docs
        </div>
      </a>
    </div>

    <div class="pt-5 pb-10 pl-10 pr-10 border-2 rounded-md shadow-md lg:pb-20">
      <div class="flex py-5 text-2xl font-bold">
        <div class="text-gray-500">
          <MailIcon />
        </div>

        <div>Blog</div>
      </div>
      <div class="pb-3 text-gray-600">
        More Information on Earthly is available on our Blog.
      </div>
      <div class="py-1 font-bold text-blue-500">
        <a href="https://earthly.dev/blog/the-world-deserves-better-builds/">
          The World Deserves Better Builds</a
        >
      </div>
      <div class="py-1 font-bold text-blue-500">
        <a
          href="https://earthly.dev/blog/introducing-earthly-build-automation-for-the-container-era/"
        >
          Introducing Earthly: Build Automation for the Container Era
        </a>
      </div>
      <a href="/blog">
        <div
          class="pt-3 pb-3 mt-6 text-center text-black bg-green-100 rounded-lg w-100 text-size-10 ring-green-400 ring-2 cursor-pointer hover:bg-green-200"
        >
          Check Out The Blog
        </div>
      </a>
    </div>
    <div class="pt-5 pb-10 pl-10 pr-10 border-2 rounded-md shadow-md lg:pb-20">
      <div class="flex py-5 text-2xl font-bold">
        <div class="text-gray-500">
          <Question />
        </div>

        <div>Newsletter</div>
      </div>
      <div class="text-gray-600">
        Want to hear about new features? What the latest updates? What to hear
        about our plans for Earthly Cloud Builds?
      </div>

      <script src="https://f.convertkit.com/ckjs/ck.5.js"></script>
      <form
        action="https://app.convertkit.com/forms/1789458/subscriptions"
        class="seva-form formkit-form"
        method="post"
        data-sv-form="1789458"
        data-uid="08f64c741e"
        data-format="inline"
        data-version="5"
        data-options='{"settings":{"after_subscribe":{"action":"message","success_message":"Success! Now check your email to confirm your subscription.","redirect_url":""},"analytics":{"google":null,"facebook":null,"segment":null,"pinterest":null},"modal":{"trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"powered_by":{"show":true,"url":"https://convertkit.com?utm_source=dynamic&amp;utm_medium=referral&amp;utm_campaign=poweredby&amp;utm_content=form"},"recaptcha":{"enabled":false},"return_visitor":{"action":"show","custom_content":""},"slide_in":{"display_in":"bottom_right","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"sticky_bar":{"display_in":"top","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15}},"version":"5"}'
        min-width="400 500 600 700 800"
      >
        <div class="Home-resources-listItem-text">
          <div data-style="clean">
            <ul
              class="formkit-alert formkit-alert-error mt-5"
              data-element="errors"
              data-group="alert"
            ></ul>
            <div
              class="formkit-alert formkit-alert-success mt-5 font-bold"
              data-element="success"
              data-group="alert"
            ></div>
            <div
              data-element="fields"
              data-stacked="false"
              class="seva-fields formkit-fields"
            >
              <div class="formkit-field">
                <input
                  class="formkit-input border-2 p-2 w-full"
                  aria-label="Your first name"
                  name="fields[first_name]"
                  placeholder="Your first name"
                  type="text"
                  style="
                    color: rgb(0, 0, 0);
                    border-color: rgb(227, 227, 227);
                    border-radius: 4px;
                    font-weight: 400;
                  "
                />
              </div>
              <div class="formkit-field">
                <input
                  class="formkit-input border-2 p-2 w-full relative mt-2"
                  name="email_address"
                  aria-label="Your email address"
                  placeholder="Your email address"
                  required=""
                  type="email"
                  style="
                    color: rgb(0, 0, 0);
                    border-color: rgb(227, 227, 227);
                    border-radius: 4px;
                    font-weight: 400;
                  "
                />
              </div>
            </div>
          </div>
        </div>
        <button data-element="submit" class="Home-resources-button w-full">
          <div
            class="relative pt-3 pb-3 mt-6 text-center text-black bg-green-500 text-white rounded-lg w-100 text-size-10 top-2 cursor-pointer hover:bg-green-600"
          >
            <div class="formkit-spinner">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <span class="">Subscribe</span>
          </div>
        </button>
      </form>
    </div>
  </div>
</div>
