<div class="w-full pl-10 pr-10 mt-10 border-t border-b border-grey-400">
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
        <div class="lg:pr-10">
            <div class="
            mb-8
            pt-8
            text-2xl
            font-extrabold
            leading-none
            tracking-tight
            text-gray-900
            lg:text-3xl
            xl:text-4xl
          ">
                <div class="text-gray-400 uppercase mb-4">Introducing</div>
                Earthly Satellites
            </div>
            <div class="text-2xl font-extrabold tracking-tight">
                Run builds remotely!
            </div>
            <div class="py-5 text-gray-600 lg:pr-20">
                <p>
                    Share compute and cache with Earthly Satellites.
                    Build remotely from the comfort of your terminal. </p>
                <p class="py-2 ">Satellites use the
                    code in your current directory, stream logs back to you in real-time,
                    and output results (images, artifacts) back to your laptop.
                </p>
                <p>
                    When used from a CI, Earthly Satellites can be used to <span class="font-semibold">speed up
                        builds</span>,
                    as the cache is retained between runs.
                </p>
            </div>
            <div class="pb-2 font-bold">Benefits</div>
            <div>
                <div class="flex pb-2">
                    <img src="./assets/svg/done-check.svg" alt="Checked bullet" class="" />
                    <div class="px-2">Run builds from the comfort of your terminal</div>
                </div>
                <div class="flex pb-2">
                    <img src="./assets/svg/done-check.svg" alt="Checked bullet" class="" />
                    <div class="px-2">Gain 2-4X build speedup in CI</div>
                </div>
                <div class="flex pb-2">
                    <img src="./assets/svg/done-check.svg" alt="Checked bullet" class="" />
                    <div class="px-2">Execute x86 builds from <span class="font-semibold">Apple Silicon</span> (M1/M2)
                    </div>
                </div>
                <div class="flex pb-2">
                    <img src="./assets/svg/done-check.svg" alt="Checked bullet" class="" />
                    <div class="px-2">Share compute and cache with coworkers</div>
                </div>
                <div class="flex pb-2">
                    <img src="./assets/svg/done-check.svg" alt="Checked bullet" class="" />
                    <div class="px-2">Works with any CI</div>
                </div>
            </div>
            <div class="inline-block w-full pt-8 pb-8">
                <a href="/pricing">
                    <div
                        class="py-3 text-xl text-center text-white bg-green-500 hover:bg-green-700 rounded-lg w-full lg:w-80 inline-block">
                        View Pricing
                    </div>
                </a>
            </div>
        </div>
        <div class="rounded-lg bg-[#f3ffff] items-center justify-center flex">
            <div>
                <img src="./assets/img/satellites.png" alt="Satellite workflow" class="" />
            </div>
        </div>
    </div>
</div>