<div class="w-full px-10">
  <div
    class="
      mt-10
      mb-8
      text-2xl
      font-extrabold
      leading-none
      tracking-tight
      text-gray-900
      lg:text-3xl
      xl:text-4xl
      lg:mt-14 lg:mb-5
    "
  >
    Why Earthly?
  </div>
  <div
    class="pb-8 text-xl font-medium tracking-tight text-gray-500 lg:text-2xl"
  >
    With Earthly, all builds are containerized, repeatable, and language
    agnostic.
  </div>
  <img class="hidden object-fill lg:block" src="./assets/img/why-earthly.png" />

  <div class="grid grid-cols-1 gap-4 py-0 lg:py-10 lg:grid-cols-2">
    <div class="pl-0 lg:pl-10">
      <div class="pb-3 text-xl font-bold lg:font-2xl">Before:</div>
      <img
        class="object-fill w-full mb-5 lg:hidden"
        src="./assets/img/before-graphic.png"
      />
      <div class="flex pb-2">
        <img src="./assets/svg/close-icon.svg" class="" />
        <div class="px-2">Flaky</div>
      </div>
      <div class="flex pb-2">
        <img src="./assets/svg/close-icon.svg" class="" />
        <div class="px-2">Clunky and Brittle</div>
      </div>
      <div class="flex">
        <img src="./assets/svg/close-icon.svg" class="" />
        <div class="px-2">Build guru required</div>
      </div>
    </div>

    <div class="pt-6 pl-0 lg:pt-0 lg:pl-10">
      <div class="pb-3 text-xl font-bold lg:font-2xl">With Earthly:</div>
      <img
        class="object-fill w-full mb-5 lg:hidden"
        src="./assets/img/with-graphic.png"
      />
      <div class="flex pb-2">
        <img src="./assets/svg/done-check.svg" class="" />
        <div class="px-2">Reproducible</div>
      </div>
      <div class="flex pb-2">
        <img src="./assets/svg/done-check.svg" class="" />
        <div class="px-2">Robust</div>
      </div>
      <div class="flex pb-2">
        <img src="./assets/svg/done-check.svg" class="" />
        <div class="px-2">Easy to Understand</div>
      </div>
    </div>
  </div>
</div>
