<div class="flex flex-col p-6 pt-4  text-gray-900 bg-white rounded-lg border border-gray-100 shadow ">
    <div class="mb-4 text-3xl font-semibold">Earthly CI</div>
    <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
        Ridiculously fast CI
    </div>
    <div
        class="flex border items-center bg-gray-50 mb-4 mt-2 rounded-lg justify-center font-semibold py-4 h-36 text-gray-600 text-2xl dark:text-gray-400">
        Coming soon...
    </div>
    <div class="px-2 flex flex-col flex-1">
        <div class="flex pb-2 ">
            <img src="./../../assets/svg/done-check.svg" alt="Checked bullet" style="height:24px;" />
            <div class="px-2">Everything in Satellites</div>
        </div>
        <div class="flex pb-2">
            <img src="./../../assets/svg/done-check.svg" alt="Checked bullet" style="height:24px;" />
            <div class="px-2">Rebuild only what has changed</div>
        </div>
        <div class="flex pb-2">
            <img src="./../../assets/svg/done-check.svg" alt="Checked bullet" style="height:24px;" />
            <div class="px-2">Built-in caching available instantly between runs
            </div>
        </div>
        <div class="flex pb-2">
            <img src="./../../assets/svg/done-check.svg" alt="Checked bullet" style="height:24px;" />
            <div class="px-2">GitHub integration</div>
        </div>
        <div class="flex pb-2">
            <img src="./../../assets/svg/done-check.svg" alt="Checked bullet" style="height:24px;" />
            <div class="pl-2">Automatically span builds across a compute cluster</div>
        </div>
    </div>
    <a href="https://newsletter.earthly.dev/ci-interest" class="flex">
        <div
            class="mt-2 py-3 text-xl text-center text-white bg-green-500 hover:bg-green-700 rounded-lg w-full inline-block">
            Contact us
        </div>
    </a>
</div>