<div class="flex flex-col p-6 pt-4 text-gray-900 bg-white rounded-lg border border-gray-100 shadow ">
    <div class="mb-4 text-3xl font-semibold">Earthly Core</div>
    <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
        Achieve build repeatability
    </div>
    <div
        class="flex border items-center bg-gray-50 mb-4 mt-2 rounded-lg justify-center font-semibold py-4 h-36 text-gray-600 text-2xl dark:text-gray-400">
        Free and Open-source
    </div>
    <div class="px-2 flex flex-col flex-1">
        <div class="flex pb-2 ">
            <img src="./../../assets/svg/done-check.svg" alt="Checked bullet" />
            <div class="px-2"> Develop builds that run on any CI</div>
        </div>
        <div class="flex pb-2">
            <img src="./../../assets/svg/done-check.svg" alt="Checked bullet" />
            <div class="px-2">Run builds locally</div>
        </div>
        <div class="flex pb-2">
            <img src="./../../assets/svg/done-check.svg" alt="Checked bullet" />
            <div class="px-2">Local cache
            </div>
        </div>
        <div class="flex pb-2">
            <img src="./../../assets/svg/done-check.svg" alt="Checked bullet" />
            <div class="px-2">Remote shared cache</div>
        </div>
        <div class="flex pb-2">
            <img src="./../../assets/svg/done-check.svg" alt="Checked bullet" />
            <div class="pl-2">Community support</div>
        </div>
    </div>
    <a href="./get-earthly" class="flex">
        <div
            class="mt-2 py-3 text-xl text-center text-white bg-green-500 hover:bg-green-700 rounded-lg w-full  inline-block">
            Get Earthly
        </div>
    </a>
</div>