<div class="w-full">
  <div class="px-6 lg:px-10 max-w-7xl m-auto">
    <div class="py-6 px-6 lg:px-10 rounded-xl bg-[#f1fbff] pb-10 mt-6">
      <div>
        <div class="text-2xl lg:text-3xl font-semibold mb-6">
          Write once, run anywhere
        </div>
        <div class="flex flex-col-reverse lg:grid grid-cols-10">
          <ul class="text-gray-500 text-lg col-span-5 lg:pr-6 pt-8 lg:pt-0 ml-4 list-disc">
            <li class="pb-2">Execute CI pipelines on your laptop, remotely, or in any CI</li>
            <li class="pb-2">Easily reproduce CI failures locally</li>
            <li class="pb-2">Containers make builds self-contained, isolated, consistent, and portable</li>
            <li class="pb-2">Correct execution, regardless of the environment</li>
            <li>New colleagues get started fast: no special configuration necessary</li>
          </ul>
          <div class="col-span-5 bg-white shadow-md rounded-3xl h-64 w-full flex flex-col pt-1">
            <div class="relative flex flex-col items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-36" fill="none" viewBox="0 0 24 24">
                <path stroke="#2d7e5d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.75 14C4.75 15.7949 6.20507 17.25 8 17.25H16C17.7949 17.25 19.25 15.7949 19.25 14C19.25 12.2869 17.9246 10.8834 16.2433 10.759C16.1183 8.5239 14.2663 6.75 12 6.75C9.73368 6.75 7.88168 8.5239 7.75672 10.759C6.07542 10.8834 4.75 12.2869 4.75 14Z" />
              </svg>

              <div class="flex relative -mt-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-20" fill="none" viewBox="0 0 24 24">
                  <path stroke="#2d7e5d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5.75 14.75h-1v1.5a2 2 0 0 0 2 2h10.5a2 2 0 0 0 2-2v-1.5H14s-.344 1-2 1c-1.656 0-2-1-2-1H5.75Zm0 0v-8a1 1 0 0 1 1-1h10.5a1 1 0 0 1 1 1v8" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-20" fill="none" viewBox="0 0 24 24">
                  <path stroke="#2d7e5d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.75 5.75C4.75 5.19772 5.19772 4.75 5.75 4.75H18.25C18.8023 4.75 19.25 5.19772 19.25 5.75V9.25C19.25 9.80228 18.8023 10.25 18.25 10.25H5.75C5.19771 10.25 4.75 9.80228 4.75 9.25V5.75Z" />
                  <path stroke="#2d7e5d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.75 14.75C4.75 14.1977 5.19772 13.75 5.75 13.75H18.25C18.8023 13.75 19.25 14.1977 19.25 14.75V18.25C19.25 18.8023 18.8023 19.25 18.25 19.25H5.75C5.19771 19.25 4.75 18.8023 4.75 18.25V14.75Z" />
                  <path stroke="#2d7e5d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M16.25 5V10" />
                  <path stroke="#2d7e5d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M16.25 14V19" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>