<div class="w-full">
  <div class="px-6 lg:px-10  max-w-7xl m-auto">
    <div class="py-6 px-6 lg:px-10 rounded-xl bg-[#f1fbff]  pb-10 mt-6">
      <div>
        <div class="text-2xl lg:text-3xl font-semibold mb-2">
          Earthfiles make defining and managing pipelines easy
        </div>
        <div class="lg:grid grid-cols-10 gap-2">
          <div class="text-gray-500 text-lg col-span-5 pr-6 pt-2">
            We combined some of the best ideas from Dockerfiles and
            Makefiles into one specification. Most engineers can read an
            Earthfile instantly, without prior knowledge.
          </div>
          <div class="bg-gray-600 col-span-5 rounded-xl overflow-hidden shadow-2xl mt-6 lg:mt-3">
            <div class="">
              <header class="pt-1 pb-1.5 text-center reelative text-white/80 ">
                <div class="flex absolute pt-2 ml-2">
                  <svg fill="none" height="12" viewBox="0 0 12 12" width="12" class="mr-1 chrome-button1">
                    <circle cx="6" cy="6" class="fillStd" r="6"></circle>
                    <circle cx="6" cy="6" r="5.75" class="primaryStroke" strokeOpacity=".16" strokeWidth=".5"></circle>
                  </svg>
                  <svg fill="none" height="12" viewBox="0 0 12 12" width="12" class="mr-1 chrome-button2">
                    <circle cx="6" cy="6" class="fillStd" r="6"></circle>
                    <circle cx="6" cy="6" r="5.75" class="primaryStroke" strokeOpacity=".16" strokeWidth=".5"></circle>
                  </svg>
                  <svg fill="none" height="12" viewBox="0 0 12 12" width="12" class="chrome-button3">
                    <circle cx="6" cy="6" class="fillStd" r="6"></circle>
                    <circle cx="6" cy="6" r="5.75" class="primaryStroke" strokeOpacity=".16" strokeWidth=".5"></circle>
                  </svg>
                </div>
                Earthfile
              </header>

              <code
                class="text-sm sm:text-md pt-6 lg:pt-10 lg:pl-6 pb-6 font-mono block bg-[#111214] text-gray-100 min-h-[310px] lg:min-h-[350px]">

                <div class=" rounded-lg pb-4 text-white text-sm font-mono relative">
                  <div class=" cursor-default pl-6"><span class="text-[#7dcfff]">VERSION</span> 0.7</div> 
                  <div class=" cursor-default pl-6"><span class="text-[#7dcfff]">PROJECT</span> my-org/my-project</div>
                  <div class="mt-3  cursor-default pl-6"><span class="text-[#7dcfff]">FROM</span> alpine:3.15</div>
                  <div class="mt-3 text-[#b395ed]  cursor-default pl-6">some-pipeline:</div>
                  <div class="pl-10  cursor-default"><span class="text-[#7dcfff]">PIPELINE</span></div>
                  <div class="pl-10  cursor-default"><span class="text-[#7dcfff]">TRIGGER</span> push main</div>
                  <div class="pl-10  cursor-default"><span class="text-[#7dcfff]">TRIGGER</span> pr main</div>
                  <div class="pl-10  cursor-default "><span class="text-[#7dcfff]">BUILD</span> +my-build </div>
                  <div class="mt-3 text-[#b395ed]  cursor-default pl-6">my-build:</div>
                  <div class="pl-10  cursor-default"><span class="text-[#7dcfff] ">RUN</span> echo Hello world</div>
                </div>

            </code>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>