<div class="flex flex-col items-center max-w-lg mx-auto mb-6 lg:mb-12 -mt-20 px-6 lg:px-10">
  <!-- Gavin, 20230510: Added id for homepage-hero-repeatable-vs-consistent experiment -->
  <div id="homepage-cta-repeatable-vs-consistent-control" class="text-center text-slate-400 text-xl">
    Simple, Fast, Repeatable Builds
  </div>
  <!-- Gavin, 20230510: Added for homepage-hero-repeatable-vs-consistent experiment -->
  <div  class="text-center text-slate-400 text-xl"
        id="homepage-cta-repeatable-vs-consistent-test"
        style="display: none;">
    Simple, Fast, Consistent Builds
  </div>
  <a href="/get-earthly"
    class="my-0.5 lg:my-2 py-6 text-2xl text-center cursor-pointer shadow-sm text-white bg-[#2d7e5d] hover:bg-[#2d7e5d] rounded-lg w-full inline-block"
    onclick="homepageGetEarthlyClick()"
  >
  Install Earthly
  </a>
  <div class="text-center text-slate-400 text-l">
    Earthly is Open Source
  </div>
</div>

<script>
  function homepageGetEarthlyClick() {
    analytics.track('homepage-get-earthly-click', {
      category: 'Get Earthly Click',
      label: 'homepage-get-earthly-click'
    });
  }
</script>
