<div class="w-full">
    <div class="mb-6 lg:mb-12 -mt-20 max-w-7xl m-auto">
        <div class="lg:grid grid-cols-2 border-0 border-[#f1fbff] rounded-xl lg:px-4 z-10 relative px-6">
            <div
                class="flex flex-col items-start lg:border-r-2 border-[#f1fbff] lg:pl-20 lg:pr-16 col-span-1 py-2 lg:py-6">
                <div class="font-semibold text-2xl lg:text-4xl">Earthly CI</div>
                <div class="text-slate-400 my-0.5 lg:my-2 text-xl">
                    Our CI/CD product built on Earthly
                </div>
                <a href=""
                    class="py-6 text-2xl text-center cursor-pointer shadow-sm  text-white bg-[#2d7e5d] hover:bg-[#2d7e5d] rounded-lg w-full inline-block">
                    Start for Free
                </a>
            </div>
            <div class="flex flex-col items-start lg:pl-16 lg:pr-20 col-span-1 py-2 lg:py-6">
                <div class="font-semibold text-2xl lg:text-4xl">Earthly</div>
                <div class="text-slate-400 my-0.5 lg:my-2 text-xl">
                    Earthly our open source project
                </div>

                <a href="/get-earthly"
                    class="py-6 text-2xl cursor-pointer text-center shadow-sm  text-gray-800 bg-[#eafaf4] hover:bg-[#eafaf4] rounded-lg w-full inline-block">
                    Get Started with Earthly
                </a>

            </div>
        </div>
    </div>
</div>