<div class="flex flex-col items-center max-w-lg mx-auto mb-6 lg:mb-12 -mt-20 px-6 lg:px-10">
  <!-- Gavin, 20230427: Added id for A/B test - homepage-hero-copy-20220427 -->
  <div id="homepage-cta-kicker-div-control" class="text-center text-slate-400 text-xl">
    Simple, Fast, Repeatable CI/CD platform
  </div>
  <!-- Gavin, 20230427: Added for A/B test - homepage-hero-copy-20220427 -->
  <div id="homepage-cta-kicker-div-test" class="text-center text-slate-400 text-xl" style="display: none;">
    Simple, Fast, Repeatable Builds
  </div>
  <a
    href="/get-earthly"
    class="my-0.5 lg:my-2 py-6 text-2xl text-center cursor-pointer shadow-sm text-white bg-[#2d7e5d] hover:bg-[#2d7e5d] rounded-lg w-full inline-block"
    onclick="homepageGetEarthlyClick()"
  >
    Try Earthly
  </a>
</div>

<script>
  function homepageGetEarthlyClick() {
    analytics.track('homepage-get-earthly-click', {
      category: 'Get Earthly Click',
      label: 'homepage-get-earthly-click'
    });
  }
</script>
