<div class="w-full">
    <div class="relative z-10 max-w-7xl m-auto">
        <div class="w-full pb-4 px-6 lg:px-10 mb-10">
            <div class=" text-gray-400 text-lg lg:text-xl lg:ml-4 pb-2">
                <span class="font-semibold mr-1 text-gray-500">1,000,000</span>
                builds run on Earthly every month
            </div>
            <div class="relative w-full px-10 bg-gray-50 rounded-2xl py-8 shadow-md">
                <div class="flex flex-col items-center lg:items-center lg:flex-row">
                    <div class=" lg:mb-0 lg:px-6 lg:w-1/4 flex justify-center">
                        <img src="./assets/svg/zapier-logo.svg" alt="Workday logo" class="h-20 opacity-40" />
                    </div>

                    <div class="mt-14 lg:mt-0 lg:mb-0 lg:px-6 lg:w-1/4 flex justify-center items-center">
                        <img src="./assets/svg/roche.svg" alt=" Roche logo" class="h-20 opacity-80" />
                    </div>

                    <div class="mt-14 lg:mt-0 lg:mb-0 lg:px-6 lg:w-1/4 flex justify-center">
                        <img src="./assets/svg/expressvpn-logo.svg" alt="ExpressVPN logo" class="h-14 opacity-80" />
                    </div>

                    <div class="mt-14 lg:mt-0 lg:mb-0 lg:px-6 lg:w-1/4 flex justify-center">
                        <img src="./assets/svg/namely.svg" alt="Namely logo" class="h-14 opacity-80" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
