<div class="w-full mb-10">
  <div class="px-6 lg:px-10 max-w-7xl m-auto">
    <div class="text-4xl font-semibold">Testimonials</div>
    <div class="text-2xl text-slate-500 pt-1 pb-3">
      Developers really love ❤️ Earthly!
    </div>
  </div>

  <div class="px-6 lg:px-10 max-w-7xl m-auto">
    <div class="lg:grid grid-cols-2 gap-4">
      <div
        class="mb-4 lg:mb-0 col-span-1 rounded-lg bg-gray-100 pl-4 pr-10 pt-6 pb-12"
      >
        <div class="flex items-center">
          <div class="flex">
            <img
              class="rounded-full h-16 mr-4"
              src="./assets/img/jesus-rodriguez-valencia.jpg"
              alt="Jesús Valencia"
            />
          </div>
          <div class="flex flex-col flex-1">
            <div class="font-semibold">Jesús Valencia</div>
            <div class="text-base text-gray-400">
              Principal Engineer @
              <a target="_blank" href="https://www.roche.com/">Roche</a>
            </div>
          </div>
        </div>
        <div class="pl-4 lg:pl-20 lg:pr-4 pt-4 lg:pt-0 text-xl text-gray-600">
          We enabled developers to execute complex CI pipelines on their
          laptops!
        </div>
      </div>

      <div
        class="mb-4 lg:mb-0 col-span-1 rounded-lg bg-gray-100 pl-4 pr-10 pt-6 pb-12"
      >
        <div class="flex items-center">
          <div class="flex">
            <img
              class="rounded-full h-16 mr-4"
              src="./assets/img/Florian-Leibert.jpg"
              alt="Florian Leibert"
            />
          </div>
          <div class="flex flex-col flex-1">
            <div class="font-semibold">Florian Leibert</div>
            <div class="text-base text-gray-400">
              Founder @
              <a target="_blank" href="https://d2iq.com/">Mesosphere/D2IQ</a>
            </div>
          </div>
        </div>
        <div
          class="pl-4 lg:pl-20 lg:pr-4 pt-4 lg:pt-0 pr-4 text-xl text-gray-600"
        >
          The first solution to bring the power of repeatable builds at scale to
          market
        </div>
      </div>

      <div
        class="mb-4 lg:mb-0 col-span-1 rounded-lg bg-gray-100 pl-4 pr-10 pt-6 pb-12"
      >
        <div class="flex items-center">
          <div class="flex">
            <img
              class="rounded-full h-16 mr-4"
              src="./assets/img/spencer-kimball.png"
              alt="Spencer Kimball"
            />
          </div>
          <div class="flex flex-col flex-1">
            <div class="font-semibold">Spencer Kimball</div>
            <div class="text-base text-gray-400">
              Founder @
              <a target="_blank" href="https://www.cockroachlabs.com/"
                >Cockroach Labs</a
              >
            </div>
          </div>
        </div>
        <div
          class="pl-4 lg:pl-20 lg:pr-4 pt-4 lg:pt-0 pr-4 text-xl text-gray-600"
        >
          Earthly reduces the context switching overhead in engineering
          organizations
        </div>
      </div>

      <div
        class="mb-4 lg:mb-0 col-span-1 rounded-lg bg-gray-100 pl-4 pr-10 pt-6 pb-12"
      >
        <div class="flex items-center">
          <div class="flex">
            <img
              class="rounded-full h-16 mr-4"
              src="./assets/img/Matt-Klein.jpg"
              alt="Matt Klein"
            />
          </div>
          <div class="flex flex-col flex-1">
            <div class="font-semibold">Matt Klein</div>
            <div class="text-base text-gray-400">
              Creator of
              <a target="_blank" href="https://www.envoyproxy.io/"
                >Envoy proxy</a
              >
            </div>
          </div>
        </div>
        <div
          class="pl-4 lg:pl-20 lg:pr-4 pt-4 lg:pt-0 pr-4 text-xl text-gray-600"
        >
          ... a pragmatic and incremental solution to a thorny problem that all
          organizations face
        </div>
      </div>

      <div
        class="mb-4 lg:mb-0 col-span-1 rounded-lg bg-gray-100 pl-4 pr-10 pt-6 pb-12"
      >
        <div class="flex items-center">
          <div class="flex">
            <img
              class="rounded-full h-16 mr-4"
              src="./assets/img/jesse-anger.jpg"
              alt="Jesse Anger"
            />
          </div>
          <div class="flex flex-col flex-1">
            <div class="font-semibold">Jesse Anger</div>
            <div class="text-base text-gray-400">
              Head of IT @
              <a target="_blank" href="https://www.deepgenomics.com/"
                >Deep Genomics</a
              >
            </div>
          </div>
        </div>
        <div
          class="pl-4 lg:pl-20 lg:pr-4 pt-4 lg:pt-0 pr-4 text-xl text-gray-600"
        >
          ... an essential element of a contemporary CI system: rapid build
          times, intelligent caching, and repeatability
        </div>
      </div>

      <div
        class="mb-4 lg:mb-0 col-span-1 rounded-lg bg-gray-100 pl-4 pr-10 pt-6 pb-12"
      >
        <div class="flex items-center">
          <div class="flex">
            <img
              class="rounded-full h-16 mr-4"
              src="./assets/img/jesse-anger.jpg"
              alt="Ses Goe"
            />
          </div>
          <div class="flex flex-col flex-1">
            <div class="font-semibold">Ses Goe</div>
            <div class="text-base text-gray-400">
              Director of Internal Tools @
              <a target="_blank" href="https://www.treatmyocd.com/">NOCD</a>
            </div>
          </div>
        </div>
        <div
          class="pl-4 lg:pl-20 lg:pr-4 pt-4 lg:pt-0 pr-4 text-xl text-gray-600"
        >
          the most magical software experience I have ever had
        </div>
      </div>
    </div>
  </div>
</div>
