<div class="w-full mt-6">
  <div class="px-6 lg:px-10 pt-4 max-w-7xl m-auto">
    <div class="text-4xl font-semibold">Testimonials</div>
    <div class="text-2xl text-slate-500 pt-1 pb-3">
      Developers and engineering teams love Earthly
    </div>
  </div>

  <div class="px-6 lg:px-10 max-w-7xl m-auto">
    <div class="lg:grid grid-cols-2 gap-4">
      <div class="mb-4 lg:mb-0 col-span-1 rounded-lg bg-gray-100 pl-4 pr-10 pt-6 pb-12">
        <div class="flex items-center">
          <div class="flex">
            <img
              class="rounded-full h-16 mr-4"
              src="./assets/img/jesus-rodriguez-valencia.jpg"
              alt="Jesús Rodríguez Valencia"
            />
          </div>
          <div class="flex flex-col flex-1">
            <div class="font-semibold">Jesús Rodríguez Valencia</div>
            <div class="text-base text-gray-400">
              Principal Software Engineer @
              <a target="_blank" href="https://www.roche.com/">Roche</a>
            </div>
          </div>
        </div>
        <div class="pl-4 lg:pl-20 lg:pr-4 pt-4 lg:pt-0 text-xl text-gray-600">
          By using Earthly, we enabled developers to execute complex CI
          pipelines on their laptops without having to commit any code!
        </div>
      </div>

      <div class="mb-4 lg:mb-0 col-span-1 rounded-lg bg-gray-100 pl-4 pr-10 pt-6 pb-12">
        <div class="flex items-center">
          <div class="flex">
            <img
              class="rounded-full h-16 mr-4"
              src="./assets/img/jesse-anger.jpg"
              alt="Jesse Anger"
            />
          </div>
          <div class="flex flex-col flex-1">
            <div class="font-semibold">Jesse Anger</div>
            <div class="text-base text-gray-400">
              Head of IT & Security Operations @
              <a target="_blank" href="https://www.deepgenomics.com/">Deep Genomics</a>
            </div>
          </div>
        </div>
        <div class="pl-4 lg:pl-20 lg:pr-4 pt-4 lg:pt-0 pr-4 text-xl text-gray-600">
          By providing rapid build times, intelligent caching, and
          repeatability, Earthly enables a better approach to the coordination
          of development and deployment.
        </div>
      </div>

      <div class="mb-4 lg:mb-0 col-span-1 rounded-lg bg-gray-100 pl-4 pr-10 pt-6 pb-12">
        <div class="flex items-center">
          <div class="flex">
            <img
              class="rounded-full h-16 mr-4"
              src="./assets/img/brian-bugh.jpg"
              alt="Brian Bugh"
            />
          </div>
          <div class="flex flex-col flex-1">
            <div class="font-semibold">Brian Bugh</div>
            <div class="text-base text-gray-400">
              CTO @
              <a target="_blank" href="https://tableneeds.com/">Table Needs</a>
            </div>
          </div>
        </div>
        <div  class="pl-4 lg:pl-20 lg:pr-4 pt-4 lg:pt-0 pr-4 text-xl text-gray-600">
          Earthly CI reduced our average build time from 20 minutes to 3 minutes
          and was quick and straightforward to set up and use.
        </div>
      </div>

      <div class="mb-4 lg:mb-0 col-span-1 rounded-lg bg-gray-100 pl-4 pr-10 pt-6 pb-12">
        <div class="flex items-center">
          <div class="flex">
            <img
              class="rounded-full w-16 h-16 mr-4 object-cover"
              src="./assets/img/spencer-kimball.png"
              alt="Spencer Kimball"
            />
          </div>
          <div class="flex flex-col flex-1">
            <div class="font-semibold">Spencer Kimball</div>
            <div class="text-base text-gray-400">
              Creator of
              <a target="_blank" href="https://github.com/envoyproxy/envoy">CockroachDB</a>
              and co-creator of
              <a target="_blank" href="https://github.com/envoyproxy/envoy">GIMP</a>
            </div>
          </div>
        </div>
        <div class="pl-4 lg:pl-20 lg:pr-4 pt-4 lg:pt-0 pr-4 text-xl text-gray-600">
          By reducing the friction inherent in build tools, Earthly is enabling
          companies to move quickly and reduce the context switching overhead in
          their engineering organizations.
        </div>
      </div>
    </div>
  </div>
</div>
