<div class="w-full mb-10">
  <div class="max-w-7xl m-auto px-6 lg:px-10">
    <div class="bg-[#f3f4f6] pb-4 pt-11 rounded-xl">
      <div id="slides-container" class="flex overflow-hidden scroll-smooth">
        {% for item in site.data.customer-quotes %}
          <div id="slide" class="w-full basis-full flex-1 shrink-0">
            <div class="w-fit mx-auto">
              <div class="flex items-start max-w-3xl text-[#6b7280]">
                <img class="mt-2.5" src="./assets/svg/quotes.svg" />
                <p class="leading-normal ml-2 p-0.5 text-4xl">{{ item.quote }}</p>
              </div>

              <div class="flex mt-9">
                <img
                  class="rounded-full h-16 ml-1 mr-4"
                  src="./assets/img/{{ item.image }}"
                  alt="{{ item.name }}"
                />
                <div class="text-[#6b7280]">
                  <p class="font-bold text-2xl">{{ item.name }}</p>
                  <p class="mt-1 opacity-50 text-xl">
                    {{ item.headline[0] }} <a target="_blank" href="{{ item.link }}">{{ item.headline[1] }}</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="flex gap-2.5 justify-center mt-16">
        {% for item in site.data.customer-quotes %}
          <div
            id="indicator-{{ forloop.index }}"
            class="w-4 h-4 cursor-pointer duration-300 rounded-full transition-colors {% if forloop.index > 1 %}bg-[#d8d8d8]{% else %}bg-[#adacac]{% endif %}"
          ></div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
  const totalSlides = document.querySelectorAll("#slide").length;
  const slidesContainer = document.getElementById("slides-container");

  let currentSlide = 1;

  const intervalFunction = () => {
    const slideWidth = document.getElementById("slide").clientWidth;

    if (currentSlide === totalSlides) {
      let indicatorClasses = document.getElementById(`indicator-${currentSlide}`).classList
      indicatorClasses.remove("bg-[#adacac]")
      indicatorClasses.add("bg-[#d8d8d8]")

      slidesContainer.scrollLeft = 0;
      currentSlide = 1;

      indicatorClasses = document.getElementById(`indicator-${currentSlide}`).classList
      indicatorClasses.remove("bg-[#d8d8d8]")
      indicatorClasses.add("bg-[#adacac]")
    } else {
      let indicatorClasses = document.getElementById(`indicator-${currentSlide}`).classList
      indicatorClasses.remove("bg-[#adacac]")
      indicatorClasses.add("bg-[#d8d8d8]")

      slidesContainer.scrollLeft = slideWidth * currentSlide;
      currentSlide++;

      indicatorClasses = document.getElementById(`indicator-${currentSlide}`).classList
      indicatorClasses.remove("bg-[#d8d8d8]")
      indicatorClasses.add("bg-[#adacac]")
    }
  }

  var interval = setInterval(intervalFunction , 10000);

  const indicators = document.querySelectorAll('[id^="indicator"]');
  indicators.forEach(indicator => {
    indicator.addEventListener("click", e => {
      const slideWidth = document.getElementById("slide").clientWidth;
      const id = +e.target.id.replace("indicator-", "")

      if (id !== currentSlide) {
        clearInterval(interval)

        let indicatorClasses = document.getElementById(`indicator-${currentSlide}`).classList
        indicatorClasses.remove("bg-[#adacac]")
        indicatorClasses.add("bg-[#d8d8d8]")

        currentSlide = id
        slidesContainer.scrollLeft = slideWidth * (currentSlide - 1);

        indicatorClasses = document.getElementById(`indicator-${currentSlide}`).classList
        indicatorClasses.remove("bg-[#d8d8d8]")
        indicatorClasses.add("bg-[#adacac]")

        interval = setInterval(intervalFunction , 10000);
      }
    })
  })

  window.addEventListener('resize', () => {
    const slideWidth = document.getElementById("slide").clientWidth;
    slidesContainer.scrollLeft = slideWidth * (currentSlide - 1);
  })
</script>
