<footer class="px-6 lg:px-10 mt-5 lg:mt-14 bg-gray-50 w-full pb-32 flex flex-col">
    <div>


        <div class="flex justify-end">
            <div class="grid grid-cols-3 w-[600px] mt-10 gap-4 lg:gap-8 py-4 bg-gray-100 pl-4 pr-4 lg:pl-10 rounded-lg">
                <div class="col-span-1">
                    <div class="font-semibold mb-2">Products</div>
                    <div class="mb-1.5 hover:underline"><a href="/earthly-core">Earthly</a></div>
                    <div class="mb-1.5 hover:underline"><a href="/earthly-cloud">Earthly Cloud</a></div>
                    <div class="mb-1.5 hover:underline"><a href="/earthly-satellites">Earthly Satellites</a></div>
                </div>
                <div class="col-span-1">
                    <div class="font-semibold mb-2">Content</div>


                    <div class="mb-1.5 hover:underline"><a href="https://blog.earthly.dev">Blog</a></div>
                    <div class="mb-1.5 hover:underline"><a href="https://newsletter.earthly.dev/profile">Newsletter</a></div>
                    <div class="mb-1.5 hover:underline"><a href="/videos">Videos & Webinars</a></div>

                </div>
                <div class="col-span-1">
                    <div class="font-semibold mb-2">Resources</div>
                    <div class="mb-1.5 hover:underline"><a href="https://docs.earthly.dev">Docs</a></div>
                    <div class="mb-1.5 hover:underline"><a href="/pricing">Pricing</a></div>
                    <div class="mb-1.5 hover:underline"><a href="/customer-stories">Customer Stories</a></div>
                    <div class="mb-1.5 hover:underline"><a href="/solutions">Solutions</a></div>
                    <div class="mb-1.5 hover:underline"><a href="/faq">FAQ</a></div>
                    <div class="mb-1.5 hover:underline"><a href="/get-earthly">Download</a></div>
                </div>
            </div>

        </div>



        <div class="flex items-center justify-end pt-2 lg:hidden">
            <div>

                <div class=" text-gray-600 flex flex-1 flex-col items-center justify-center">
                    <div class="py-4">
                        Made with <span class="mx-0.5">🩵</span> on Planet Earth
                        <span class="mx-0.5 text-gray-400">|</span>
                        We're <a class="text-gray-600 font-semibold" href="https://jobs.earthly.dev">hiring</a>!
                    </div>

                </div>
                <div class="flex justify-center w-full mt-12 mb-12">
                    <div class="w-16  flex ">
                        <a href="https://twitter.com/{{site.twitter_username}}" title="Earthly on Twitter">
                            {% svg assets/svg/social-twitter-v2.svg height="28px" %}
                        </a>
                    </div>

                    <div class="w-16  flex ">
                        <a href="/slack" title="Earthly on Slack">
                            {% svg assets/svg/social-slack-v2.svg height="28px" %}
                        </a>
                    </div>

                    <div class="w-16 flex ">
                        <a href="https://www.youtube.com/@EarthlyTech" title="Earthly on Youtube">
                            {% svg assets/svg/social-youtube-v2.svg height="26px" %}
                        </a>
                    </div>
                </div>

                <div class=" text-gray-600 flex flex-1 flex-col items-center justify-center pt-6">
                    <div>
                        <a href="/tos" class="hover:underline">Terms of Service</a>
                        <span class="mx-2 text-gray-400">|</span>
                        <a href="/privacy-policy" class="hover:underline">Privacy Policy</a>
                        <span class="mx-2 text-gray-400">|</span>
                        <a href="/security" class="hover:underline">Security</a>
                    </div>
                </div>


            </div>

        </div>





        <div class="items-center justify-end pt-20 hidden lg:flex">
            <div class="siteHeader-logoAndMenuButton w-[300px]">
                <a class="siteHeader-logoLink saturate-0" href="{{site.landingurl}}/">
                    {% svg assets/svg/earthly-logo.svg class="siteHeader-logoLink-svg" height=70 %}
                </a>
            </div>

            <div class=" text-gray-600 flex flex-1 flex-col items-center justify-center">

                <div class="py-4">
                    Made with <span class="mx-2">🩵</span> on Planet Earth
                    <span class="mx-2 text-gray-400">|</span>
                    We're <a class="text-gray-600 font-semibold" href="https://jobs.earthly.dev">hiring</a>!
                </div>

                <div>
                    <a href="/tos" class="hover:underline">Terms of Service</a>
                    <span class="mx-2 text-gray-400">|</span>
                    <a href="/privacy-policy" class="hover:underline">Privacy Policy</a>
                    <span class="mx-2 text-gray-400">|</span>
                    <a href="/security" class="hover:underline">Security</a>
                </div>
            </div>

            <div class="flex justify-end w-[300px]">
                <div class="w-24 flex ">
                    <a href="https://twitter.com/{{site.twitter_username}}" title="Earthly on Twitter">
                        {% svg assets/svg/social-twitter-v2.svg height="36px" %}
                    </a>
                </div>

                <div class="w-24 flex ">
                    <a href="/slack" title="Earthly on Slack">
                        {% svg assets/svg/social-slack-v2.svg height="38px" %}
                    </a>
                </div>

                <div class="w-18 flex ">
                    <a href="https://www.youtube.com/@EarthlyTech" title="Earthly on Youtube">
                        {% svg assets/svg/social-youtube-v2.svg height="36px" %}
                    </a>
                </div>
            </div>
        </div>

    </div>
</footer>