<header class="z-50 w-full top-0 left-0 bg-white shadow-sm shadow-black/10 sticky">
  {% include banner.html %}

  <div class="flex h-[70px]">
    <div class="siteHeader-logoAndMenuButton pl-6">
      <a class="siteHeader-logoLink" href="{{site.landingurl}}/">
        {% svg assets/svg/earthly-logo.svg class="siteHeader-logoLink-svg" height=70 %}
      </a>
    </div>

    <nav class="flex flex-1 justify-end">
      {% include home/v2/inline.html template='home/v2/mobile-menu.html' %}
      <div class="hidden lg:flex">
        <div class="relative border-l cursor-default w-[80px] xl:w-[100px] text-sm xl:text-base h-[70px] flex group items-center justify-center hover:bg-[#f1fbff]">
          Products

          <div class="hidden group-hover:flex border z-50 absolute top-[68px] left-0 rounded-lg bg-white shadow-md overflow-hidden pb-4 pt-5 text-base">
            <div class="pb-5">
              <p class="w-[220px] xl:w-[254px] font-bold text-lg xl:text-xl mb-0 mt-0 pb-2 pl-7">Products</p>

              <div class="pl-7 pr-8 hover:bg-[#f1fbff]"><a href="/earthly-lunar" class="border-b py-3 flex items-center text-sm xl:text-base">Earthly Lunar</a></div>
              <div class="pl-7 pr-8 hover:bg-[#f1fbff]"><a href="/earthfile" class="border-b py-3 flex items-center text-sm xl:text-base">Earthfile</a></div>
            </div>
          </div>
        </div>
        <a
          href="{{site.blogurl}}"
          class="border-l border-r w-[80px] xl:w-[100px] text-sm xl:text-base flex items-center justify-center hover:bg-[#f1fbff]"
        >
          Blog
        </a>
        <div class="inline-flex items-center px-2 xl:px-4">
          <a
            href="/earthly-lunar/demo"
            class="py-4 h-10 px-4 xl:px-6 items-center text-sm xl:text-base text-center text-white bg-[#2d7e5d] hover:bg-green-800 rounded-lg inline-flex"
            onclick="navGetADemoClick()"
          >
            Get a Demo
          </a>
        </div>
      </div>
    </nav>
  </div>

  <script>
    function navGetADemoClick() {
      analytics.track("nav-get-a-demo-click", {
        category: "Get a Demo Click",
        label: "nav-get-a-demo-click",
      });
    }
  </script>
</header>
