<main class="homepage mb-6 lg:mb-12 mt-[70px] overflow-hidden wave-main">
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>

  <div class="max-w-7xl mt-12 mx-auto px-6 lg:px-10 relative z-10">
    <h1 class="font-medium text-5xl sm:text-7xl text-center xl:text-left text-slate-900 tracking-tight">
      Earthly makes builds
      <span class="block pt-4 text-[#2d7e5d] whitespace-nowrap">super simple</span>
    </h1>

    <p class="lg:leading-8 max-w-lg mt-10 mx-auto xl:mx-0 text-center xl:text-left text-xl text-slate-600 tracking-tight">
      Fast, consistent builds with an instantly familiar syntax – like
      Dockerfile and Makefile had a baby.
    </p>

    <p class="mt-9 text-center xl:text-left text-slate-400 text-xl">Simple, Fast, Consistent Builds</p>

    <div class="max-w-md mx-auto xl:mx-0">
      <a
        class="w-full bg-[#2d7e5d] hover:bg-[#2d7e5d] cursor-pointer inline-block my-0.5 lg:my-2 py-6 rounded-lg shadow-sm text-2xl text-center text-white"
        href="https://cloud.earthly.dev/login"
        onclick="homepageGetEarthlyClick()"
      >
        Get Started Free
      </a>
    </div>

    <p class="text-center xl:text-left text-slate-400">Open Source on <a class="underline" href="https://github.com/earthly/earthly">GitHub</a></p>

    <div class="absolute bottom-0 right-0 top-12 hidden min-[1800px]:flex">
      {% svg assets/svg/earthly-animation.svg class="h-full absolute -right-32" %}
    </div>
  </div>

  <div class="xl:w-fit bg-white xl:bg-transparent relative xl:absolute bottom-0 right-0 top-0 xl:top-24 earthly-animation xl:flex min-[1800px]:hidden items-center z-10">
    {% svg assets/svg/earthly-animation.svg class="h-full min-h-[280px] pt-10 lg:pt-12 xl:pt-0 relative xl:absolute -right-5 sm:right-[-10vw] xl:right-0 pb-4 lg:pb-0" %}
  </div>
</main>

<script>
  function homepageGetEarthlyClick() {
    analytics.track('homepage-get-started-free-click', {
      category: 'Get Started Free Click',
      label: 'homepage-get-started-free-click'
    });
  }
</script>
