<div class="flex lg:hidden justify-end items-center w-full h-full bg-white">

    <script defer>
        (function () {
            $(document).ready(function () {
                $('.show-menu-mobile').click(function () {
                    $('.mobile-nav-menu').show();
                });
                $('.hide-menu-mobile').click(function () {
                    $('.mobile-nav-menu').hide();
                });
            })
        })();
    </script>



    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-12 h-12 mr-8 show-menu-mobile">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
    </svg>


    <div
        class="flex-col justify-start items-center border-10 hidden mobile-nav-menu fixed top-1 right-0 left-0 h-full w-full bg-white ml-0 mt-0 px-10 py-2 border rounded-xl overflow-auto">
        <div class="flex w-full">
            <div class="siteHeader-logoAndMenuButton flex w-full justify-start pb-6">
                <a class="siteHeader-logoLink " href="{{site.landingurl}}/">
                    {% svg assets/svg/earthly-logo.svg class="siteHeader-logoLink-svg" height=70 %}
                </a>
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-12 h-12 mt-3 hide-menu-mobile">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </div>


        <div class="border-b w-full text-xl pt-4 flex flex-col pl-2">
            <div>Products</div>

            <a href="/earthly-lunar" class="border-b pl-4 py-4 flex items-center hover:bg-[#f1fbff]">Earthly Lunar</a>
            <a href="/earthfile" class="border-b pl-4 py-4 flex items-center hover:bg-[#f1fbff]">Earthfile</a>
            <a href="https://cloud.earthly.dev/login" class="border-b ml-4 pl-4 py-4 flex items-center hover:bg-[#f1fbff]">Login</a>
            <a href="https://docs.earthly.dev" class="border-b ml-4 pl-4 py-4 flex items-center hover:bg-[#f1fbff]">Earthfile Docs</a>
            <a href="/earthfile/satellites" class="border-b ml-4 pl-4 py-4 flex items-center hover:bg-[#f1fbff]">Earthly Satellites</a>
            <a href="/pricing" class="ml-4 pl-4 py-4 flex items-center hover:bg-[#f1fbff]">Satellites Pricing</a>
        </div>

        <a href="{{site.blogurl}}" class="border-b w-full pl-2 text-xl py-4 flex items-center hover:bg-[#f1fbff]">
            Blog
        </a>

        <a id="nav-mobile-cta-button-copy-control" href="/contact-us"
            class="h-10 px-4 my-10 items-center flex w-fit text-xl py-4 text-center text-white bg-[#2d7e5d] hover:bg-green-700 rounded-lg"
            onclick="navMobileGetADemoClick()">
            Get a Demo
        </a>
    </div>
</div>

<script>
  function navMobileGetADemoClick() {
    analytics.track('nav-mobile-get-a-demo-click', {
      category: 'Get a Demo Click',
      label: 'nav-mobile-get-a-demo-click'
    });
  }
</script>
