<div class="w-full">
  <div class="px-6 lg:px-10 pt-12 pb-12 max-w-7xl m-auto">
    <div class="text-3xl lg:text-4xl font-semibold">
      Nobody likes their CI/CD
    </div>
    <div class="text-xl lg:text-2xl text-slate-500 pt-1 pb-3">
      Traditional CI/CD has many pain points
    </div>

    <div class="rounded-xl px-6 py-6 bg-[#f6f3ea] text-lg text-gray-800">
      <script defer>
        (function () {
          $(document).ready(function () {
            $(".hover-title-info").hover(function () {
              $(".hover-title-info").removeClass("selected-point");
              $(this).addClass("selected-point");
              var item = $(this).data("item");
              $(".pain-point").addClass("hidden");
              $("." + item).removeClass("hidden");
            });
            $(".hover-title-info").eq(0).addClass("selected-point");
          });
        })();
      </script>

      <div class="h-full rounded-lg pb-2">
        <div class="w-full">
          <div class="lg:pr-10 lg:pl-4 pt-2 w-full lg:grid grid-cols-10">
            <div class="col-span-4">
              {% for item in site.data.pain-points %}
                <div
                  data-item="item-{{ forloop.index }}"
                  class="hover-title-info lg:hover:bg-white/50 border border-gray-300 text-xl lg:mr-10 cursor-pointer py-4 rounded-lg px-4 lg:w-[90%] text-black/90 flex items-center mb-2"
                >
                  {{ item.title }}
              </div>
              {% endfor %}
            </div>

            <div class="bg-white col-span-6 items-center min-h-[400px] xl:min-h-[340px] px-12 rounded-xl shadow-md hidden lg:flex">
              {% for item in site.data.pain-points %}
                <div class="item-{{ forloop.index }} pain-point {% if forloop.index > 1 %}hidden{% endif %}">
                  <span class="font-bold leading-8 text-xl text-gray-600">{{ item.headline }}</span>
                  <ul class="font-normal list-disc px-6 text-gray-600">
                    {% for point in item.points %}
                      <li class="pt-2">{{ point }}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
