
{%- if site.google_analytics -%}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161831101-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
  gtag('config', '{{ site.google_analytics_rollup }}', {
    'linker': {
      'domains': ['blog.earthly.dev']
    },
  });
</script>
{%- endif -%}