<script src="https://cdn.jsdelivr.net/npm/@growthbook/growthbook/dist/bundles/index.js"></script>
<script>
  // Uncomment uuidv4() for testing / Uncomment getAnalyticCookie() for production
  // var earthlyID = uuidv4();
  var earthlyID = getAnalyticCookie();

  // Create a GrowthBook instance
  const gb = new growthbook.GrowthBook({
    apiHost: "https://cdn.growthbook.io",
    clientKey: "sdk-7wtJG1WYaaYBiQ",
    // Uncomment for testing
    // enableDevMode: true,
    attributes: {
      id: earthlyID
    },
    trackingCallback: (experiment, result) => {
      analytics.track("Experiment Viewed", {
        experimentId: experiment.key,
        variationId: result.key,
      });
    }
  });

  //Adding test for bolding the first paragraph of blog posts
  document.addEventListener("DOMContentLoaded", function () {
    // Wait for features to be available
    gb.loadFeatures({ autoRefresh: true, timeout: 2000 }).then(() => {
      console.log("starting growthbook");
      const pElement = document.querySelector('.prose.content-block > p:first-child');
      const strongElement = pElement.querySelector('strong');
      if (strongElement) {
        console.log("starting Test");
        const boldOn = gb.isOn("blog-top-cta-link-bold")
      if (!boldOn) {
          strongElement.outerHTML = strongElement.innerHTML;
      }
    }
    });
  });

  //Adding clicktracking for blog post top CTA link
  document.addEventListener('DOMContentLoaded', function() {
    // Select the first paragraph
    var firstParagraph = document.querySelector('.prose.content-block > p:first-child');
    if (firstParagraph) {
        // Select the first link within that paragraph
        var firstLink = firstParagraph.querySelector('a');
        if (firstLink) {
            // Add the click event listener
            firstLink.addEventListener('click', function() {
                blogpostTopCTAClick();
            });
        }
    }
});

  function blogpostTopCTAClick() {
    analytics.track('blog-top-cta-link-bold-click', {
      category: 'CTA Click',
      label: 'blog-top-cta-link-bold-click'
    });
  }
</script>
