<script src="https://cdn.jsdelivr.net/npm/@growthbook/growthbook/dist/bundles/index.js"></script>
<script>
  // Uncomment uuidv4() for testing / Uncomment getAnalyticCookie() for production
  // var earthlyID = uuidv4();
  var earthlyID = getAnalyticCookie();

  // Create a GrowthBook instance
  const gb = new growthbook.GrowthBook({
    apiHost: "https://cdn.growthbook.io",
    clientKey: "sdk-7wtJG1WYaaYBiQ",
    // Uncomment for testing
    // enableDevMode: true,
    attributes: {
      id: earthlyID
    },
    trackingCallback: (experiment, result) => {
      analytics.track("Experiment Viewed", {
        experimentId: experiment.key,
        variationId: result.key,
      });
    }
  });

  {% if page.layout == "single" and page.sidebar.nav == "makefile" %}
  document.addEventListener("DOMContentLoaded", function () {
    const isDesktop = window.innerWidth > 1024;
    if (!isDesktop) {
      return;
    }

    // Get all elements with 'cta-treatment' and 'cta-control' classes
    const ctaTreatmentElements = document.querySelectorAll('.cta-treatment');
    const ctaControlElements = document.querySelectorAll('.cta-control');

    gb.loadFeatures({ autoRefresh: true, timeout: 2000 }).then(() => {
      console.log("starting Test");
      const treatment = gb.isOn("blog-makefile-more-sidebar")  
      if (treatment) {
        console.log("treatment");
        // Show 'cta-treatment' elements and hide 'cta-control' elements
        ctaTreatmentElements.forEach(element => element.classList.remove('hidden'));
        ctaControlElements.forEach(element => element.classList.add('hidden'));
      } else {
        console.log("control");
        ctaTreatmentElements.forEach(element => element.classList.add('hidden'));
        ctaControlElements.forEach(element => element.classList.remove('hidden'));
      }
    });
  });
  {% endif %}
 
</script>
