<script src="https://cdn.jsdelivr.net/npm/@growthbook/growthbook/dist/bundles/index.js"></script>
<script>
  // Uncomment uuidv4() for testing / Uncomment getAnalyticCookie() for production
  //var earthlyID = uuidv4();
  var earthlyID = getAnalyticCookie();

  // Create a GrowthBook instance
  const gb = new growthbook.GrowthBook({
    apiHost: "https://cdn.growthbook.io",
    clientKey: "sdk-7wtJG1WYaaYBiQ",
    // Uncomment for testing
    //enableDevMode: true,
    attributes: {
      id: earthlyID
    },
    trackingCallback: (experiment, result) => {
      analytics.track("Experiment Viewed", {
        experimentId: experiment.key,
        variationId: result.key,
      });
    }
  });

  //Page loaded
  document.addEventListener("DOMContentLoaded", function () {
    // Wait for features to be available
    gb.loadFeatures({ autoRefresh: true, timeout: 2000 }).then(() => {
      // console.log("Features loaded");
      
      // Example
      /*if(document.getElementById("homepage-hero-install-no-login-control")){
        //console.log("control element rendered");

        const testOn = gb.isOn("homepage-hero-install-no-login")

        if(testOn) {
          document.getElementById("homepage-hero-install-no-login-control").style.display = "none";
          document.getElementById("homepage-hero-install-no-login-test").style.display = "block";
        } else {
          document.getElementById("homepage-hero-install-no-login-control").style.display = "block";
          document.getElementById("homepage-hero-install-no-login-test").style.display = "none";
        }
      }*/

      // Gavin, 20231102, blog-nav-two-buttons-test: added the two if-statements below
      const twoButtonsTestOn = gb.isOn("blog-nav-two-buttons")
      if(document.getElementById("blog-nav-two-buttons-test-control-01")){
        if(twoButtonsTestOn) {
          document.getElementById("blog-nav-two-buttons-test-control-01").style.display = "none";
          document.getElementById("blog-nav-two-buttons-test-test-01").style.display = "inline-flex";
        } else {
          document.getElementById("blog-nav-two-buttons-test-control-01").style.display = "inline-flex";
          document.getElementById("blog-nav-two-buttons-test-test-01").style.display = "none";
        }
      }
      if(document.getElementById("blog-nav-two-buttons-test-control-02")){
        if(twoButtonsTestOn) {
          document.getElementById("blog-nav-two-buttons-test-control-02").style.display = "none";
          document.getElementById("blog-nav-two-buttons-test-test-02").style.display = "flex";
          document.getElementById("blog-nav-two-buttons-test-test-03").style.display = "flex";
        } else {
          document.getElementById("blog-nav-two-buttons-test-control-02").style.display = "flex";
          document.getElementById("blog-nav-two-buttons-test-test-02").style.display = "none";
          document.getElementById("blog-nav-two-buttons-test-test-03").style.display = "none";
        }
      }

      if(document.getElementById("makefile-cta-control")){
        if(gb.isOn("makefile-blog-bottom-cta-20230615")) {
            console.log("makefile-blog-bottom-cta-20230615 on");
            document.getElementById("makefile-cta-control").style.display = "none";
            document.getElementById("makefile-cta-change").style.display = "";
          } else {
            console.log("bmakefile-blog-bottom-cta-20230615 off");
            document.getElementById("makefile-cta-control").style.display = "";
            document.getElementById("makefile-cta-change").style.display = "none";
          }
      } 
    });
  });
</script>