<div class="Home-product-Earthfile">
    <header class="Home-product-Earthfile-header">
        <div class="Home-product-Earthfile-header-chromeDecoration">
          {% svg assets/svg/chrome-button.svg class="chrome-button1" %}
          {% svg assets/svg/chrome-button.svg class="chrome-button2" %}
          {% svg assets/svg/chrome-button.svg class="chrome-button3" %}
        </div>
        Earthfile
    </header>
<code class="Home-product-Earthfile-code"><span class="earthfile-term">FROM</span> golang:1.21-alpine3.19

<span class="earthfile-target">build:</span>
    <span class="earthfile-term">COPY</span> main.go . 
    <span class="earthfile-term">RUN</span> go build main.go  
    <span class="earthfile-term">SAVE ARTIFACT</span> main <span class="earthfile-term">AS LOCAL</span> main</code>
 </div>
