<h2 class="Home-heroText-title2">Quick Start</h2>
<h3>Here are some resources to get you started with Earthly</h3>
 <div style="display:flex">
            <div style="display:flex;width:50%;">
                <div style="padding:20px;" markdown="1">
* 🏁 [Getting started guide](https://docs.earthly.dev/guides/basics)
* 👀 [Examples](https://docs.earthly.dev/examples)
  * [Go](https://docs.earthly.dev/examples/go) -- gone?
  * [Java](https://docs.earthly.dev/examples/java)-- gone?
  * [JS](https://docs.earthly.dev/examples/js)-- gone?
  * [C++](https://docs.earthly.dev/examples/cpp) -- gone?
  * [Mono-repo](https://docs.earthly.dev/examples/monorepo) -- gone?
  * [Multi-repo](https://docs.earthly.dev/examples/multirepo) -- gone?
  * The [examples](./examples) dir
* 🔍 Explore [Earthly's own build](https://docs.earthly.dev/examples/earthly)
</div>
</div>
<div style="display:flex;width:50%;">
                <div style="padding:20px;" markdown="1">
Reference pages

* 📑 [Earthfile reference](https://docs.earthly.dev/earthfile)
* #️⃣ [Earthly command reference](https://docs.earthly.dev/earthly-command)
* ⚙️ [Configuration reference](https://docs.earthly.dev/earthly-config)
</div>
</div>
</div>
See also the [full documentation](https://docs.earthly.dev).