<script src="https://cdn.jsdelivr.net/npm/@growthbook/growthbook/dist/bundles/index.js"></script>
<script>
  // Uncomment for testing
  //var earthlyID = uuidv4();
  var earthlyID = getAnalyticCookie();

  // Create a GrowthBook instance
  const gb = new growthbook.GrowthBook({
    apiHost: "https://cdn.growthbook.io",
    clientKey: "sdk-7wtJG1WYaaYBiQ",
    // Uncomment for testing
    //enableDevMode: true,
    attributes: {
      id: earthlyID
    },
    trackingCallback: (experiment, result) => {
      analytics.track("Experiment Viewed", {
        experimentId: experiment.key,
        variationId: result.key,
      });
    }
  });

  //Page loaded
  document.addEventListener("DOMContentLoaded", function () {
    // Wait for features to be available
    gb.loadFeatures({ autoRefresh: true, timeout: 2000 }).then(() => {
      // console.log("Features loaded");
      /*if(document.getElementById("homepage-shorter-copy-benefits-1-headline-control")){
        //console.log("control element rendered");
        
        const shortCopy = gb.isOn("homepage-shorter-copy")
        if(shortCopy) {
          document.getElementById("homepage-shorter-copy-benefits-1-headline-control").style.display = "none";
          document.getElementById("homepage-shorter-copy-benefits-1-headline-test").style.display = "block";
        } else {
          document.getElementById("homepage-shorter-copy-benefits-1-headline-control").style.display = "block";
          document.getElementById("homepage-shorter-copy-benefits-1-headline-test").style.display = "none";
        }
      }*/
    });
  });
</script>