<script src="https://cdn.jsdelivr.net/npm/@growthbook/growthbook/dist/bundles/index.js"></script>
<script>
  // Uncomment uuidv4() for testing / Uncomment getAnalyticCookie() for production
  //var earthlyID = uuidv4();
  var earthlyID = getAnalyticCookie();

  // Create a GrowthBook instance
  const gb = new growthbook.GrowthBook({
    apiHost: "https://cdn.growthbook.io",
    clientKey: "sdk-7wtJG1WYaaYBiQ",
    // Uncomment for testing
    //enableDevMode: true,
    attributes: {
      id: earthlyID
    },
    trackingCallback: (experiment, result) => {
      analytics.track("Experiment Viewed", {
        experimentId: experiment.key,
        variationId: result.key,
      });
    }
  });

  //Page loaded
  document.addEventListener("DOMContentLoaded", function () {
    // Wait for features to be available
    gb.loadFeatures({ autoRefresh: true, timeout: 2000 }).then(() => {
      // console.log("Features loaded");
      
      // Example
      // Gavin, 20231109, A/B test homepage-hero-earthfile-image
      if(document.getElementById("homepage-hero-earthfile-image-control-01")){
        //console.log("control element rendered");
        
        const testOn = gb.isOn("homepage-hero-earthfile-image")
        if(testOn) {
          document.getElementById("homepage-hero-earthfile-image-control-01").style.display = "none";
          document.getElementById("homepage-hero-earthfile-image-test-01").style.display = "block";
        } else {
          document.getElementById("homepage-hero-earthfile-image-control-01").style.display = "block";
          document.getElementById("homepage-hero-earthfile-image-test-01").style.display = "none";
        }
      }
    });
  });
</script>