<header class="siteHeader2">
  <div class="siteHeader-logoAndMenuButton">
    <a class="siteHeader-logoLink" href="{{site.landingurl}}/">
      {% svg assets/svg/white-logo.svg class="siteHeader-logoLink-svg" height=70 %}
    </a>
  </div>
  <nav class="">
    <ul class="List">
      <li class="Item">
        <div class="star-cta">
          <a class="github-button" href="https://github.com/earthly/earthly" data-size="large" data-show-count="true"
            aria-label="Star earthly/earthly on GitHub">Star</a>
        </div>
      </li>
      <li class="border w-[100px]">
        <a class="Link " href="{{site.blogurl}}">
          Blog
        </a>
      </li>
      <li class="border w-[100px]">
        <a class="Link " href="/faq">
          FAQ
        </a>
      </li>
      <li class="border w-[100px]">
        <a class="Link " href="https://docs.earthly.dev/">
          Docs
        </a>
      </li>
    </ul>
  </nav>
</header>