<section class="no-mobile">
    <div>
        <div>
            <h3 class="Home-heroText-title2">Why Earthly? </h3>
        </div>
        <img src="/assets/img/integration3.png" class="dropshadow" alt="Why Earthly?">
        <div class="row">
            <div style="display:flex;width:50%">
                <div class="pad">
                    <h3>Before:</h3>
                    <div class="badcheck">
                        <ul >
                            <li>Flaky</li>
                            <li>Clunky and Brittle</li>
                            <li>Build guru required</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="display:flex; width:50%; padding-left: 26px;">
                <div class="pad">
                    <h3>With Earthly:</h3>
                    <div class="check">
                        <ul >
                            <li>Reproducible</li>
                            <li>Robust</li>
                            <li>Easy to Understand</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
