<div class="Home-product-Earthfile">
    <header class="Home-product-Earthfile-header">
        <div class="Home-product-Earthfile-header-chromeDecoration">
        {% svg assets/svg/chrome-button.svg class="chrome-button1" %}
        {% svg assets/svg/chrome-button.svg class="chrome-button2" %}
        {% svg assets/svg/chrome-button.svg class="chrome-button3" %}
        </div>
        zsh
    </header>
    <img src="https://raw.githubusercontent.com/earthly/earthly/main/img/demo-{{include.number}}.gif" alt="Building things">
</div>