<h3 class="Home-heroText-title2">Additional Resources</h3>
<section class="Home-resources">
  <ul class="Home-resources-list">
    <li class="Home-resources-listItem">
      <div class="Home-resources-listItem-text">
        <h4 class="Home-subsectionHeading Home-subsectionHeading--resources">
          {% svg assets/svg/resources-docs.svg class="Home-resources-svg" %}
          Documentation
        </h4>
        <p>If you are using Earthly and have questions then head over to our documentation for examples and guides and command documentation.</p>
      </div>
      <a href="{{site.docsurl}}/" class="Home-resources-link">Check out Docs</a>
    </li>
    <li class="Home-resources-listItem">
      <div class="Home-resources-listItem-text">
        <h4 class="Home-subsectionHeading Home-subsectionHeading--resources">
          <!-- <div style="position:relative;width:24px;height:24px;"> -->
          {% svg assets/svg/blog.svg class="Home-resources-svg" %}
          <!-- </div> -->
          Frequently Asked Questions
        </h4>
        <p>Does Earthly work with my programming langauge? Does it work with my build process? Frequently asked questions may be what you want.</p>
      </div>
      <a href="/faq" class="Home-resources-link">Read The FAQ</a>
    </li>
    <li class="Home-resources-listItem">
      <div class="Home-resources-listItem-text">
        <h4 class="Home-subsectionHeading Home-subsectionHeading--resources">
          {% svg assets/svg/resources-docs.svg class="Home-resources-svg" %}
          Blog
        </h4>
        <p>More Information on Earthly is available on our Blog.</p>
        <ul>
        <li><a href="https://earthly.dev/blog/the-world-deserves-better-builds/">The World Deserves Better Builds</a></li>
        <li><a href="https://earthly.dev/blog/introducing-earthly-build-automation-for-the-container-era/">Introducing Earthly: Build Automation for the Container Era</a></li>
        </ul>
      </div>
      <a href="{{site.blogurl}}" class="Home-resources-link">Check Out The Blog</a>
    </li>
  </ul>
</section>
