<section class="bg-light">
    <div>
        <div>
            <h3 class="Home-heroText-title2">Understandable and Repeatable Build Scripts with Earthly</h3>
        </div>
        <div class="row">
            <div class="half">
                <div class="pad">
                    <h3>❤️ Makefile + Dockerfile = Earthfile</h3>
                    <p> It's like Makefile and Dockerfile had a baby.  Earthly takes some of the best ideas from Makefiles and Dockerfiles and combines them into one specification.</p>
                    <div class="check">
                        <h4>Benefits</h4>
                        <ul >
                            <li>Repeatable builds</li>
                            <li>A familiar syntax</li>
                            <li>Caching for more speed</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="half">
                <div class="pad">
                    <p>
                        <div class="Home-product-Earthfile">
                            <header class="Home-product-Earthfile-header">
                                <div class="Home-product-Earthfile-header-chromeDecoration">
                                {% svg assets/svg/chrome-button.svg class="chrome-button1" %}
                                {% svg assets/svg/chrome-button.svg class="chrome-button2" %}
                                {% svg assets/svg/chrome-button.svg class="chrome-button3" %}
                                </div>
                                Earthfile
                            </header>
<code class="Home-product-Earthfile-code"><span class="earthfile-term">FROM</span> golang:1.21-alpine3.19
<span class="earthfile-term">RUN</span> apk --update --no-cache add git
<span class="earthfile-term">WORKDIR</span> /go-example                                    

<span class="earthfile-target">all:</span>
    <span class="earthfile-term">BUILD</span> +build
    <span class="earthfile-term">BUILD</span> +lint

<span class="earthfile-target">build:</span>
    <span class="earthfile-term">COPY</span> main.go .
    <span class="earthfile-term">RUN</span> go build -o build/go-example main.go
    <span class="earthfile-term">SAVE ARTIFACT</span> build/go-example <span class="earthfile-term">AS LOCAL</span> build/go-example

<span class="earthfile-target">lint:</span>
    <span class="earthfile-term">RUN</span> go install golang.org/x/lint/golint@latest
    <span class="earthfile-term">COPY</span> main.go .
    <span class="earthfile-term">RUN</span> golint -set_exit_status ./...</code>
                        </div>
                    </p>
                    <p style="text-align:center">A simple GO <a href="https://docs.earthly.dev/docs/examples">example</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="half">
                <div class="pad">
                    <div>
                        <p>
                            {% include iterm.html number=351683 %}
                        </p>
                        <p style="text-align:center">Invoke a build using <code>earthly +all.</code></p>
                    </div>
                </div>
            </div>
            <div class="half">
                <div class="pad">
                    <div>
                        <h3 class="g-type-display-3">Reproduce CI failures</h3>
                        <p>Earthly builds are self-contained, isolated and repeatable.</p>
                        <p>Regardless of whether Earthly runs in your CI or on your laptop, the build will run the same way.</p>
                        <p>This allows for faster iteration on the build scripts and easier debugging.</p>
                    </div>
                    <p>No more <code>git commit -m "try again" </code> .  </p>
                </div>
            </div>
        </div>
    </div>
</section>
