---
layout: default
---

{% if page.url != "/" and site.breadcrumbs %} {% unless paginator %} {% include
breadcrumbs.html %} {% endunless %} {% endif %}
<div id="main" role="main">
  {% include sidebar.html %}

  <div class="home-archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
    <h1 id="page-title" class="page__title">{{ page.title }}</h1>
    {% endunless %}
    <div class="mb-6 text-4xl font-bold">{{ page.title }}</div>
    <h3 class="mb-4 text-2xl text-gray-400">
      Recent <span class="lowercase">{{ page.title }}</span>
    </h3>
    <div
      class="entries-{{ entries_layout }} grid grid-cols-1 md:grid-cols-2 gap-12"
    >
      {% for post in page.posts %} {% include archive-single.html type="grid"
      heading="heading" %} {% endfor %}
    </div>
  </div>
</div>
