---
layout: home-archive
hero_post_1: earthly-v0-8
hero_post_2: earthly-functions
featured_posts_1:
  - earthly-satellites-ga
  - earthly-open-source
  - soc-type-one
featured_posts_2:
  - golang-errors
  - Flux-vs-Argo-CD
  - dos-gaming-in-docker
indepth_posts: 
  - awk-examples
  - jq-select
  - bash-variables
  - what-is-nix
  - bazel-build
  - monorepo-tools

---
{% assign entries_layout = page.entries_layout | default: 'grid' %}

<div class="grid col-span-1 md:grid-cols-9 w-full gap-8 -mt-[20px] pb-10">
  <div class="col-span-1 md:col-span-6 ">
    {% assign post = site.data.indexes.slug[layout.hero_post_1] %}
    {% include hero-story.html type=entries_layout %}
  </div>

  <div class="col-span-1 md:col-span-3 rounded-lg  bg-blue-50">
    <div class="p-4 pr-12 pl-8 mb-4">
      <h3 class="mb-6 pl-2 text-2xl text-slate-500">
        Earthly News
      </h3>

      {% for post in site.categories.News limit:5 %}
      <h2 class="archive__item-title no_toc heading mt-6 pl-2 pr-2 text-md font-semibold" itemprop="headline">
        <a class="hover:underline" href="/blog/{{ post.url }}" rel="permalink">{{ post.title }}
        </a>
      </h2>
      {% endfor %}

      <a class="pl-2 block mt-8 underline text-gray-600 hover:cursor-pointer hover:text-gray-900"
        href="/blog/categories/news/">More news...</a>
    </div>
  </div>

</div>


<h3 class="mb-4 mt-4 text-2xl font-semibold text-slate-600 ">
  Featured
</h3>
<div class="entries-grid grid grid-cols-1 md:grid-cols-3 gap-2 md:gap-4">
  {% for slug in layout.featured_posts_1 %}
    {% assign post = site.data.indexes.slug[slug] %}
    {% include_cached archive-single.html post=post type=entries_layout %}
  {% endfor %}
</div>



<h3 class="mb-4 mt-8 text-2xl font-semibold text-slate-600 ">
  Popular Series
</h3>

<div class="bg-blue-50 rounded-lg px-2">

  <div class="entries-grid grid grid-cols-1 md:grid-cols-3 gap-2 md:gap-4">

    {% include series_list.html name="Docker" type="docker" style="md:border-r md:border-slate-300" %}
    {% include series_list.html name="Bash" type="bash" style="md:border-r md:border-slate-300" %}
    {% include series_list.html name="Make Files" type="makefile" %}

  </div>
</div>
<a href="/blog/series" class="hover:underline block text-slate-500 text-lg mt-2 mb-2">More series...</a>

<h3 class="mb-4 mt-9 text-2xl font-semibold text-slate-600 ">
  Articles
</h3>
<div class="entries-grid grid grid-cols-1 md:grid-cols-3 gap-2 md:gap-4">
  {% for post in site.categories.Articles limit:3 %}
  {% include_cached archive-single.html post=post type=entries_layout %}
  {% endfor %}
</div>
<a href="/blog/categories/articles/" class="hover:underline text-lg block text-slate-500 -mt-4">More articles...</a>

<h3 class="mb-4 mt-9 text-2xl font-semibold text-slate-600 ">
  More
</h3>

<div class="grid col-span-1 md:grid-cols-9 w-full gap-8 -mt-[20px] pb-10">
  <div class="col-span-1 md:col-span-6 ">
    {% assign post = site.data.indexes.slug[layout.hero_post_2] %}
    {% include hero-story.html type=entries_layout %}
  </div>

  <div class="col-span-1 md:col-span-3 rounded-lg bg-blue-50">
    <div class="pr-12 pl-8 mb-8">
      <h3 class="mb-4 mt-9 text-2xl font-semibold text-slate-600 ">
        Tutorial Categories
      </h3>
      <ul class="mb-4">
        <li class="mb-1 series-item">
          <h2 class="archive__item-title no_toc heading pr-2 text-md font-semibold" itemprop="headline">
            <a class="hover:underline" href="/blog/categories/python/" rel="permalink">Python</a>
          </h2>
        </li>
        <li class="mb-1 series-item">
          <h2 class="archive__item-title no_toc heading pr-2 text-md font-semibold" itemprop="headline">
            <a class="hover:underline" href="/blog/categories/cloud/" rel="permalink">Cloud</a>
          </h2>
        </li>
        <li class="mb-1 series-item">
          <h2 class="archive__item-title no_toc heading pr-2 text-md font-semibold" itemprop="headline">
            <a class="hover:underline" href="/blog/categories/containers/" rel="permalink">Containers</a>
          </h2>
        </li>
        <li class="mb-1 series-item">
          <h2 class="archive__item-title no_toc heading pr-2 text-md font-semibold" itemprop="headline">
            <a class="hover:underline" href="/blog/categories/golang/" rel="permalink">Go</a>
          </h2>
        </li>
        <li class="mb-1 series-item">
          <h2 class="archive__item-title no_toc heading pr-2 text-md font-semibold" itemprop="headline">
            <a class="hover:underline" href="/blog/categories/cli/" rel="permalink">CLI and Scripting</a>
          </h2>
        </li>
        <li class="mb-1 series-item">
          <h2 class="archive__item-title no_toc heading pr-2 text-md font-semibold" itemprop="headline">
            <a class="hover:underline" href="/blog/categories/build/" rel="permalink">Build</a>
          </h2>
        </li>
        <li class="mb-1 series-item">
          <h2 class="archive__item-title no_toc heading pr-2 text-md font-semibold" itemprop="headline">
            <a class="hover:underline" href="/blog/categories/platform/" rel="permalink">Platform</a>
          </h2>
        </li>
        <li class="mb-1 series-item">
          <h2 class="archive__item-title no_toc heading pr-2 text-md font-semibold" itemprop="headline">
            <a class="hover:underline" href="/blog/categories/githubactions/" rel="permalink">GitHub Actions</a>
          </h2>
        </li>
        <li class="mb-1 series-item">
          <h2 class="archive__item-title no_toc heading pr-2 text-md font-semibold" itemprop="headline">
            <a class="hover:underline" href="/blog/categories/writing/" rel="permalink">Writing Tutorials</a>
          </h2>
        </li>
        <li class="mb-1 series-item">
          <h2 class="archive__item-title no_toc heading pr-2 text-md font-semibold" itemprop="headline">
            <a class="hover:underline" href="/blog/categories/tutorials/" rel="permalink">More Programming Tutorials</a>
          </h2>
        </li>
      </ul>

      <h3 class="mb-4 mt-9 text-2xl font-semibold text-slate-600 ">
        Listings
      </h3>
      <ul>
        <li class="mb-1 series-item">
          <h2 class="archive__item-title no_toc heading pr-2 text-md font-semibold" itemprop="headline">
            <a class="hover:underline" href="/blog/categories/popular/" rel="permalink">Popular Tutorials</a>
          </h2>
        </li>
        <li class="mb-1 series-item">
          <h2 class="archive__item-title no_toc heading pr-2 text-md font-semibold" itemprop="headline">
            <a class="hover:underline" href="/blog/categories/news/" rel="permalink">Earthly News</a>
          </h2>
        </li>
        <li class="mb-1 series-item">
          <h2 class="archive__item-title no_toc heading pr-2 text-md font-semibold" itemprop="headline">
            <a class="hover:underline" href="/blog/categories/articles/" rel="permalink">Articles</a>
          </h2>
        </li>
        <li class="mb-1 series-item">
          <h2 class="archive__item-title no_toc heading pr-2 text-md font-semibold" itemprop="headline">
            <a class="hover:underline" href="/blog/archive/" rel="permalink">All Content By Date</a>
          </h2>
        </li>
        <li></li>
      </ul>
    </div>
  </div>
</div>




<h3 class="mb-4 mt-9 text-2xl font-semibold text-slate-600 ">
  Python Tutorials
</h3>
<div class="entries-grid grid grid-cols-1 md:grid-cols-3 gap-2 md:gap-4">
  {% for post in site.categories.Python limit:3 %}
  {% include_cached archive-single.html post=post type=entries_layout %}
  {% endfor %}
</div>
<a href="/blog/categories/python/" class="hover:underline text-lg block text-slate-500 -mt-4">More Python tutorials...</a>

<h3 class="mb-4 mt-9 text-2xl font-semibold text-slate-600 ">
  Cloud Tutorials
</h3>
<div class="entries-grid grid grid-cols-1 md:grid-cols-3 gap-2 md:gap-4">
  {% for post in site.categories.Cloud limit:3 %}
  {% include_cached archive-single.html post=post type=entries_layout %}
  {% endfor %}
</div>
<a href="/blog/categories/cloud/" class="hover:underline text-lg block text-slate-500 -mt-4">More Cloud tutorials...</a>

<h3 class="mb-4 mt-9 text-2xl font-semibold text-slate-600 ">
  Containers and Orchestration Tutorials
</h3>
<div class="entries-grid grid grid-cols-1 md:grid-cols-3 gap-2 md:gap-4">
  {% for post in site.categories.Containers limit:3 %}
  {% include_cached archive-single.html post=post type=entries_layout %}
  {% endfor %}
</div>
<a href="/blog/categories/containers/" class="hover:underline text-lg block text-slate-500 -mt-4">More Containers and Orchestration Tutorials...</a>

<h3 class="mb-4 mt-9 text-2xl font-semibold text-slate-600 ">
  Golang Tutorials
</h3>
<div class="entries-grid grid grid-cols-1 md:grid-cols-3 gap-2 md:gap-4">
  {% for post in site.categories.Golang limit:3 %}
  {% include_cached archive-single.html post=post type=entries_layout %}
  {% endfor %}
</div>
<a href="/blog/categories/golang/" class="hover:underline text-lg block text-slate-500 -mt-4">More Go Tutorials...</a>

<h3 class="mb-4 mt-9 text-2xl font-semibold text-slate-600 ">
  Command Line Mastery, Shell Scripting and Automation
</h3>
<div class="entries-grid grid grid-cols-1 md:grid-cols-3 gap-2 md:gap-4">
  {% for post in site.categories.cli limit:3 %}
  {% include_cached archive-single.html post=post type=entries_layout %}
  {% endfor %}
</div>
<a href="/blog/categories/cli/" class="hover:underline text-lg block text-slate-500 -mt-4">More Shell Tutorials...</a>

<h3 class="mb-4 mt-9 text-2xl font-semibold text-slate-600 ">
  Build Tutorials
</h3>
<div class="entries-grid grid grid-cols-1 md:grid-cols-3 gap-2 md:gap-4">
  {% for post in site.categories.Build limit:3 %}
  {% include_cached archive-single.html post=post type=entries_layout %}
  {% endfor %}
</div>
<a href="/blog/categories/build/" class="hover:underline text-lg block text-slate-500 -mt-4">More Build Tutorials...</a>

<h3 class="mb-4 mt-9 text-2xl font-semibold text-slate-600 ">
  Platform Tutorials
</h3>
<div class="entries-grid grid grid-cols-1 md:grid-cols-3 gap-2 md:gap-4">
  {% for post in site.categories.Platform limit:3 %}
  {% include_cached archive-single.html post=post type=entries_layout %}
  {% endfor %}
</div>
<a href="/blog/categories/platform/" class="hover:underline text-lg block text-slate-500 -mt-4">More Platform Tutorials...</a>

<h3 class="mb-4 mt-9 text-2xl font-semibold text-slate-600 ">
  GitHub Actions Tutorials
</h3>
<div class="entries-grid grid grid-cols-1 md:grid-cols-3 gap-2 md:gap-4">
  {% for post in site.categories.GitHubActions limit:3 %}
  {% include_cached archive-single.html post=post type=entries_layout %}
  {% endfor %}
</div>
<a href="/blog/categories/githubactions/" class="hover:underline text-lg block text-slate-500 -mt-4">More GitHub Actions Tutorials...</a>

<h3 class="mb-4 mt-9 text-2xl font-semibold text-slate-600 ">
  Programming Tutorials
</h3>
<div class="entries-grid grid grid-cols-1 md:grid-cols-3 gap-2 md:gap-4">
  {% for post in site.categories.Tutorials limit:6 %}
  {% include_cached archive-single.html post=post type=entries_layout %}
  {% endfor %}
</div>
<a href="/blog/categories/tutorials/" class="hover:underline text-lg block text-slate-500 -mt-4">More programming tutorials...</a>




<h3 class="mb-4 mt-4 text-2xl font-semibold text-slate-600 ">
  Popular
</h3>
<div class="entries-grid grid grid-cols-1 md:grid-cols-3 gap-2 md:gap-4">
  {% for slug in layout.featured_posts_2 %}
  {% assign post = site.data.indexes.slug[slug] %}
  {% include_cached archive-single.html post=post type=entries_layout %}
  {% endfor %}
</div>
<a href="/blog/categories/popular/" class="hover:underline text-lg block text-slate-500 -mt-4">More of the most popular...</a>


<h3 class="mb-4 mt-4 text-2xl font-semibold text-slate-600 ">
  In Depth
</h3>
<div class="entries-grid grid grid-cols-1 md:grid-cols-3 gap-2 md:gap-4">
  {% for slug in layout.indepth_posts %}
    {% assign post = site.data.indexes.slug[slug] %}
    {% include_cached archive-single.html post=post type=entries_layout %}
  {% endfor %}
</div>
