---
layout: default
---

{% comment %} Default header image {% endcomment %} 
{% assign header = "assets/images/" | append: page.slug | append: "/header.jpg" %} 
{% capture header_default %}{% file_exists {{ header }} %}{% endcapture %} 

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif header_default == "true" %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% else %}
  {{ "no header found under " | append: header | raise_error }}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  <article class="page bg-white" itemscope itemtype="https://schema.org/CreativeWork">
    {% if page.title %}
      <meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}" />
    {% endif %}
    {% if page.excerpt %}
      <meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once | truncate: 160 }}" />
    {% endif %}
    {% if page.date %}
      <meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}" />
    {% endif %}
    {% if page.last_modified_at %}
      <meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}" />
    {% endif %}

    <div class="page__inner-wrap flex relative">
      <div id="breadcrumbs" class="w-[1px] h-full text-md top-[36px] z-10 hidden lg:block">
        <div class="w-[250px] pb-20 pt-6 pl-3">
          <div class="mt-6">
            <a href="/blog/" class="text-xl text-blue-600 hover:underline">Blog</a>
            <span class="text-slate-400 ml-1 mr-1">/</span>
            {% if page.sidebar %}
              <a href="/blog/series/" class="text-xl text-blue-600 font-semibold hover:underline">Series</a>
              <span class="text-slate-400 ml-1 mr-1">/</span>
              <a href="/blog/series/{{ page.sidebar.nav }}" class="text-xl text-blue-600 font-semibold hover:underline">{{ site.data.navigation[page.sidebar.nav][0].title }}</a>
            {% else %}
              <a href="/blog/categories/{{ page.categories[0] | downcase }}/" class="text-xl text-blue-600 font-semibold hover:underline">{{ page.categories[0] }}</a>
            {% endif %}
          </div>
          <div class="group mt-4 hidden cta-treatment">
            <header>
              <h4 class="font-semibold text-md mb-2">Table of contents</h4>
            </header>
            <div class="">
              <div class="relative z-50">
                {% include toc.html sanitize=true html=content h_min=1 h_max=4 class="" skip_no_ids=true %}
              </div>
            </div>
          </div>
          <div class="group mt-4 group mt-4 bg-blue-50 p-4 pr-4 pl-4 hidden cta-treatment">
            <header>
              <h4 class="font-semibold text-md mb-2">About Earthly</h4>
            </header>
            <div class="">
              <p class="prose">
                Earthly makes builds super simple. <a href="">Learn More</a>
            </p>
            </div>
          </div>
          <div class="group mt-4 hidden cta-treatment">
            <header>
              <h4 class="font-semibold text-md mb-2">You may also enjoy</h4>
            </header>
            <div class="">
              <ul>
                <li class="mb-1 series-item">
                    <a href="/blog/autoconf/" class="text-sm text-gray-600 hover:underline">
                        Using Autotools
                    </a>
                </li>
            
                <li class="mb-1 series-item">
                    <a href="/blog/make-flags" class="text-sm text-gray-600 hover:underline">
                        Understanding Makefile Flags
                    </a>
                </li>
            
                <li class="mb-1 series-item">
                    <a href="/blog/repeatable-builds-every-time/#tips-for-taming-makefiles-in-large-teams" class="text-sm text-gray-600 hover:underline">
                        Taming Large Makefiles
                    </a>
                </li>
            
                <li class="mb-1 series-item">
                    <a href="/blog/docker-and-makefiles" class="text-sm text-gray-600 hover:underline">
                        Docker and Makefiles
                    </a>
                </li>
            
                <li class="mb-1 series-item">
                    <a href="/blog/makefiles-on-windows" class="text-sm text-gray-600 hover:underline">
                        Makefiles on Windows
                    </a>
                </li>
            
                <li class="mb-1 series-item">
                    <a href="/blog/using-makefile-wildcards" class="text-sm text-gray-600 hover:underline">
                        Makefile Wildcards
                    </a>
                </li>
            
                <li class="mb-1 series-item">
                    <a href="/blog/makefile-variables" class="text-sm text-gray-600 hover:underline">
                        Makefile Variables
                    </a>
                </li>
            
        </ul>
            </div>
          </div>
          
          {% if page.toc %}
            <div class="group mt-4 cta-control">
              <header>
                <h4 class="font-semibold text-md mb-2">Table of contents</h4>
              </header>
              <div class="border-gray-300 relative border bg-white rounded-md shadow-md mt-2 hidden group-hover:block">
                <div class="arrow border-l border-t border-gray-300 absolute z-10"></div>
                <div class="relative z-50 pb-1 pt-1">
                  {% include toc.html sanitize=true html=content h_min=1 h_max=4 class="toc__menu" skip_no_ids=true %}
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>

      <section class="page__content w-full p-2 pt-8 md:p-10 flex flex-1 flex-col items-center relative" itemprop="text">
        {% if page.sidebar %}
          {% if page.sidebar.nav %}
            <div class="w-[1px] h-full text-md absolute right-0 z-10 hidden lg:block">
              {% include nav_list nav=page.sidebar.nav %}
            </div>
          {% endif %}
        {% endif %}

        <div class="blog-article-wrap">
          <header class="blog-article-header">
            {% if page.title %}
              <h1 id="page-title" class="page__title text-4xl font-extrabold leading-none tracking-tight text-gray-900" itemprop="headline">
                {{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}
              </h1>
            {% endif %}
            {% include page__meta.html %}
          </header>

          <div class="lg:hidden mb-4">
            {% if page.sidebar %}
              {% if page.sidebar.nav %}
                <div class="border border-gray-400 flex items-center justify-between my-2 px-4 py-2 rounded-md" onclick="toggleSeriesContent()">
                  <p>In this Series</p>
                  {% svg assets/svg/chevron.svg id="dropdown-icon" width="16px" height="16px" class="transition-transform" %}
                </div>
                <div id="dropdown-list" class="border border-gray-300 bg-white text-md rounded-md shadow-md px-4 pb-2 hidden">
                  {% include nav_list nav=page.sidebar.nav %}
                </div>
              {% endif %}
            {% endif %}
            
          </div>

          <div class="lg:hidden mb-4">
            {% if page.toc %}
              <div class="border border-gray-400 flex items-center justify-between my-2 px-4 py-2 rounded-md" onclick="toggleToc()">
                <p>Table of Contents</p>
                {% svg assets/svg/chevron.svg id="toc-dropdown-icon" width="16px" height="16px" class="transition-transform" %}
              </div>
              <div id="toc-dropdown-list" class="border border-gray-300 bg-white text-md rounded-md shadow-md px-2 py-4 hidden">
                {% include toc.html sanitize=true html=content h_min=1 h_max=4 class="toc__menu" skip_no_ids=true %}
              </div>
            {% endif %}
          </div>

          <div class="prose content-block">{{ content }}</div>

          <div class="mt-4 prose">
            {% if page.author_profile or layout.author_profile and page.type != "authors" %}
              {% include author-profile.html %}
            {% endif %}
            <footer class="page__meta">
              {% if site.data.ui-text[site.locale].meta_label %}
                <h4 class="page__meta-title">
                  {{ site.data.ui-text[site.locale].meta_label }}
                </h4>
              {% endif %}
              {% include page__taxonomy.html %}
              {% include page__date.html %}
            </footer>

            {% if page.share %}
              {% include social-share.html %}
            {% endif %}

            {% if page.funnel != 3 %}
              <!-- On non-funnel pages, show newsletter sign up -->
              <div class="only-mobile">
                {% include_html cta/blog-newsletter1.html %}
              </div>
            {% endif %}
          </div>

          {% if page.link %}
            <div>
              <a href="{{ page.link }}" class="btn btn--primary">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a>
            </div>
          {% endif %}
        </div>
      </section>

      <a href="#top" id="scroll-button" style="display:none">
        <button type="button" data-mdb-ripple="true" data-mdb-ripple-color="light" class="inline-block p-3 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-blue-800 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out bottom-5 right-5 fixed" id="btn-back-to-top">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" class="w-4 h-4" role="img" viewBox="0 0 448 512">
            <path fill="currentColor" d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z"></path>
          </svg>
        </button>
      </a>
    </div>
  </article>

  {% comment %}
    <!-- only show related on a post page when `related: true` -->
    <!-- only show related on a post in prod, to speed rendering -->
    <!-- 
      Get related topics where funnel step is 2 and funnel=3 and combine them and grab first 8
      Putting related ones first.
    -->
  {% endcomment %}
  {% if jekyll.environment == "production" %}
    {% if page.id and page.related and site.related_posts.size > 0 %}
      <div class="page__related mt-8 ml-8 mr-8">
        <div class="page__related-title heading mb-2 text-2xl text-gray-400">
          {{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}
        </div>
        <div class="grid__wrapper grid grid-cols-1 md:grid-cols-2 gap-2 md:gap-12">
          {% assign related = site.posts | where: "funnel",3 | sample: 10 %}
          {% assign topics = site.posts | where: "topic", page.topic | where: "funnel", 2 | sample: 10 %}
          {% assign everything = topics | concat: related  | slice: 0, 8 %}
          {% for post in everything %}
            {% if page.id != post.id %}
              {% include archive-single.html type="grid" lazy="true" %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endif %}
</div>

<script>
  var dropdownList = document.getElementById('dropdown-list')
  var dropdownIcon = document.getElementById('dropdown-icon')

  function toggleSeriesContent() {
    if (dropdownList.classList.contains('hidden')) {
      dropdownList.classList.remove('hidden')
      dropdownIcon.style.transform = 'rotate(180deg)'
    } else {
      dropdownList.classList.add('hidden')
      dropdownIcon.style.transform = 'rotate(0deg)'
    }
  }

  var tocDropdownList = document.getElementById('toc-dropdown-list')
  var tocDropdownIcon = document.getElementById('toc-dropdown-icon')

  function toggleToc() {
    if (tocDropdownList.classList.contains('hidden')) {
      tocDropdownList.classList.remove('hidden')
      tocDropdownIcon.style.transform = 'rotate(180deg)'
    } else {
      tocDropdownList.classList.add('hidden')
      tocDropdownIcon.style.transform = 'rotate(0deg)'
    }
  }
</script>
