<div class="w-full">
  <div class="px-6 lg:px-10  max-w-7xl m-auto">
    <div class="py-6 px-6 lg:px-10 rounded-xl bg-[#f1fbff]  pb-10 mt-6">
      <div>
        <div class="text-2xl lg:text-3xl font-semibold mb-6">
          Super simple, not just for the build guru
        </div>

        <div class="lg:grid grid-cols-10">
          <div class="bg-gray-600 col-span-5 rounded-xl overflow-hidden shadow-md">
            <div class="">
              <header class="pt-1 pb-1.5 text-center reelative text-white/80 ">
                <div class="flex absolute pt-2 ml-2">
                  <svg fill="none" height="12" viewBox="0 0 12 12" width="12" class="mr-1 chrome-button1">
                    <circle cx="6" cy="6" class="fillStd" r="6"></circle>
                    <circle cx="6" cy="6" r="5.75" class="primaryStroke" strokeOpacity=".16" strokeWidth=".5"></circle>
                  </svg>
                  <svg fill="none" height="12" viewBox="0 0 12 12" width="12" class="mr-1 chrome-button2">
                    <circle cx="6" cy="6" class="fillStd" r="6"></circle>
                    <circle cx="6" cy="6" r="5.75" class="primaryStroke" strokeOpacity=".16" strokeWidth=".5"></circle>
                  </svg>
                  <svg fill="none" height="12" viewBox="0 0 12 12" width="12" class="chrome-button3">
                    <circle cx="6" cy="6" class="fillStd" r="6"></circle>
                    <circle cx="6" cy="6" r="5.75" class="primaryStroke" strokeOpacity=".16" strokeWidth=".5"></circle>
                  </svg>
                </div>
                Earthfile
              </header>

              <code class="text-sm sm:text-md pt-6 lg:pt-10 lg:pl-6 pb-6 font-mono block bg-[#111214] text-gray-100 min-h-[310px] lg:min-h-[350px]">
                <div class=" rounded-lg pb-4 text-white text-sm font-mono relative">
                  <div class="cursor-default pl-6"><span class="text-[#7dcfff]">VERSION</span> 0.8</div> 
                  <div class="cursor-default pl-6"><span class="text-[#7dcfff]">FROM</span> golang:1.21-alpine3.19</div>
                  <div class="cursor-default pl-6"><span class="text-[#7dcfff]">RUN</span> apk --update --no-cache add git</div>
                  <div class="cursor-default pl-6"><span class="text-[#7dcfff]">WORKDIR</span> /go-example</div>

                  <div class="mt-3 text-[#b395ed] cursor-default pl-6">all:</div>
                  <div class="pl-10 cursor-default"><span class="text-[#7dcfff]">BUILD</span> +build</div>
                  <div class="pl-10 cursor-default"><span class="text-[#7dcfff]">BUILD</span> +lint</div>

                  <div class="mt-3 text-[#b395ed] cursor-default pl-6">build:</div>
                  <div class="pl-10 cursor-default"><span class="text-[#7dcfff]">COPY</span> main.go .</div>
                  <div class="pl-10 cursor-default"><span class="text-[#7dcfff]">RUN</span> go build -o build/go-example main.go</div>
                  <div class="pl-10 cursor-default"><span class="text-[#7dcfff]">SAVE ARTIFACT</span> build/go-example <span class="text-[#7dcfff]">AS LOCAL</span> build/go-example</div>

                  <div class="mt-3 text-[#b395ed] cursor-default pl-6">lint:</div>
                  <div class="pl-10 cursor-default"><span class="text-[#7dcfff]">RUN</span> go install golang.org/x/lint/golint@latest</div>
                  <div class="pl-10 cursor-default"><span class="text-[#7dcfff]">COPY</span> main.go .</div>
                  <div class="pl-10 cursor-default"><span class="text-[#7dcfff]">RUN</span> golint -set_exit_status ./...</div>
                </div>
              </code>
            </div>
          </div>

          <ul class="text-gray-500 text-lg pt-8 lg:pt-0 pl-4 col-span-5 lg:pl-12 list-disc">
            <li class="pb-2">Quickly grasp Earthfiles without prior knowledge</li>
            <li class="pb-2">Syntax that is easy to write and understand by all engineers</li>
            <li>It's like Dockerfile and Makefile had a baby</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
