<div class="w-full mt-2">
  <div class="px-6 lg:px-10 pt-4 max-w-7xl m-auto">
    <div class="bg-[#f1fbff] flex flex-col items-center px-6 rounded-lg">
      <p class="font-semibold pt-14 text-4xl text-center tracking-tight">
        Get Started with Earthly now!
      </p>

      <p class="pt-6 text-center text-slate-400 text-xl">
        Simple, Fast, Consistent Builds
      </p>

      <div class="lg:flex mb-20 gap-4">
        <a
          href="https://cloud.earthly.dev/login"
          class="w-full lg:w-80 max-w-md mt-4 py-4 text-2xl text-center cursor-pointer shadow-sm text-white bg-[#2d7e5d] hover:bg-[#2d7e5d] rounded-lg inline-block"
          onclick="bottomCtaGetEarthlyClick()"
        >
          Get Started Free
        </a>

        <a
          href="/contact-us"
          class="w-full flex-1 max-w-md mt-4 px-5 py-4 text-2xl text-center cursor-pointer shadow-sm text-[#2d7e5d] bg-white border border-2 border-[#2d7e5d] hover:bg-[#f1fbff] rounded-lg inline-block"
          onclick="bottomCtaGetDemoClick()"
        >
          Get a Demo
        </a>
      </div>
    </div>
  </div>
</div>

<script>
  function bottomCtaGetEarthlyClick() {
    analytics.track("earthly-github-actions-bottom-cta-get-started-free-click", {
      category: "Get Started Free Click",
      label: "earthly-github-actions-bottom-cta-get-started-free-click",
    });
  }

  function bottomCtaGetDemoClick() {
    analytics.track("earthly-github-actions-bottom-cta-get-a-demo-click", {
      category: "Get a Demo Click",
      label: "earthly-github-actions-bottom-cta-get-a-demo-click",
    });
  }
</script>
