<div class="w-full mb-12">
  <div class="max-w-7xl mx-auto px-6 lg:px-10">
    <div class="bg-[#f1fbfe] flex flex-col-reverse flex-1 md:flex-row pb-8 pt-6 px-6 rounded-xl">
      <div class="flex-1 mt-6 md:mt-0">
        <p class="color-[#475569] font-semibold text-sm tracking-tight">August 23, 2023</p>

        <p class="color-[#475569] font-semibold mt-2 text-2xl tracking-tight">Better Together - Earthly + Github Actions</p>

        <p class="mt-4 text-[#6b7280] text-lg tracking-tight">
          I joined Earthly at the beginning of 2023. I lead solution
          architecture. One of my primary roles is helping potential customers
          figure out how they can best leverage Earthly. That often requires
          building demonstrations that show how...
        </p>

        <a class="inline-block mt-4" href="/blog/earthly-github-actions/">
          <div class="w-fit decoration-[#2d7e5d] flex items-center hover:underline">
            <p class="font-bold text-[#2d7e5d]">Read more</p>
            <img class="ml-1" src="assets/svg/chevron-green.svg" alt="Chevron" />
          </div>
        </a>
      </div>

      <div class="md:w-7/12 md:pl-10">
        <img class="w-full md:h-[200px] object-cover object-top rounded-lg" src="https://earthly.dev/blog/generated/assets/images/earthly-github-actions/header-2560-6cd58feda.webp" alt="Better Together - Earthly + Github Actions" />
      </div>
    </div>
  </div>
</div>
