<main class="flex flex-col justify-center text-center wave-main relative z-0 overflow-hidden lg:my-2">
  <h1 class="relative z-10 mx-auto max-w-4xl font-display text-5xl font-medium tracking-tight text-slate-900 sm:text-7xl">
    <span class="relative text-[#2d7e5d]">
      <span class="relative block">Earthly + GitHub Actions</span>
    </span>
  </h1>

  <p class="relative lg:leading-8 z-10 mx-auto mt-10 max-w-lg text-xl tracking-tight px-4 lg:px-0 text-slate-600">
    GitHub Actions are better with Earthly. Get faster build speeds, improved 
    consistency, and local testing along with an easy-to-use syntax – no YAML – 
    and better monorepo support.
  </p>

  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</main>
