<div class="w-full">
  <div class="px-6 lg:px-10  max-w-7xl m-auto">

    <div class="text-3xl lg:text-4xl font-semibold">
      Why Earthly?
    </div>
    <div class="text-xl lg:text-2xl text-slate-500 pt-1 pb-8">
      With Earthly, all builds are self-contained, consistent, portable, and 
      language agnostic.
    </div>
    <img class="w-full hidden object-fill lg:block" src="./assets/img/why-earthly-cloud.svg" alt="Why Earthly?" />

    <div class="grid grid-cols-1 gap-4 py-0 lg:py-10 lg:grid-cols-2">
      <div class="pl-0 lg:pl-10">
        <div class="pb-3 text-xl font-semibold lg:font-2xl">Before:</div>
        <img class="object-fill w-full mb-5 lg:hidden" src="./assets/img/before-cloud-graphic.svg" alt="Before" />
        <div class="flex pb-2">
          <img src="./assets/svg/close-icon.svg" alt="False checked" class="" />
          <div class="px-2">Bash and YAML spaghetti</div>
        </div>
        <div class="flex pb-2">
          <img src="./assets/svg/close-icon.svg" alt="False checked" class="" />
          <div class="px-2">Clunky and Brittle</div>
        </div>
        <div class="flex">
          <img src="./assets/svg/close-icon.svg" alt="False checked" class="" />
          <div class="px-2">Build guru required</div>
        </div>
      </div>

      <div class="pt-6 pl-0 lg:pt-0 lg:pl-10">
        <div class="pb-3 text-xl font-semibold lg:font-2xl">With Earthly Satellites:</div>
        <img class="object-fill w-full mb-5 lg:hidden" src="./assets/img/with-cloud-graphic.svg" alt="With Earthly" />
        <div class="flex pb-2">
          <img src="./assets/svg/done-check.svg" alt="Checked bullet" class="" />
          <div class="px-2">Consistent</div>
        </div>
        <div class="flex pb-2">
          <img src="./assets/svg/done-check.svg" alt="Checked bullet" class="" />
          <div class="px-2">2-20x Faster</div>
        </div>
        <div class="flex pb-2">
          <img src="./assets/svg/done-check.svg" alt="Checked bullet" class="" />
          <div class="px-2">Easy to Understand</div>
        </div>
      </div>
    </div>
  </div>
</div>