<div id="blog-bottom-cta-control" class="bg-blue-50 rounded-lg px-6 py-1">
  <p class="my-1">
    <span class="text-xl font-medium">Earthly makes CI/CD super simple</span>
    <br />
    <span class="text-lg font-normal italic">Fast, repeatable CI/CD with an instantly familiar syntax – like Dockerfile and Makefile had a baby.</span>
  </p>
  <p class="text-xl my-1">
    <a href="https://earthly.dev/" target="_blank" onclick="blogHomepageCTAClick1()">Learn More</a>
  </p>
</div>

<script>
function blogHomepageCTAClick1() {
  analytics.track('blog-bottom-cta-click', {
    category: 'Learn More about Earthly Click',
    label: 'blog-bottom-cta-click'
  });
}
</script>