<div class="bg-blue-50 rounded-lg px-6 py-1">
  <p class="text-xl font-bold">While you’re here:</p>
  <p class="text-xl leading-9">
    <a href="https://earthly.dev/signup/earthly-ci" target="_blank">Try Earthly CI</a>. Fast, repeatable CI/CD that is super simple to use.
  </p>
  <p class="text-xl leading-9">
    <a href="https://earthly.dev/get-earthly" target="_blank">Download Earthly</a>. Super simple CI/CD framework with repeatable builds that you write once and run anywhere – laptop, remote, or any CI.
  </p>
</div>
