<section id="blog-bottom-cta-test" style="display: none;" class="bg-blue-50 rounded-xl pt-6 pl-6 pr-10 not-prose">
  <div class="lg:grid grid-cols-3 gap-6 w-[calc(100%_-_80px)]">
    <div class="mb-2 pb-4 lg:pb-0 flex flex-col items-start col-span-2">
      <h2 class="mb-4 text-2xl font-bold tracking-tight leading-tight">
        Are you ready <br />
        <span class="text-[#2d7e5d]">
          for a simpler way to build software?
        </span>
      </h2>
      <div class="pb-4">
        Fast, repeatable CI/CD with an instantly familiar syntax – like
        Dockerfile and Makefile had a baby.
      </div>
      <a class="inline-block px-7 py-3 text-white bg-[#2d7e5d] font-medium no-underline text-sm leading-snug uppercase rounded shadow-md hover:bg-green-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-800 active:shadow-lg transition duration-150 ease-in-out mb-2 md:mr-2"
        href="https://earthly.dev/" onclick="blogHomepageCTAClick()" role="button" data-mdb-ripple="true" data-mdb-ripple-color="light">
        Get started
      </a>
      <a class="inline-block px-7 py-3 bg-transparent text-[#2d7e5d] font-medium text-sm leading-snug uppercase rounded hover:text-green-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none focus:ring-0 active:bg-gray-200 transition duration-150 ease-in-out mb-2"
        data-mdb-ripple="true" data-mdb-ripple-color="success"
        href="/blog/introducing-earthly-build-automation-for-the-container-era/" role="button">
        Learn more
      </a>
    </div>
    <a class="hover:underline hidden lg:flex" href="/">
      <div class="mr-10">
        <div
          class="bg-white col-span-5 rounded-xl overflow-hidden items-center justify-center flex shadow-2xl lg:mt-2 min-h-[100px]">
          <div class="flex relative -mt-4 items-center justify-center">
            <svg class="h-64 text-[#2d7e5d]" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M13.4556 6.85504C14.9314 5.50111 16.8613 4.74994 18.864 4.74994L19.2501 4.74994V5.13607C19.2501 7.1388 18.4989 9.0687 17.145 10.5444L10.9948 17.2478L6.7522 13.0052L13.4556 6.85504Z"
                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M7.25 16.75L4.75 19.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path d="M9.25 18.75L8.75 19.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path d="M5.25 14.75L4.75 15.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path d="M13 19.25L14.24 14L11 17.25L13 19.25Z" stroke="currentColor" stroke-width="1.5"
                stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M6.75 13L10 9.75L4.75 10.75L6.75 13Z" stroke="currentColor" stroke-width="1.5"
                stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </div>
        </div>
      </div>
    </a>
  </div>
</section>