<div id="blog-bottom-cta-control" class="bg-blue-50 rounded-lg px-6 py-1">
  <p class="my-1">
    <span class="text-xl font-medium">Earthly Cloud: Consistent, Fast Builds, Any CI</span>
    <br />
    <span class="text-lg font-normal italic">Consistent, repeatable builds across all environments. Advanced caching for faster builds. Easy integration with any CI. 6,000 build minutes per month included.</span>
  </p>
  <p class="text-xl my-1">
    <a href="https://cloud.earthly.dev/login" target="_blank" onclick="blogHomepageCTAClick2()">Get Started Free</a>
  </p>
</div>

<script>
function blogHomepageCTAClick2() {
  analytics.track('blog-bottom-cta2-click', {
    category: 'Get Started Free',
    label: 'blog-bottom-cta-click'
  });
}
</script>
