<span id="docker-fundamentals-cta">
  If you enjoyed this tutorial you might want to grab a copy the **free eBook <a href="https://newsletter.earthly.dev/docker-fundamentals" onclick="blogEbookCTADockerFundamentalsClick()">"Docker Fundamentals"</a>**. It covers the essentials of Docker, including volumes, networking, secrets management, logging, multistage builds, debugging, and even practical use cases like integration with Visual Studio Code and GitHub Actions. **Download the <a href="https://newsletter.earthly.dev/docker-fundamentals" onclick="blogEbookCTADockerFundamentalsClick()">free Docker Fundamentals ebook right now.</a>**
  </span>
  <script>
      function blogEbookCTADockerFundamentalsClick() {
        analytics.track('blog-bottom-cta-click', {
          category: 'Learn More about Earthly Click',
          label: 'blog-bottom-cta-click'
        });
      }
  </script>