<!-- Section: Design Block -->
<section class="mb-12 text-gray-800 bg-blue-50 rounded-xl">
  <div class="px-6 py-6">
    <div>
      <div class="text-3xl font-bold tracking-tight text-black/80 not-prose">
        Get notified about new articles!
      </div>
      <div class="mb-4 opacity-80 mt-1">
        We won't send you spam. Unsubscribe at any time.
      </div>
    </div>
    <script src="https://f.convertkit.com/ckjs/ck.5.js"></script>
    <div class="block rounded-lg shadow-lg bg-white px-6 py-4">
      <div class="newsletter text-2xl font-bold mb-1">Subscribe to the Newsletter</div>

      <form id="embedded-newsletter-form" action="https://app.convertkit.com/forms/2810221/subscriptions" markdown="0"
        class="bg-white" method="post" data-sv-form="2810221" data-uid="c350589119" data-format="inline"
        data-version="5"
        data-options='{"settings":{"after_subscribe":{"action":"message","success_message":"Success! Now check your email to confirm your subscription.","redirect_url":""},"analytics":{"google":null,"facebook":null,"segment":null,"pinterest":null,"sparkloop":null,"googletagmanager":null},"modal":{"trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"powered_by":{"show":true,"url":"https://convertkit.com/features/forms?utm_campaign=poweredby&amp;utm_content=form&amp;utm_medium=referral&amp;utm_source=dynamic"},"recaptcha":{"enabled":false},"return_visitor":{"action":"show","custom_content":""},"slide_in":{"display_in":"bottom_right","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"sticky_bar":{"display_in":"top","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15}},"version":"5"}'
        min-width="400 500 600 700 800">
        <div class="formkit-background" style="opacity: 0.2"></div>
        <div data-style="minimal">
          <div data-element="fields" data-stacked="false" class="seva-fields formkit-fields">
            <div class="formkit-field">
              <input id="embedded-newsletter-form-email" class="border rounded-md p-2 mb-2 w-3/4" name="email_address" aria-label="Email Address"
                placeholder="Email Address" required="" type="email" />
            </div>
            <button data-element="submit" class="formkit-submit formkit-submit w-44 pt-1 pb-1" style="
          color: rgb(255, 255, 255);
          background-color: rgb(22, 119, 190);
          border-radius: 4px;
          font-weight: 400;
            ">
              <div class="formkit-spinner">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <span class="">Subscribe</span>
            </button>
          </div>
          <div class="formkit-guarantee" data-element="guarantee">
          </div>
        </div>
        <style></style>
      </form>
    </div>
    <script>
      const form = document.getElementById('embedded-newsletter-form');
      form.addEventListener('submit', function (event) {
        var formEmail = document.getElementById('embedded-newsletter-form-email').value;
        analytics.identify(formEmail);
        analytics.track('embedded-newsletter-form', {
          category: 'Form Submission',
          label: 'embedded-newsletter-form'
        });
      });
    </script>
  </div>
</section>
<!-- Section: Design Block -->
