<div id="blog-bottom-cta-control" class="bg-blue-50 rounded-lg px-6 py-1">
  <p class="my-1">
    <span class="text-xl font-medium">Earthly + GitHub Actions</span>
    <br />
    <span class="text-lg font-normal italic">GitHub Actions are better with Earthly. Get faster build speeds, improved consistency, and local testing along with an easy-to-use syntax – no YAML – and better monorepo support.

    </span>
  </p>
  <p class="text-xl my-1">
    <a href="https://earthly.dev/earthly-github-actions" target="_blank">Go to our homepage to learn more</a>
  </p>
</div>