<span id="makefile-cta-change" style="display: none;">
If you enjoyed this tutorial you might want to grab a copy the **free eBook <a href="https://newsletter.earthly.dev/makefile" onclick="blogEbookCTAClick2()">"Makefile ins and outs"</a>**. In it you'll learn many tips and tricks for structuring builds and scaling up a build process. From how to write a simple Makefile to how to deal with dependencies and everything in between. **Download this  <a href="https://newsletter.earthly.dev/makefile" onclick="blogEbookCTAClick2()">free Makefile book right now.</a>**
</span>
<script>
    function blogEbookCTAClick2() {
      analytics.track('blog-bottom-cta-click', {
        category: 'Learn More about Earthly Click',
        label: 'blog-bottom-cta-click'
      });
    }
</script>