name: Deploy Website

on:
  # run everyday at 12:15 utf ( 8:15 am est) to roll out new posts
  schedule:
    - cron: '15 12 * * *' 
  workflow_dispatch:
  push:

jobs:
  build-website:
    name: Build Website
    runs-on: ubuntu-latest

    steps:
      - uses: FranzDiebold/github-env-vars-action@v2
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: actions/cache@v2
        id: cache
        with:
          path: .jekyll-cache
          key: ${{ runner.os }}
      - name: Download released earth
        run: "sudo /bin/sh -c 'wget https://github.com/earthly/earthly/releases/download/v0.5.8/earthly-linux-amd64 -O /usr/local/bin/earthly && chmod +x /usr/local/bin/earthly'"
      - name: cache images
        uses: actions/cache@v2
        with:
          path: |
            blog/_site/generated/
          key: ${{ runner.os }}
      - name: Build Site
        run: |-
          if [ "$CI_ACTION_REF_NAME" == "main" ]; then
            echo "Main Build - going to prod!"
            earthly --use-inline-cache +build
          else
            echo "Branch Build - only for preview"
            earthly --use-inline-cache +dev-build 
          fi
          
      - name: checkout branch in repo website-output
        run: |-
          git clone --depth 1 https://x-access-token:${{ secrets.PUSH_SECRET }}@github.com/earthly/website-output.git
          cd website-output
          git checkout $CI_ACTION_REF_NAME 2>/dev/null || git checkout -b $CI_ACTION_REF_NAME
          git rm -rf .
          git clean -fxd 
      - name: "copy files"
        run: |- 
          cp -a build/site/. website-output/ || true
      - name: git push
        run: |-
          cd website-output
          git config user.name "Automated"
          git config user.email "actions@users.noreply.github.com"
          if [ -z "$(git status --porcelain)" ]; then
            echo "Clean!"
          else
            git add -A
            git commit -m "Latest data: ${timestamp}"
            git push --force --set-upstream origin $CI_ACTION_REF_NAME
          fi
          