<main class="mb-10 mt-[70px] pt-16 lg:pt-24 relative">
  <div class="flex flex-col items-center max-w-7xl mx-auto px-4 lg:px-10">
    <h1 class="font-medium max-w-4xl text-[#2d7e5d] text-5xl sm:text-7xl text-center tracking-tight">Earthly Solutions</h1>

    <p class="max-w-lg mt-10 text-[#475569] text-xl text-center tracking-tight">
      With Earthly, all builds are self-contained, consistent, portable, and language agnostic.
    </p>

    <div class="bg-white flex flex-col lg:flex-row gap-5 max-w-5xl mt-10 pb-14 pt-10 px-8 rounded-xl shadow-xl">
      {% for item in site.data.earthly-features %}
        <div class="flex flex-1 flex-col items-center">
          <img class="w-11 h-11" src="{{ item.image }}" alt="{{ item.title }}" />
          <div class="font-bold flex items-center my-4 text-[#475569] text-2xl text-center">{{ item.title }}</div>
          <div class="font-normal text-[#6b7280] text-lg text-center tracking-tight">{{ item.description }}</div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="wave-container">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
</main>
