<div class="max-w-7xl mt-4 mx-auto px-4 lg:px-10">
  <div class="bg-[#e9f8ff] border border-[#ededed] flex flex-col-reverse md:flex-row items-center p-4 lg:p-2 rounded-md">
    <div class="flex-1 mt-4 md:mt-0 md:pr-10 lg:pl-4 lg:pr-14">
      <div class="font-bold text-[#475569] text-2xl tracking-tight">
        Earthly + GitHub Actions
      </div>
      <div class="mt-4 text-[#6b7280] text-lg tracking-tight">
        GitHub Actions are better with Earthly. Faster build speeds, improved 
        consistency, and local testing along with an easy-to-use syntax – no 
        YAML – and better monorepo support.
      </div>

      <a href="/earthly-github-actions" class="inline-block mt-6">
        <div class="w-fit cursor-pointer decoration-[#2d7e5d] flex items-center hover:underline">
          <p class="font-bold text-[#2d7e5d] text-lg tracking-tight">Learn More</p>
          <img class="ml-1" src="assets/svg/chevron-green.svg" alt="Chevron" />
        </div>
      </a>
    </div>

    <img class="w-full md:w-fit lg:h-[260px]" src="assets/svg/automate-ci.svg" alt="" />
  </div>

  <div class="bg-[#e9f8ff] border border-[#ededed] flex flex-col-reverse md:flex-row items-center mt-8 p-4 lg:p-2 rounded-md">
    <div class="flex-1 mt-4 md:mt-0 md:pr-10 lg:pl-4 lg:pr-14">
      <div class="font-bold text-[#475569] text-2xl tracking-tight">
        Faster Builds with Earthly
      </div>
      <div class="mt-4 text-[#6b7280] text-lg tracking-tight">
        Make your builds faster with Earthly and Earthly Cloud. Automatic
        caching and parallel execution. Works seamlessly with any CI.
      </div>

      <a href="/faster-builds" class="inline-block mt-6">
        <div class="w-fit cursor-pointer decoration-[#2d7e5d] flex items-center hover:underline">
          <p class="font-bold text-[#2d7e5d] text-lg tracking-tight">Learn More</p>
          <img class="ml-1" src="assets/svg/chevron-green.svg" alt="Chevron" />
        </div>
      </a>
    </div>

    <img class="w-full md:w-fit lg:h-[260px] bg-white rounded-2xl" style="width: 366px" src="assets/svg/faster-builds.svg" alt="" />
  </div>

  <div class="bg-[#e9f8ff] border border-[#ededed] flex flex-col-reverse md:flex-row items-center mt-8 p-4 lg:p-2 rounded-md">
    <div class="flex-1 mt-4 md:mt-0 md:pr-10 lg:pl-4 lg:pr-14">
      <div class="font-bold text-[#475569] text-2xl tracking-tight">
        Earthly for Monorepos
      </div>
      <div class="mt-4 text-[#6b7280] text-lg tracking-tight">
        Simpler, faster monorepo builds via minimizing build scope,
        parallelization, caching, and a modern import system.
      </div>

      <a href="/monorepos" class="inline-block mt-6">
        <div class="w-fit cursor-pointer decoration-[#2d7e5d] flex items-center hover:underline">
          <p class="font-bold text-[#2d7e5d] text-lg tracking-tight">Learn More</p>
          <img class="ml-1" src="assets/svg/chevron-green.svg" alt="Chevron" />
        </div>
      </a>
    </div>

    <img class="w-full md:w-fit lg:h-[260px] bg-white rounded-2xl" style="width: 366px" src="assets/svg/monorepo.svg" alt="" />
  </div>

<!--
  <div class="gap-5 flex flex-wrap justify-center mt-5">
    {% for item in site.data.solutions %}
      <div class="border border-[#ededed] flex flex-1 flex-col p-6 rounded-md shadow earthly-solution">
        <img class="w-11 h-11" src="{{ item.image }}" alt="{{ item.title }}" />
        <div class="w-full font-bold flex items-center mt-2 text-[#475569] text-2xl tracking-tighter">{{ item.title }}</div>
        <div class="w-full font-normal mt-4 text-[#6b7280] text-lg tracking-tight">{{ item.description }}</div>

        <a href="{{ item.link }}" class="inline-block mt-6">
          <div class="w-fit cursor-pointer decoration-[#2d7e5d] flex items-center hover:underline">
            <p class="font-bold text-[#2d7e5d] text-lg tracking-tight">Learn more</p>
            <img class="ml-1" src="assets/svg/chevron-green.svg" alt="Chevron" />
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
-->
</div>
